[2022-04-27 05:17] lastzero commented on #2283
Of course the performance CAN be improved. The question is what it costs compared to better hardware. Every vendor has hardware requirements and so do we...

Besides, 2000 face clusters seems to be way too much unless you only have portraits/faces and from each person many shots? After MONTHS of indexing also sounds much too long, should be days max. Does that mean, you never updated? Our latest b

[2022-04-27 05:25] inakrin commented on #1148
I'm experiencing the same issue. Most of the videos are shot with a Gopro camera if it matters.

[2022-04-27 07:31] srett commented on #2258
Hey, this is pretty cool and you seem to be making rather good progress. I'm usually working on the opposite end of the tech-stack so all this web stuff is just black magic to me. Great to see there can still be made some significant performance improvements with the current implementation.

I tried giving my kids an old tablet with just 1.5GB of RAM to browse the photos, but after scrolling a sho

[2022-04-27 11:14] lastzero commented on #2283
I'm moving this to GitHub Discussions as it needs a root cause and feasibility analysis before it can be addressed. Our team is constantly working to improve performance based on our own and our users' experience on (probably) more modern hardware. I've also added a general note to our [FAQs in Getting Started](https://docs.photoprism.app/getting-started/faq/#can-you-improve-performance-when-using

[2022-04-27 11:15] #2283 closed, assigned to nobody

[2022-04-27 11:49] lastzero commented on #1148
Does the issue still occur with our latest preview build? Many parts of the indexing and thumbnail creation process have been improved, so the problem MAY be fixed.

[2022-04-27 14:39] sunbeam60 commented on #2228
Ok, finally had some time to test it and it's mixed news. First of all, I'm running the:preview image - I presume this is where the changes have manifested.

Despite running with ...

... I seem to be going straight to libx264:

I was expecting [h264_qsv to be invoked, possibly failing with a an error message](https://github.com/photoprism/photoprism/blob/182bc09d87b86310b076e44a3b6302898cff4efc/i

[2022-04-27 16:16] rabotond commented on #2273
I tested it and seems to work fine. Samsung S21 raw footage.
<img width="293" alt="image" src="https://user-images.githubusercontent.com/8861905/165565331-f121f763-4ca6-494a-b8b5-4d7f0dae988b.png">

[2022-04-27 16:43] lastzero commented on #2273
Thanks for testing!

[2022-04-27 22:04] lastzero commented on #2228
Try "intel" as encoder and PHOTOPRISM_INIT="gpu"

[2022-04-27 22:05] heikomat commented on #2258
Update: i found another Hour today. Cards are "virtualized" aswell.
Scrolling through 3600 pictures was way smoother, and the final ram usage went down from 2.6GB to 850MB.

Next steps: Testing other pages than "search", cleaning up the changes (deduplicate logic) and running the tests

[2022-04-27 22:32] lastzero commented on #2258
Awesome, hope I have some time for testing (maybe even development) soon! Still busy with handling support, setting up our new company (see Twitter for the announcement), and updating our legal docs like privacy policy, terms of service, code of conduct, security policy, GDPR Statement,... Can't believe you need so many documents to get started 😂

[2022-04-28 00:26] Snake883 commented on #464
Rotating the orientation within PhotoPrism is crucial.

I haven't figured out how to install exiftool on Slackware to change the metadata.

[2022-04-28 23:46] sunbeam60 commented on #2228
That's not made a difference...

Happens with following values in compose file:

Force rebuilt from preview:

... and build-spew indicates it's a very fresh container:

Does that look like the right preview?

[2022-04-29 00:38] lastzero commented on #2228
Do you have sponsor features enabled? In the latest preview, hardware transcoding may be (experimentally) disabled for non-sponsors as we look for ways to reduce our support overhead while providing more benefits to those who support our work.

[2022-04-29 15:52] sunbeam60 commented on #2228
🤦

I didn't. Now I do. And now it does indeed invoke QSV transcoding.

... but ... (and you're going to love this) ...

There's a typo here: https://github.com/photoprism/photoprism/blob/182bc09d87b86310b076e44a3b6302898cff4efc/internal/ffmpeg/convert.go#L56

Should be "-bitrate", but it's "-itrate" 😆

So understandably this happens:

In fact, I'm not sure the -(b)itrate is required, given the -b:

[2022-04-29 19:04] charles-997 opened #2291 "Docker: Upgrade RawTherapee to fix ProRAW support"
**What does not work as described in the documentation?**
Images created from my various iPhone models that support the Apple ProRAW image type are not rendered properly in the PhotoPrism WebUI. See example:
<img width="1680" alt="Screen Shot 2022-04-29 at 2 49 30 PM" src="https://user-images.githubusercontent.com/52077853/166007867-9d23a355-0208-4d7c-860d-f8b1d70af108.png">

**How can we reproduc

[2022-04-29 20:33] lastzero commented on #2291
Known issue, not properly supported by Darktable and Rawtherapee yet. Should work with Sips on macOS without Docker when you build PhotoPrism from source.

[2022-04-29 21:25] lastzero commented on #2228
Excellent catch! Thanks 💖

[2022-04-29 21:37] sunbeam60 commented on #2228
Should be added, of course, that I still can’t check if the permissions issues on dev/dri/renderD128 has been resolved. Please ping me when a new preview build is out and I’ll give it a whirl.

[2022-04-29 23:29] heikomat commented on #2258
@lastzero i finished up my changes , ran the automated tests and opened a PR: https://github.com/photoprism/photoprism/pull/2292

I haven't written any tests, though i'm not sure there is much i can write tests for, as these changes aren't supposed to add or alter any visual or functional behaviour.

Documentation regarding rules for this pseudo-virtualization have also not been added yet, but i'l

[2022-04-30 08:42] inakrin commented on #1376
Hello guys
I use the docker image photoprism/photoprism:latest and the issue is still present.
The same situation with the photoprism/photoprism:preview
Need to note that I'm trying to upload a folder selected from the folders menu

[2022-04-30 09:19] inakrin opened #2293 "Sharing: WebDAV Uploads should include Videos, Months, States, and Moments"
Using the photoprism:preview docker image
1. Go to any folder or album which contains videos
2. Select the contents of that folder
3. Click share in the bottom right menu
4. After uploading in the destination folder on the webdav server only the JPG previews are present, not the videos as expected

[2022-04-30 09:26] graciousgrey commented on #2293
Good catch, that's already on our list and the reason why we have not released the preview yet  ;) Besides videos, raws are also not included in manual webdav uploads.

[2022-04-30 09:34] graciousgrey commented on #1376
@inakrin Do you observe this for albums with videos only (the other bug) or also for albums containing JPGs?

[2022-04-30 09:37] inakrin commented on #1376
@graciousgrey  I've tried to upload a folder which contains both JPGs and videos.  Now tried with the folder which contains videos only - the same outcome.

[2022-04-30 09:40] graciousgrey commented on #1376
@inakrin Thanks for reporting, we will have another look at this as well.

[2022-04-30 09:41] inakrin commented on #1376
@graciousgrey  Sorry, this probably should be reported as another bug. Albums uploading works, meanwhile folder uploading doesn't.
I've confused them I guess while looking through the issues.
Meanwhile the bug where previews are uploaded instead of the videos is present in both albums and folders

[2022-04-30 16:02] Szeraax commented on #1548
I'd happily accept just being able to tag people without any marker if that is much easier to implement. Would still expect that I can just search in the people area and see all images of that user regardless of whether there is marker or not.

[2022-04-30 16:03] Szeraax commented on #1863
Oh, this is the issue that I should have upvoted. Darnit. I'd pay $20 to fix a bug if that meant that this gets completed sooner :)

[2022-04-30 19:38] giacy86 commented on #2291
Hi. Latest [RawTherapee dev build correctly handles Apple ProRaw](https://github.com/Beep6581/RawTherapee/pull/6214) iPhone dng images (though the thumbnails are a little washed out but still better than nothing). I have tested with the [dev AppImage build](https://github.com/Beep6581/RawTherapee/releases/download/nightly-github-actions/RawTherapee_dev_release.AppImage) and worked fine.
So i have

[2022-04-30 20:28] ich777 commented on #2278
@PitRejection2359 can you close this issue if everything is working?

[2022-05-01 11:09] MurzNN commented on #93
Woow, Seaweedfs is a great solution to decrease cost of any storage, using S3 as backend, it's great idea to integrate it with Photoprism, until it got native support for S3!

[2022-05-01 16:11] lastzero commented on #2228
Fixed the typo and started a new preview build for testing :+1:

[2022-05-01 19:25] PitRejection2359 commented on #2278
Fixed in preview version. Thanks for all the help.

[2022-05-01 19:25] #2278 closed, assigned to nobody

[2022-05-02 08:35] elabpro commented on #464
![image](https://user-images.githubusercontent.com/10795319/166207155-e6f8c457-b502-436b-8006-6fabd0ef8a9a.png)
I'm implementing something like this

[2022-05-02 08:37] j0rd commented on #536
I had to increase the amount of cores and memory available in docker to get photoprism to work at a reasonable speed.

I set docker to 24 threads and 42GB of ram. Still took over a day to crunch through all my photos, but this sped up the process a tonne and was my main bottleneck previously.

The label inference times would still be greatly sped up via a Coral integration though, but via the incr

[2022-05-02 08:43] graciousgrey opened #2299 "Index: Check availability of originals folder before indexing"
Some users have problems configuring their originals folder in a way that it is always accessible.
If PhotoPrism indexes when it has no access to the originals folder, all files are flagged as deleted and are not visible anymore in the Web UI.

Acceptance Criteria:
- Before indexing check if originals directory is available, if not throw an error and do not index

--> https://github.com/photoprism

[2022-05-02 15:39] dror3go commented on #271
I think that what @beefstew meant is not that selecting multiple photos is impossible in mobile devices - but that it's tedious: say I want to add 50 photos to an album, I'll have to long-press one photo, and then tap on the 49 other photos in order to select all of them, while on desktop the shift-click allows a "select from here to here".

Having said that, I feel multi-select on mobile is not p

[2022-05-02 16:16] graciousgrey commented on #271
@dror3go

"Select from here to here"/multi-select is already possible on mobile, you don't need to tap 49 photos.

1. Do long click on one photo (this selects the photo and starts selection mode)
2. Scroll down and do long click on another photo --> This will select all photos in between

[2022-05-03 10:51] ChenSun-Phys commented on #1010
Running purge multiple times solved it. Although a bit tangential to the original issue -- would there be a way to help with the [documentation](https://docs.photoprism.app/user-guide/advanced/commands/#purge) where the explanations of purge and cleanup are currently missing?

[2022-05-06 05:55] gk1089 commented on #2299
Update:
The issue resolved after system restart beyond changing file permissions and docker service restart. Checking of file permissions will indeed be useful for folks like me. I am leaving the old comment intact below though it is now irrelevant.

--
Thank you for putting it in your roadmap. Meanwhile, my issue #2298 remains unresolved. I have uploaded some files in the thread that might be use

[2022-05-06 19:18] IeuanK opened #2305 "People: Sort people dropdown by confidence level by default"
**Is your feature request related to a problem? Please describe.**

When (re)assigning recognized faces to a person, the dropdown is sorted in a way that often does not put the best results at the top.

**Describe the solution you'd like**

I think it would be a major improvement to scan the face against known people and then sort this dropdown by confidence. Once you start typing, revert to the c

[2022-05-06 22:22] sucr4m commented on #466
funny enough, appearently if you share an album with limited time. pictures within that shared album can be accessed the same way even after the time has run out if single imige links were copied from the share..

[2022-05-07 08:08] graciousgrey commented on #2305
Yes, this is something that can be improved, but we need to take care of performance:

Somehow related to: https://github.com/photoprism/photoprism/issues/1865

[2022-05-07 08:13] graciousgrey commented on #466
If you shared an album with people they most likely downloaded the photos already ;)

The fact that you can see an image if you know the exact URL is not a bug.

On the contrary, it is a common best practice in Web development as it minimizes request latency and enables easy integration of a content delivery network (CDN):

https://docs.photoprism.app/developer-guide/media/thumbnails/#server-api

[2022-05-07 16:43] IeuanK commented on #2305
@graciousgrey Thanks for that, I somehow missed that issue in my search. I will close this one in favor of that one.

[2022-05-07 16:43] #2305 closed, assigned to nobody

[2022-05-07 16:46] IeuanK commented on #1865
As per my now-closed issue #2305, I think it would be ideal to sort primarily by AI confidence.
Given that this issue has other ideas, it would be neat to make it configurable; have an option to store confidence levels for all people/faces and some options for which factors you want to use when sorting the dropdown?

I really hope this gets added at some point because it would make fixing faces a

[2022-05-08 10:42] heisenberg2980 commented on #1561
Another vote for this one, it would be really cool to be able to filter pictures of our pets

[2022-05-09 13:42] heisenberg2980 opened #2311 "Faces are not added to the People tab"
**What does not work as described in the documentation?**

After indexing the library, the process completes the face recognition without showing any error, but the faces don´t appear in the People tab. Running command `docker-compose logs --tail=100 -f` to check the log I can see 496 faces have been found:

`photoprism-photoprism-1  | time="2022-05-09T13:11:29Z" level=info msg="faces: added 496 n

[2022-05-09 13:53] cibimo opened #2312 "File types: .livp Support"
https://support.apple.com/en-us/HT207310

[2022-05-09 15:43] Dulanic commented on #352
I'll add my golden label to this, I'd love to finally be rid of 3rd party apps etc... to view my 360/panoramic photos.

Another example of a 360 photo!

https://dulanic.com/img/PXL_20211230_172250409.PHOTOSPHERE.jpg

[2022-05-09 18:05] heisenberg2980 commented on #2311
After some hours the faces have started to appear in the people tab and in the database (at different rates though, 338 in the people tab, and 614 in the database so far), so it seems they are not added immediately but later in the background, so closing this issue

[2022-05-09 18:05] #2311 closed, assigned to nobody

[2022-05-09 18:28] SimplyCorbett opened #2313 "HEIF does not import. JPEG does."
When uploading HEIF files it states the import does not exist. It works with JPEG. This is using the latest photoprism as of now.

HEIF:

[code]

JPEG:

[code]
[code]

[2022-05-09 20:11] #2313 closed, assigned to nobody

[2022-05-10 02:58] lastzero commented on #352
Hopefully we have the resources to get this implemented soon, it's not that we don't want to! 🍀

[2022-05-10 03:00] lastzero commented on #2312
Live Photos should generally work, we have examples on our public demo.

[2022-05-10 08:11] elabpro commented on #464
Image (source image in Import folder and image in original folder) is rotating and the problem is to update thumbs ... I can regenerate them but I can't replace the previous ones. I keep working on it

[2022-05-10 09:57] cibimo commented on #2312
I downloaded the live photo from alicloud disk backup and the suffix is .livp. Put it into the import folder and it cannot be imported automatically. You need to change the suffix to .HEIC.
In addition, I found that files in webp format cannot be imported.

[2022-05-10 10:03] cibimo opened #2314 "Library: DS_Store file in Mac OS"
the .DS_Store file in /originals is recognized as a hidden file and displays an error message on the web page

[2022-05-10 10:11] cibimo commented on #2314
Maybe there is ambiguity in Chinese translation
该索引当前包含 54 个隐藏文件。它们的格式可能不受支持，它们尚未转换为JPEG或存在重复项。
"隐藏文件" means "hidden file", It should be replaced by "无法识别的文件" means "Unrecognized file"

[2022-05-10 10:11] #2314 closed, assigned to nobody

[2022-05-10 11:30] #2312 closed, assigned to nobody

[2022-05-10 21:46] sailhobie commented on #536
Coral support would be great

[2022-05-11 01:04] lastzero commented on #2312
WebP is only supported in our development preview. While live photos are supported, the livp extension is currently not:

https://photoprism.app/kb/file-formats

Where can we get samples or a document describing what specific container and codecs may be contained in such a file and why Apple did not (continue) to use a standard extension?

[2022-05-11 11:46] amigthea opened #2317 "Library: Multiple separated libraries"
**Describe the solution you'd like**

I would like to be able to separate originals content in different libraries so that when I go to the Calendar or Labels section the original contents do not get merged together

**Describe alternatives you've considered**

Folder separation is not enough

[2022-05-11 11:52] graciousgrey commented on #2317
See: https://github.com/photoprism/photoprism/issues/98 :)

[2022-05-11 11:52] #2317 closed, assigned to nobody

[2022-05-11 11:57] amigthea commented on #2317
Hi @graciousgrey, thank you for joining the discussion. It's sad to see this closed so fast, the issue you're linking me is not what I asked help for, I do not need a separate accounts but separate libraries inside tha same profile. Can this be opened again?

[2022-05-11 12:17] graciousgrey commented on #2317
@Azertooth I closed it as duplicate as the requested functionality will be part of the issue that is already on our roadmap.
The possibility to have multiple libraries with a separate index on one PhotoPrism installation will be part of multi user.
It should then also be possible that one user has access to multiple libraries, which is what you described :)

[2022-05-11 12:31] amigthea commented on #2317
As long as having multiple users will not be mandatory to have separated library index it will be perfect! thank you for the assistance

________________________________
Da: Theresa Gresch ***@***.***>
Inviato: mercoledì 11 maggio 2022 14:17
A: photoprism/photoprism
Cc: Azertooth; Mention
Oggetto: Re: [photoprism/photoprism] Library: Multiple separated libraries (Issue #2317)

@Azertooth I closed

[2022-05-13 07:28] jt0in3e commented on #939
@scolby33 I've used your configs and new version of ```photoprism``` and now everything works. I've written a blog post, it is in Ukrainian lang, but configs are understandable ))
[link to blog post](https://jt0in3e.github.io/2022/05/%D0%B2%D0%BA%D0%BB%D1%8E%D1%87%D0%B0%D1%94%D0%BC%D0%BE-photoprism-%D0%B7%D0%B0-%D1%81%D1%82%D1%96%D0%BD%D0%BE%D1%8E-nginx-%D1%96-%D0%B2-%D1%81%D1%83%D0%B1-%D0%B4%D0%B

[2022-05-13 11:07] dada513 commented on #782
Any progress?

[2022-05-13 12:35] graciousgrey commented on #782
We have a zero bug policy and do our best to help users when they need support or have other questions.

This comes at a price, as we can't give exact deadlines for new features. Also keep in mind that epics like multi-user support can't be delivered in a single update. Working on big features is a continuous process that can take months to years until all use cases are covered.

Having said that,

[2022-05-14 01:48] danielhoherd opened #2320 "Metadata: Prefer SubSecDateTimeOriginal and SubSecCreateDate timestamps"
## What does not work as described in the documentation?

- Photo detail views have incorrect datetimes in some circumstances
- Chronological sort is incorrect in some circumstances

When viewing collections of images, timezones are not considered when sorting photos. Photos from two separate cameras set to the same objective time but with a different timezone will not correctly sort chronological

[2022-05-14 07:39] catchdave commented on #1696
I had a lots of issues trying to get photoprism running on **Synology** with non-root users, the below docker-compose ended up working for me (specifically **portainer** stack):

[code]

[2022-05-14 08:25] lastzero commented on #1696
Old Portainer version? The new one should support Docker Compose v3 files.

[2022-05-14 10:06] louwers commented on #466
Are the links you get with `Copy image link` guaranteed to continue to work in the future?

If not having a link that can be used for hotlinking would be very useful.

[2022-05-14 10:12] lastzero commented on #466
No, they can break when the security token changes or becomes invalid.

[2022-05-15 03:41] cibimo opened #2323 "Library: You cannot batch modify the shooting time after multiple selections"
Some photos are taken at the wrong time, but it's too troublesome to modify them one by one.
Modifying after multiple selections will only modify the first selected one.

[2022-05-15 10:52] lastzero commented on #2323
Until batch editing is implemented, you will need to rely on external tools and apps:
- #271

If you sign up as a sponsor, we can provide this feature faster: https://photoprism.app/membership

[2022-05-15 10:52] #2323 closed, assigned to nobody

[2022-05-15 14:28] simeonradivoev opened #2325 "UX: Navigate between stacked images in fullscreen mode"
**Is your feature request related to a problem? Please describe.**

When viewing stacked photos you don't really get the idea they are stacked, would be nice if thumbnails of all the stack photos are shown. Would also help with navigating stacked photos.

**Describe the solution you'd like**

Similar to how google photos. When in fullscreen show small list of horizontal thumbnails of all the stack

[2022-05-15 20:51] rdevries20 commented on #1438
Hi,

First of all thanks for the great work, I really like the application. I'm also experiencing performance problems with ~ 20.000 images and SQL (MariaDB) database. Default docker setup. For example this query seems to load every time the app is visited in browser:

[code]

According to MariaDB this query takes 1 minute and 47 seconds to complete. In that time the GUI already performs the same

[2022-05-15 20:55] lastzero commented on #1438
Tested with our preview build? We have 100k+ files for testing and do not observe such long query times.

[2022-05-16 05:41] rdevries20 commented on #1438
Was using the docker default (latest), switching to preview build (Build 220510-16c30fff-Linux-AMD64) via the docker-compose file fixed the long query time. GUI is now responding within seconds and no longer 100% CPU load on MariaDB. Thanks!

[2022-05-16 15:05] yuanfulou commented on #2125
For the simplified part, I wonder how to indicate the encoder? I successfully install the `testing` version of FFmpeg to get the `h264_nvenc` encoder. I copied a sample .mov file and tested the encoder, it successfully used GPU to finish the FFmpeg command within the container. However, when I set `PHOTOPRISM_FFMPEG_ENCODER: "h264_nvenc"` in the docker-compose file and indexed some new files, it d

[2022-05-16 15:17] yuanfulou commented on #2125
[code]

The ffmpeg commands I tried:
[code]
All triggered GPU to accelerate the process

ffmpeg info
[code]

[2022-05-16 16:54] mglaske commented on #1308
Update?

[2022-05-16 23:53] lastzero commented on #2267
Definitely an authentication / http configuration issue. Found many similar reports related to WebDAV and Owncloud via Google:

- https://github.com/owncloud/core/issues/12146
- https://github.com/owncloud/core/issues/21461

The auto detected WebDAV resource URL is OK (no such thing and "-binduser" etc, this is the exact same URL that Owncloud provides in their UI for connecting with the admin use

[2022-05-17 00:07] lastzero commented on #2320
Support for SubSec timestamps was added recently. Read priority has been increased so that they are used first. Might be all that's needed! Please test :+1:

[2022-05-17 01:16] cameronetchart opened #2327 "Docker: opensuse repo for darktable has invalid signature"
My system: x86 ubuntu server 22.04 LTS running latest docker and stable photoprism docker

Problem: when you initiate with the "gpu" setting, the opensuse repo for darktable/Debian_11 has an invalid signature which I believe is causing it to not install (although I don't use darktable in my installation).

Log:

**_> Err:7 http://download.opensuse.org/repositories/graphics:/darktable/Debian_11  In

[2022-05-17 01:30] lastzero commented on #2327
Our latest release (available very soon) uses the packages provided by Debian, so this should no longer be a problem.

[2022-05-17 01:32] cameronetchart commented on #2327
Great, thanks! Just noticed this is also causing the gpu drivers to not be installed, breaking quick sync transcoding. Glad to hear it's fixed soon.

[2022-05-17 01:33] #2327 closed, assigned to nobody

[2022-05-17 02:39] yuanfulou commented on #2125
With the preview version of image `image: photoprism/photoprism:preview`, `h264_nvenc` installed automatically.
[code]

Tho ENV looks right
[code]

but config looks weird. It uses `libx264` instead.
[code]

When I tried
[code]
it can utilize GPU without any issue.

Not sure why `ffmpeg-encoder` did not change to `h264_nvenc`

[2022-05-17 02:46] lastzero commented on #2327
Updated the package source in our install script :+1:

[2022-05-17 02:53] lastzero commented on #2291
This request came a bit too late, as we have just released. For reference, this is the version that ships with our default Docker image:

https://packages.debian.org/bookworm/rawtherapee

[2022-05-17 05:01] lastzero commented on #1308
Latest update: https://github.com/photoprism/photoprism/releases/tag/220517-b9c68f8f

[2022-05-17 06:47] graciousgrey commented on #2125
Are you a sponsor, the ffmpeg-encoder is a sponsor only config option ?

[2022-05-17 06:53] yuanfulou commented on #2125
oh wow. Did not notice the sponsor part. Let me check that up 😅

[2022-05-17 09:58] #2178 closed, assigned to lastzero

[2022-05-17 09:58] #2216 closed, assigned to lastzero

[2022-05-17 09:59] graciousgrey commented on #2125
You find more information on sponsorship options here: https://photoprism.app/membership :)

[2022-05-17 10:00] #2125 closed, assigned to lastzero

[2022-05-17 10:01] #2222 closed, assigned to lastzero

[2022-05-17 10:02] #2195 closed, assigned to lastzero

[2022-05-17 10:02] #1017 closed

[2022-05-17 10:03] #2227 closed, assigned to lastzero

[2022-05-17 10:03] #2247 closed, assigned to lastzero

[2022-05-17 10:04] #2250 closed, assigned to lastzero

[2022-05-17 10:04] #2262 closed, assigned to lastzero

[2022-05-17 10:04] #2215 closed, assigned to lastzero

[2022-05-17 10:05] #2189 closed, assigned to lastzero

[2022-05-17 10:05] #2248 closed, assigned to lastzero

[2022-05-17 10:08] #2228 closed, assigned to nobody

[2022-05-17 10:09] #2271 closed, assigned to lastzero

[2022-05-17 10:09] #2273 closed, assigned to lastzero

[2022-05-17 10:10] #2265 closed, assigned to lastzero

[2022-05-17 10:11] #1995 closed, assigned to lastzero

[2022-05-17 10:11] #2257 closed, assigned to lastzero

[2022-05-17 10:12] #2239 closed, assigned to lastzero

[2022-05-17 10:13] #625 closed

[2022-05-17 10:13] #2196 closed, assigned to lastzero

[2022-05-17 10:14] #2231 closed, assigned to lastzero

[2022-05-17 10:15] #2252 closed, assigned to lastzero

[2022-05-17 10:16] #2182 closed, assigned to lastzero

[2022-05-17 10:17] #2169 closed, assigned to lastzero

[2022-05-17 10:17] #1438 closed

[2022-05-17 10:17] #2079 closed, assigned to lastzero

[2022-05-17 10:18] #1994 closed, assigned to lastzero

[2022-05-17 10:18] #2233 closed, assigned to lastzero

[2022-05-17 10:19] #2181 closed, assigned to lastzero

[2022-05-17 10:19] #2199 closed, assigned to lastzero

[2022-05-17 10:20] #1785 closed, assigned to lastzero

[2022-05-17 10:20] #551 closed

[2022-05-17 10:20] #1781 closed, assigned to lastzero

[2022-05-17 11:32] rikki78 commented on #2225
Hi I have the same issue but running the plugin under OMV. Is there a workaround available? Where should I create this photoprism folder exactly?

[2022-05-17 11:39] lastzero commented on #2225
Already using our latest version, released today?

[2022-05-17 12:54] rikki78 commented on #2225
Well I'm running OMV and using photoprism as plugin. So I'm relying on the update to be available from OMV and I was hoping there is a workaround until that becomes available.

[2022-05-17 12:58] lastzero commented on #2225
Is it pinned to a particular Docker image or are they shipping their own binaries?

[2022-05-17 13:14] rikki78 commented on #2225
I don't really know, the image name is `docker.io/photoprism/photoprism:latest`

[2022-05-17 13:20] lastzero commented on #2225
So it should pull the latest version. Either automatically or you can trigger this using a command.

[2022-05-17 13:44] pjft commented on #554
Following this. :)

To be clear, the tags can exist without a corresponding region tag.

These are the tags I'm aware of on this front:
-xmp-mediapro:People
-xmp-expressionmedia:People and
-PersonInImage

Unsure if this is the specific issue that this information is relevant to, but let me know otherwise and I'll update other issues.

Thanks!

[2022-05-17 14:00] rikki78 commented on #2225
So I've tried this, and now photoprism won't start anymore.
This is the output from podman logs:
Should I just wait?
[code]

[2022-05-17 14:03] rikki78 commented on #2225
Sorry I was not patient enough. It started.

[2022-05-17 23:06] kvalev opened #2330 "Stacking: Deleting a stacked file leads to inconsistent photo metadata"
**What does not work as described in the documentation?**

When multiple files are stacked, one of the `file`'s metadata is used as the `photo`' metadata. However if said file is deleted from the file system, the `photo`'s metadata does not get updated and still shows the metadata if the deleted file.

**How can we reproduce it?**

Steps to reproduce the behavior:

1. Have two stacked videos (for

[2022-05-18 00:19] danielhoherd commented on #2320
@lastzero I just tested this on `photoprism/photoprism@sha256:299ea4b4862e9e0385856dcdb75be0b82aff9f3aa4e65139d3342df33246ed2e` created at `2022-05-17T01:56:40.667145444Z`, and sadly the new build does not fix the problem.

- Re-scanned the whole db with "complete rescan": no change in the dates shown. Images still show as being taken in the geotagged TZ.
- Added new files with GMT TZ in the DSLR.

[2022-05-18 01:40] lastzero commented on #2320
Your initial example showed time offsets +00:00, not time zones. Now your example shows a time zone, Z. However, reading the fields you mentioned first, leads to the DateCreated field being ignored. We can't read all fields and mix the information in creative ways.

[2022-05-18 01:47] lastzero commented on #2330
You manually deleted the primary JPEG from the sidecar folder? Not via UI, but directly in the filesystem? Since the original folder is being indexed and not the sidecar folder, this isn't supported and you have to use the UI instead (which will not allow this without selecting a new primary first).

[2022-05-18 04:12] danielhoherd commented on #2320
@lastzero sorry, I've been using TZ and offset interchangeably. The original example didn't include the `DateCreated` field, which is why the Z was not shown. The file I used in the original example (20220511-22-01-32_455c68.dng) does show the TZ for `DateCreated` and an offset for `CreateDate`, just like the file in my prior comment (20211206-03-29-10_493FjF.dng) does. These two photos were taken

[2022-05-18 04:22] kvalev commented on #2330
No, I deleted the file in the original folder.

[2022-05-18 04:44] danielhoherd commented on #2320
Looking more at the exiftool side of this, [exiftool does provide a composite `TimeZone` field via custom config](https://github.com/exiftool/exiftool/blob/cf0f4e7dcd024ca99615bfd1102a841a25dde031/config_files/time_zone.config). After adding those contents to my `~/.ExifTool_config` I now see my DSLR with GMT offset, and my iPhone with my local timezone offset. Here are the two files I used in exa

[2022-05-18 05:59] lastzero commented on #2330
Anyhow, the JPEG with the ID frc1sxc1e1yw2qwv must be the new primary then as it's name matches the video file name. Unstacking both in the UI should also work with the latest changes. There's a related issue (closed). I am currently out of the office and only have my phone with me, so sorry if I missed any details.

[2022-05-18 06:10] lastzero commented on #2320
DateCreated is an XMP Field, DatesTimes in Exif for Images are not UTC but local time by default. Main exception are QuickTime and MP4 videos, which default to UTC. Since when does Nikon create DNG files with XMP Metadata? Writing this to XMP sidecar files instead should work for you. Note that even though Exiftool calls -7 a time zone, it's a time offset really.

[2022-05-18 06:30] kvalev commented on #2330
No worries, you can easily reproduce it when you are back and see for yourself.

[2022-05-18 06:33] lastzero commented on #2330
This will be on Friday and by then I will have 300+ new emails in my inbox, so no time to reproduce or code 😂

[2022-05-18 06:38] lastzero commented on #2330
- Does it work when you select the correct primary in the UI or unstack the video file after and/or instead of deleting the other?
- As we don't keep a complete history of all files and how their metadata has been used, automated resolution is not always possible or we avoid it to prevent unmaintainable code and surprise results you do not want if you would have known upfront this would happen.
-

[2022-05-18 18:29] danielhoherd commented on #2320
AFAIK Nikon does not create DNG files. These were run through Adobe DNG Converter, and manually geotagged. Nikon does support TimeZone as a default property though:

[code]

If the feedback I'm leaving is not helpful then I can back off and let the experts do their thing. The original issue still stands though: Photoprism currently does not respect the offset of the clock in the camera that took t

[2022-05-18 18:50] lastzero commented on #2320
It's helpful to learn about your needs. However, time ZONE and OFFSET have defined, distinct meanings (independent of how Exiftool labels the value +01:00, it is not a zone): https://www.w3.org/International/core/2005/09/timezone.html

Money Quote:

[2022-05-18 18:54] lastzero commented on #2320
If the timestamps have an offset, it is local time. This already is the default for Exif timestamps. If the metadata also contains the GPS coordinates, the ZONE and OFFSET should be correct and properly displayed. If the GPS coordinates are missing, then how does the Camera or other tools you use know the offset or zone?

[2022-05-18 19:50] lastzero commented on #2320
Also note that the latest release will sort by local times instead of UTC (if available). We may add settings for this in a future release.

[2022-05-18 22:05] danielhoherd commented on #2320
I have created some unmodified test images that show the problem and I can share them if you'd like. I have both JPG and NEF files available.

I set my D850 TZ to UTC +00:00, plugged in a GPS, and took some photos in America/Los_Angeles (-07:00). The camera was configured to set its clock by GPS time, so the clock is correct. This setting did not interfere with the camera's TZ being set to UTC.

[

[2022-05-19 03:24] lastzero commented on #2320
You are welcome to send samples to the samples email address specified on our contact page. This is the first time someone uses UTC in a regular camera, maybe our other Exif library requires changes too or we have to prefer GPS time to handle this special case.

However, we need to be careful not to break existing functionality as local time is the default / standard. Exif does not include a time

[2022-05-19 04:31] danielhoherd commented on #2320
I see several TZ and offset related tags the exif 2 tag reference https://exiv2.org/tags.html The two most relevant are:

- Exif.Image.TimeZoneOffset: This optional tag encodes the time zone of the camera clock (relative to Greenwich Mean Time) used to create the DataTimeOriginal tag-value when the picture was taken. It may also contain the time zone offset of the clock used to create the DateTime

[2022-05-19 08:18] aldobranti opened #2332 "enable searching by image size (x y pixel count)"
I want to find the highest pixel count ) x and y for a given image

this is a nice feature in MacOS finder and helps where , over time I have resized an image for some purpose not just for upload to a website

please add as a search term such as 'min-x-pixel' , 'min-y-pixel'

please enable reporting order by image size = x-pixel * y-pixel

[2022-05-19 10:13] lastzero commented on #2320
As you already noted, these fields are not commonly used. It would also not make much of a difference as by convention the time in Exif is local time. Any explicit offset just confirms that by providing the specific time difference to UTC. If your pictures were taken in LA, then UTC+0 is the wrong offset. It is important to understand that UTC+0 is not the same as UTC (Z):

![Screenshot_20220519_1

[2022-05-19 12:41] lastzero commented on #2320
The features you are requesting seem to be...

a) override any other timestamp with the GPS time if present, which is always UTC

and/or

b) automatically adjust the Exif local time using the matching offset for the location if the camera clock offset is present but wrong and there are GPS coordinates

Is that correct?

[2022-05-19 12:49] alexislefebvre opened #2333 "Docs: Write detailed upgrade guides for each release"
**Is your feature request related to a problem? Please describe.**

A config was changed but not explained.

Example:

`PHOTOPRISM_DARKTABLE_PRESETS` was renamed to `PHOTOPRISM_RAW_PRESETS`: https://github.com/photoprism/photoprism/commit/05d39e8c3c8fd1e4f83563786aa05c115f7dc5b7

Users who deployed the project before this release have a `PHOTOPRISM_DARKTABLE_PRESETS` config in their `docker-compos

[2022-05-19 13:07] lastzero commented on #2333
Right now, we provide detailed release notes with links to the issues plus our docker-compose.yml examples. Semver with written upgrade guides may be part of a paid version as we do not have incentives to do all this work for free when users deploy our software in critical environments where it matters and they do not have time to go through changes for each release and instead expect full service

[2022-05-19 13:47] lastzero commented on #2333
## Config Options, Supported Formats and Features ##

As for general documentation of parameters and features, we have added a knowledge base to our website and added commands that will automatically provide you with this information as part of our latest release:

- https://photoprism.app/kb

That's more than most open source projects and proprietary software vendors offer, and you can create a d

[2022-05-19 16:14] danielhoherd commented on #2320
I'm really not sure if the implementation details you gave are exactly what I'm asking for, but if that's what it takes to solve the problem then that works for me.

Really?

[2022-05-19 16:19] lastzero commented on #2320
Yes. As explained above +00:00 is an offset, not a zone. Z is the UTC zone. Any offset is as good as another offset and it may well change during the year if you stay at the exact same location:

https://en.m.wikipedia.org/wiki/UTC%C2%B100:00

[2022-05-19 16:25] lastzero commented on #2320
Money Quote from the URL you provided:

CURRENTLY is key here. Zulu time or UTC always is the same, not just currently.

Edit: For me UTC+0 was a shortcut for +00:00 as I have a hard time typing all these details on a phone. My point always was to distinguish between a ZONE and an OFFSET.

[2022-05-19 17:13] lastzero commented on #2320
I will try to explain it even better, and hope you don't find it too pedantic (back in the office now with a proper keyboard):

- Z is the UNIVERSAL time zone
- UTC+0 can be used as a LOCAL or "TECHNICAL" time zone
- +00:00 is a LOCAL time OFFSET
- the numeric value of both corresponds to UNIVERSAL time as the offset is zero in both cases
- in certain locations on earth such a zero offset or the U

[2022-05-19 17:42] alexislefebvre commented on #2333
Thanks for your answer.

A diff is too huge to read, the last one contains 589 commits 1003 files changed: https://github.com/photoprism/photoprism/compare/220302-0059f429...220517-b9c68f8f

The next time that I upgrade Photoprism, I'll check the changes on the release page and compare my `docker-compose.yml` with the [current one](https://github.com/photoprism/photoprism/blob/develop/docker/examp

[2022-05-19 18:12] kvalev commented on #2330
Manually unstacking videos makes it even worse...
- unstacking one video changed the type of the original one to `image`, although it is a video
- the unstacked video file was renamed for whatever reason (wonder how this will behave if originals was mounted readonly)
- the sidecar jpg belonging to the unstacked video was left orphaned in the original `photo` object

[2022-05-19 18:20] lastzero commented on #2333
Seems you got this wrong, I meant a diff of the newly added "photoprism show" commands which now always show the currently supported options, features and formats. Not a full git diff! 😜

The raw variable should have better communicated and updated in the examples, no doubt about it. But it's not like we constantly change options and break stuff. The only reason this happend is because we have too

[2022-05-19 18:55] lastzero commented on #2330
Seems related to:
- https://github.com/photoprism/photoprism/issues/1823

Can you please go through the comments and see if this is relevant?

[2022-05-19 20:08] kvalev commented on #2330
Yes, you have described the exact same problem: https://github.com/photoprism/photoprism/issues/1823#issuecomment-1005838855

If you were to unstack the file with the same _Name_ then all hell breaks loose. I feel like this is a pretty important caveat and it should either be prohibited to unstack the "main" file or better yet, PhotoPrism should be able to handle that. At the end of the day you ca

[2022-05-19 20:25] lastzero commented on #2330
We will test this, but so far this rather sounds like an improvement for an edge case rather than an actual bug. There may also be workarounds, for example unstacking the group of files with other file name prefixes first. From what I remember, this is how it was designed.

[2022-05-19 21:07] kvalev commented on #2330
Well given that PP allows you to shoot yourself in the foot by unstacking the wrong file, it definitely feels like a bug, rather than a feature.

[2022-05-19 21:11] lastzero commented on #2330
Since you are using the software for so long and only notice this now (and nobody else), it can not be that big of a drama!? 🤗

[2022-05-20 06:14] kvalev commented on #2330
And given that you have worked in software for so long you should know by now what a bug is and that not all bugs are super urgent.

[2022-05-20 07:02] lastzero commented on #2330
We have a zero bug policy, and you said you shot yourself in the foot, which sounds pretty urgent.... as I said, we will test it, but it may well be a tradeoff we made to implement other features requested by our users, such as the ability to name sidecar files like the originals instead of using cryptic hash-based names. This is indeed a feature, although the side effects may look like a bug to y

[2022-05-20 08:19] lastzero commented on #2333
While this can't completely replace handwritten docs, the new "show" commands provide an easy way to see the available options, including a description, in a variety of formats that can be easily compared:

![Screenshot 2022-05-20 at 10 12 22](https://user-images.githubusercontent.com/301686/169484476-43c4ad29-8c77-4969-ae71-8efeab79d68f.png)

This is work in progress. A future version might even

[2022-05-20 08:37] lastzero opened #2334 "Docker: Remove incorrect permission check for storage folder on startup"
See https://github.com/photoprism/photoprism/discussions/2328#discussioncomment-2771617:

I have been made some test and is a problem with the debian bookworm version.
My test:
I pulled and run an interative sesion to a bare debian:bookworm:
[code]
Then just move to the home and create the audit.sh file with the following data:
[code]
Then chmod a+x audit.sh and run it

It fails with the permissio

[2022-05-20 08:42] lastzero opened #2335 "Logs: Omission of repeated messages and minimum level for frontend viewer"
**As a user or developer with trace mode enabled, I don't want debug logs and repeated messages sent to the user interface to limit performance overhead and prevent feedback loops when the websocket connection has problems.**

- Since log messages are forwarded to the frontend via websockets, this can lead to feedback loops if something is wrong with the websockets, e.g. if a proxy is misconfigure

[2022-05-20 10:25] lastzero opened #2336 "Docker: Specify explicitly supported user and group ID ranges"
**As a user of a self-hosted PhotoPrism instance, I want to know which user and group ID ranges are safe to use so I can avoid setup issues.**

Officially supported User and Group IDs are:
- 33
- 50-99
- 500-600
- 900-1200

[2022-05-20 12:05] vanderneut commented on #1103
I suddenly have this exact same issue as well. I have logged in several times before with admin successfully, and now it finally completed the scan of all my photos, it no longer lets me log in. No idea what to do :-/

I'm running PhotoPrism in Docker on a Synology NAS.

[2022-05-20 15:13] tushev opened #2337 "Config: Add support for listening on Unix sockets"
Hello,

PhotoPrism currently supports only HTTP port communication.

It would be nice to have UNIX socket support as well, because sockets:
1. eliminate latency from network stack => faster
2. are subject to file system permissions => better access control
3. will never lead to problems such as [docker+ufw port exposure flaw](https://stackoverflow.com/questions/30383845/what-is-the-best-practice-o

[2022-05-20 16:48] timespacedecay commented on #2334
The recent update a few days ago causes Photoprism to not start on Unraid, and it looks like its related to this storage permission check for bookworm:

[code]

[2022-05-20 17:24] lastzero opened #2339 "Auth: Allow short initial passwords to avoid login problems"
Existing users might otherwise have problems logging in after this change:

- #2248

New passwords must contain at least 8 characters. This is currently only checked in the user interface so that shorter passwords can be used for initialization.

[2022-05-20 18:34] gpulido commented on #2334
Hello,
The last patch solve the problem. I can now use the preview tag

[2022-05-20 20:20] lastzero commented on #1103
Can you try again with our latest preview? I recommend checking the logs and making sure your intance can connect to the database, that's the usual cause for failed logins.

[2022-05-20 22:06] lastzero commented on #2330
As far as I can see, the sample videos you added for testing are identical (same file size, same preview). So I downloaded a few examples from [pexels.com](https://www.pexels.com/video/a-fully-automated-production-line-of-beers-5532773/). Next, I turned sequential name indexing on and off, unstacked files, deleted files from the file system, changed primary files, and deleted obsolete JPEGs from t

[2022-05-20 22:10] lastzero commented on #2330
I will close this issue as there are a lot of feature requests with much higher priority. Nevertheless, we will keep this feedback in mind should we get the opportunity to improve UX and documentation.

[2022-05-20 22:10] #2330 closed, assigned to nobody

[2022-05-21 06:08] lastzero opened #2341 "Search: Exclude files with unknown Chroma when using `mono:true` filter"
**When I use the "mono" filter, I expect the search results to not contain files with unknown Chroma, such as animated GIF files.**

![mono](https://user-images.githubusercontent.com/301686/169638799-29aa2396-1fd4-4816-96d5-da1961fe3f03.jpg)

[2022-05-21 07:47] xplosionmind opened #2343 "BUG: HEIC images are rotated while converted to JPEG"
**What does not work as described in the documentation?**

Some HEIC images are rotated of 180° while converting to JPEG.

**How can we reproduce it?**

Steps to reproduce the behavior:

1. Upload a bunch of HEIC images
2. Run the indexing
3. in the gallery, the JPEG converted image appears as rotated of 180°
4. See error

In my library I have ~600 pictures, that I both uploaded through the web up

[2022-05-21 12:46] graciousgrey commented on #2325
This can be improved once we have a new photo viewer: https://github.com/photoprism/photoprism/issues/1307

[2022-05-21 13:14] gyto6 commented on #222
In case you need it, I think this link might help to prepare TF2 (maybe 3) support for Nvidia GPU.
https://pixinsight.com/forum/index.php?threads/gpu-accelerated-starnet-v2-working-with-cuda-and-libtensorflow-gpu-under-linux.18180/

[2022-05-21 18:12] CWempe opened #2347 "Organization: Implement different features to help cleanup files"
**Is your feature request related to a problem? Please describe.**

My library of photos gets bigger every day.
I guess many users can relate to this.

So I would like to clean up my files by deleting photos I do not need.

**Describe the solution you'd like**

It would be great if Photoprism could help me to clean up my library.

Google Photos and Google Files (Android Apps) have some features fo

[2022-05-22 02:15] lastzero commented on #2343
Sorry this is still a problem for you, I was sure it's generally fixed and other users confirmed it. Might be something server/config specific? Need to figure this out, so sadly no easy answer/quick solution.

[2022-05-22 07:15] xplosionmind commented on #2343
I understand. Thank you!

Might this be related to the uploading way?

Since the hosting is PikaPods, I have less control on the server, therefore unfortunately I can do very little more to help you.

[2022-05-22 10:04] graciousgrey commented on #2343
Rather not.

We can reproduce the issue and will have a closer look at this next week. We'll keep you updated!

[2022-05-23 08:20] #2347 closed, assigned to nobody

[2022-05-25 09:18] ngoldack commented on #2125
Is there a way to specify the NVIDIA driver version?
I'm using Unraid and it throws mismatched driver errors so it won't work.`

When I start the container I get:
[code]

And when I start to watch a video via the web-ui:
[code]
It fails back to cpu transcode.

Thanks for the great work so far!

[2022-05-25 10:32] lastzero commented on #2125
We'd probably have to build a special Unraid image for this as the version depends on the base image.

[2022-05-27 06:36] lastzero opened #2359 "UX: Light themes use wrong colors in mobile navigation submenu"
![photo_2022-05-27_08-32-24](https://user-images.githubusercontent.com/301686/170644004-22afb741-e2a7-4b45-9853-ddb4de0b3008.jpg)

[2022-05-27 06:37] lastzero commented on #2359
Has been fixed in commit https://github.com/photoprism/photoprism/commit/441827d60097e69b2e0d089936457b1a96798ff5.

[2022-05-27 06:53] lastzero opened #2360 "UX: Appearance of splash screen should not depend on user settings"
**Since the theme settings in future versions will only be known after a user has been authenticated, the design of the loading screen (splash screen) should no longer depend on the theme settings of the admin user.**

Styles have been updated for the upcoming release, see:

- https://github.com/photoprism/photoprism/commit/d46a01b6021dfed5c12d3be0382392c57dfcdd9f
- https://github.com/photoprism/p

[2022-05-27 09:57] joshuaseltzer commented on #464
@elabpro I would love the simple ability to rotate the photo (and then update the thumbnails / sidecar images accordingly).

[2022-05-27 10:28] lastzero commented on #2359
### Screenshots of Navigation Submenu

*Available options depend on the features enabled in the [app config](https://docs.photoprism.app/getting-started/config-options/) and [user settings](https://docs.photoprism.app/user-guide/settings/general/).*

####  Light Theme

![mobile-submenu-light-797x567](https://user-images.githubusercontent.com/301686/170682173-646d32f1-6dfe-4327-bd41-71a098b9037e.pn

[2022-05-27 15:15] BonzTM opened #2369 "Docker: Do not CHOWN Originals Directory"
**Is your feature request related to a problem? Please describe.**

The Originals directory is mapped from an external location through container volume mounts.  The path to originals is `/photoprism/originals`.  The `endpoint-init.sh` script chowns the originals directory, causing my external mounted originals folder to have incorrect permissions and problems.

https://github.com/photoprism/photo

[2022-05-27 19:56] lastzero commented on #2369
Does adding `PHOTOPRISM_DISABLE_CHOWN: "false"` to your `docker-compose.yml` work for you? As an advanced user, running chown/chmod automatically isn't really needed.

We expected that some users would have problems, hence the notes in the logs. However, others do not know how to execute these commands themselves, since they have no experience with terminals. Of course, the originals MUST be reada

[2022-05-27 23:42] BonzTM commented on #2369
`PHOTOPRISM_DISABLE_CHOWN="true"` is supposed to disable permission updates.  `false` would be considered default setting in that case.  Photoprism is not supposed to ever modify the originals folder, yet it's taking control and changing the owner of the shared directory.

Strangely enough, setting `PHOTOPRISM_DISABLE_CHOWN="true"` or `false` continues to modify the ownership of my pathing regardl

[2022-05-27 23:53] lastzero commented on #2369
Sorry, of course I meant true. It's not PhotoPrism, it's the Docker image and it's because it reduces the number of unpaid support requests which is a good enough reason to update permissions, not file contents. A version for professional users would not include this.

Did you properly restart the container so config changes were applied? Not much experience with your tech stack. If there's a bug

[2022-05-28 00:08] spidiracer opened #2370 "UX: Mobile navigation toolbar menu must be accessible in public mode"
Hello,

I worked with Michael Mayer yesterday and we discovered that while in public mode the three dot navigation option is not present on mobile browsers. Would like to update the code to have that navigation available so that users can upload photos from their mobile browser while in public mode similar to how its setup on the desktop browsers.

[2022-05-28 00:20] BonzTM commented on #2369
I'm sorry, the variable issue was my own fault.  The variables are working correctly

I have submitted a PR with some very light changes.  Feel free to toss, or change as desired.
https://github.com/photoprism/photoprism/pull/2371

[2022-05-28 07:26] graciousgrey commented on #2343
This should be fixed with version 220524.

Newly added HEICs should get the correct rotation.

For existing ones that have a JPG with the wrong rotation you can unstack the HEIC file. This way a new JPG will be generated. Then delete the JPG with the wrong rotation.

[2022-05-28 14:49] lastzero commented on #2370
Our preview build and demo have been updated. The menu is visible in public mode now, consumes less space, and has a more colorful design. Would you be able to test this and give feedback? 🤗

![Screenshot_20220528_164314](https://user-images.githubusercontent.com/301686/170830530-f23961ee-1abb-4ae6-b279-833e7a0bebe9.jpg)

[2022-05-28 19:03] polhaghverdian commented on #1764
@lastzero I have this exactly same error with release photoprism:220527-jammy

[code]

[2022-05-28 19:39] heikomat opened #2372 "Bug: ShortClick not recognized in chrome when scrolled down far enough"
**What does not work as described in the documentation?**

ShortClicking the slection-dot in the mosaic-view doesn't always work when having scrolled far enough.

**How can we reproduce it?**

1. Go to the mosaic view
2. Scroll far enough down (~1500 pictures)
3. Click on the selection-dot fast enough to be e short-click, but not too fast

I'm observing this behaviour in chrome, on a macbook pro,

[2022-05-28 20:03] lastzero commented on #2372
Probably because we manually handle the timing of click events so that a long/short click can be distinguished in mobile Safari. I'm in a hurry right now, but you should be able to find the related/closed GitHub issue with these keywords. It's a bit of a hack, but I haven't found a better solution that works on all browsers.

I won't have time to experiment further in the near future. So if anyone

[2022-05-28 21:23] lastzero commented on #1764
With MySQL 8? It's not supported anymore, see docs.

[2022-05-28 21:33] lastzero commented on #2370
Here is another screenshot with the Grayscale theme. It was just released. Hope it works for you! :+1:

![mobile-grayscale-submenu](https://user-images.githubusercontent.com/301686/170843463-f92b15d7-723e-4a35-bbab-81513991f0a1.png)

[2022-05-28 21:33] #2370 closed, assigned to lastzero

[2022-05-28 22:13] polhaghverdian commented on #1764
Aha, didn't know that. Sorry!

[2022-05-28 22:19] lastzero commented on #1764
Requires too many resources to completely test every release and add workarounds for MySQL 8, especially since we noticed that only very few users are (still) using it and can't upgrade....

[2022-05-28 23:10] spidiracer commented on #2370
Hi Michael,

I'm running the demo mode and it works great! Thanks again for the quick
turn around on this :)

Travis Wilson

On Sat, May 28, 2022 at 7:49 AM Michael Mayer ***@***.***>
wrote:

[2022-05-29 00:09] Dulanic commented on #2222
I am seeing issues /w QSV, it is complaining about incorrect parameters. This is an example, but it happened a bunch of times on my server.

```PHOTOPRISM_INIT="gpu tensorflow"```

[code]

[2022-05-29 00:17] lastzero commented on #2222
Would be great if you can share more details, such as your Linux kernel version / operating system, CPU type and model, and anything else that could help to reproduce this. It may also help to change the user PhotoPrism is running as in case this is a permissions issue.

[2022-05-29 00:31] Dulanic commented on #2222
CPU: Intel(R) Core(TM) i5-9400
Kernel: 5.16.14-051614-generic
I can run ffmpeg as software and it runs no problem, i use my main user 1000. It's not a permission issue. Well at least a file permission problem....

[code]

![image](https://user-images.githubusercontent.com/2948206/170846924-2cbf0d43-823a-43de-b4f9-38c09f85f6ef.png)

Plex transcodes fines, but I know they use a customized ffmpeg. I

[2022-05-29 00:34] lastzero commented on #2222
You could try one of our other Docker images based on a different Debian version as it could depend on that as well.

[2022-05-29 00:44] Dulanic commented on #2222
No change /w bullseye or jammy.

[2022-05-29 00:57] lastzero commented on #2222
Just to be sure: you installed the drivers and shred ALL required devices as shown in our example docker-compose.yml?

[2022-05-29 01:11] Dulanic commented on #2222
This is my full .env file for photoprism:

[code]

My photoprism in my docker-compose.

[code]

[code]

[2022-05-29 05:46] lastzero commented on #2222
What logs do you see when starting the container for the first time? You should see information about the drivers getting installed. Note init only runs once on the first start the variable was defined. Otherwise use docker-compose up --force-recreate

Also note that while I've added magic to make the installation work as UID 1000, you should generally use the PHOTOPRISM_UID env variable for switc

[2022-05-29 05:56] lastzero commented on #2222
I recommend trying as root, just to exclude the possibility of a permission or privilege issue after all, since these are the single most common cause for problems. Especially for transcoding and device access.

[2022-05-29 08:42] rezzalex commented on #2222
Hello everyone,

I can't succeed to make hardware acceleration works on my NAS Asustor 5202T, the CPU is an Intel® Celeron™ CPU @ 2.00GHz
and this NAS is supposed to have hardware transcoding functions.

my log when finishing a transcode is
`time="2022-05-29T07:56:10Z" level=info msg="libx264: created VID_20220526_165402.mp4.avc [13m20.938821874s]"`

my docker compose file contains this :

`PHOTOP

[2022-05-29 09:29] gyto6 opened #2374 "Index: Enable thumbnails generation with GPU (CUDA Resizer)"
I think that another good Sponsor feature would be to enable thumbnails generation with Nvidia GPU.

Even if your server's many cores, it's still more efficient to use a GPU which has more and more tiny cores dedicated to media algorithms. Power and load efficiency is also improved compared to the actual CPU generation.

I've found this link that might provide details on how to set this functional

[2022-05-29 10:36] rezzalex commented on #466
Hello @CorneliousJD ,
sorry for the silly question, but how did you manage to obtain the same link from Chrome Mobile ?

thank you

[2022-05-29 14:46] lastzero commented on #2222
Hardware transcoding is one of the special features that causes a very high support and maintenance overhead for our team. To account for that, it's currently only available to sponsors.

[2022-05-29 17:19] Dulanic commented on #2222
Changed to root...

[code]

runnng convert to get more low level details now...

[2022-05-29 20:00] Dulanic commented on #2222
This took longer than expected.... I think running it as root worked... so I assume don't use user in docker-compose lol.

[2022-05-29 20:22] Dulanic commented on #2222
One last follow up, using PHOTOPRISM_UID causes it to break again so Ill just stay root.

[code]

[2022-05-29 23:30] aniqueta commented on #1885
I haven't tested this, but I think it would likely break one's photo library, when PhotoPrism is pointed to a Mac's Apple Photos library. This is my setup, so I don't have a full duplicate of the library and can use both PhotoPrism and Apple Photos.

Anyhow, I have found that turning on "Sequential Name" under Settings -> Library has resolved the stacking issue. :)

Edit: I think it's worth leavin

[2022-05-30 11:37] ZoXx opened #2381 "MariaDB: Make sure that a supported version is used"
Hello,

since the last update (docker image) we've got problems while uploading pictures to folders (albums).

Here is our log:
2022-05-30 12:45:18 ERRO file: Error 1292: Incorrect datetime value: '0000-00-00' for column 'photo_taken_at' at row 1 while saving

[2022-05-30 12:00] graciousgrey commented on #2381
Please follow our issue template for reporting potential bugs :)

[2022-05-30 12:08] ZoXx commented on #2381
Will do next time.
But your  template is a lot to do and this bug exist since last image. I dont know how you can reproduce it but i cant be the only one with this behaviour. The other "bugs" doesnt fill in template too.

[2022-05-30 12:39] graciousgrey commented on #2381
This also applies to the development of this software and answering questions.

Uploading photos to albums works without problems on our public demo and private instances.
So it could be a problem with your setup or files.

[2022-05-30 13:18] graciousgrey commented on #2381
Might also be caused by a failed migration - could you run the following command

`docker-compose exec photoprism photoprism migrations ls`

to see if there have been errors

[2022-05-30 13:29] ZoXx commented on #2381
Here we go:
`
time="2022-05-30T13:27:57Z" level=info msg="PhotoPrism® needs your support!"
time="2022-05-30T13:27:57Z" level=info msg="Visit https://photoprism.app/membership to learn more."
|-----------------|---------|---------------------|---------------------|--------------------------------|
|       ID        | Dialect |     Started At      |     Finished At     |             Status

[2022-05-30 15:28] ZoXx commented on #2381
So it's an official bug? The tag was set at least

[2022-05-30 15:46] simoncoul opened #2382 "MariaDB Change in Latest Update"
Hello,

My unraid system was showing a lot of instability due to my docker image filling up. I tracked it down to the MariaDB log file that was increasing at ~1GB a day. It keeps giving these two errors repeatedly:

2022-05-30 11:40:36 320 [ERROR] Incorrect definition of table mysql.column_stats: expected column 'hist_type' at position 9 to have type enum('SINGLE_PREC_HB','DOUBLE_PREC_HB','JSON_HB

[2022-05-30 15:53] graciousgrey commented on #2381
Possibly, @lastzero will have a look as soon as possible

[2022-05-30 21:43] gyto6 commented on #2382
You're not alone. As an Unraid user too, my MariaDB docker display the same message.

But once I stop my NextCloud docker, the logs stops.

Check this command in MariaSQL to get rid of it.

`mysql_upgrade --user=root --password=<root_pwd>`

[2022-05-30 22:12] gyto6 commented on #2381
Did you check this command in MariaDB? It stopped the trouble to me.

`mysql_upgrade --user=root --password=<root_pwd>`

[2022-05-31 04:03] lastzero commented on #2382
Does your docker-compose.yml include these environment variables for the mariadb service as shown in our example on dl.photoprism.app?

[code]

[2022-05-31 04:13] lastzero commented on #2381
Please verify if you are using a supported mariadb version >= 10.5.12 and its service config includes the following environment variables as shown in our docker-compose.yml examples on dl.photoprism.app:

[code]

If you do not use auto upgrade, our Troubleshooting Guide includes a section about MariaDB that explains how to upgrade it manually.

[2022-05-31 07:24] ZoXx commented on #2381
iam using my own mysql docker database.
Latest docker image with mysql version 8.0.29

[2022-05-31 08:50] gyto6 commented on #2382
It doesn't concerning to me...

I'm setting them by now.

[2022-05-31 09:35] lastzero commented on #2381
👉  https://docs.photoprism.app/getting-started/troubleshooting/#mysql-errors

[2022-05-31 09:38] ZoXx commented on #2381
MySQL Errors[¶](https://docs.photoprism.app/getting-started/troubleshooting/#mysql-errors)
↪ [Official support for MySQL 8 is discontinued](https://docs.photoprism.app/getting-started/#databases)

So not longer MYSQL Support and i have to switch to MariaDB?

[2022-05-31 10:42] ZoXx commented on #2381
We switched from MYSQL to MariaDB and imported our sql database.
Now we can upload photos again but we cant create albums? There is no error in logs.

[2022-05-31 12:36] ZoXx commented on #2381
The folders are created in the database, but they are not visible in Photoprism. In Photoprism there are no errors in the log. Also an indexing brings here no success.

There are no more problems with the images.

[2022-05-31 15:01] simoncoul commented on #2382
The container template did not have those variables. I manually added both, restarted Maria and Photoprism however it is still throwing the same error in Maria.

[2022-05-31 16:31] gyto6 commented on #2382
The variables must be added to MariaDB container, not Photoprism.

[2022-05-31 18:03] lastzero commented on #2381
👉 https://docs.photoprism.app/getting-started/troubleshooting/mariadb/#incompatible-schema

[2022-05-31 18:13] lastzero commented on #2382
The MariaDB troubleshooting guide in our docs has been updated to include more detailed instructions:

- https://docs.photoprism.app/getting-started/troubleshooting/mariadb/#version-upgrade
- https://docs.photoprism.app/getting-started/troubleshooting/mariadb/#incompatible-schema

[2022-05-31 18:55] simoncoul commented on #2382
@gyto6 Thank you. Adding the variables to the MariaDB container fixed the issue.

@lastzero Thank you for updating the documentation.

[2022-05-31 19:13] #2382 closed, assigned to nobody

[2022-06-01 06:15] lastzero commented on #2382
We found a few more places in our docs that needed updating... let us know if anything is still unclear or missing! :+1:

[2022-06-01 11:57] ZoXx commented on #2381
`docker exec photoprism photoprism migrations ls`
time="2022-06-01T06:32:10Z" level=info msg="PhotoPrism® needs your support!"
time="2022-06-01T06:32:10Z" level=info msg="Visit https://photoprism.app/membership to learn more."
|-----------------|---------|---------------------|---------------------|--------------------------------|
|       ID        | Dialect |     Started At      |     Finished A

[2022-06-01 12:00] lastzero commented on #2381
You're welcome! 👉 https://photoprism.app/membership

[2022-06-01 18:53] lastzero commented on #2320
Since the prioritization of SubSecDateTimeOriginal and SubSecCreateDate has been released, we will close this issue. You can decide if you want to submit a follow-up issue, now that you (hopefully) have a detailed understanding of the situation.

Of course, feature requests should not conflict with what I wrote in the comments. In particular, we should not mix offsets and zones, as this will likel

[2022-06-01 18:53] #2320 closed, assigned to lastzero

[2022-06-01 19:42] lastzero opened #2390 "MariaDB: Upgrade to 10.8 and increase default innodb_buffer_pool_size to 512MB"
### Our development environment and [config examples](https://dl.photoprism.app/docker/) are generally based on the [latest stable MariaDB release](https://mariadb.com/kb/en/mariadb-server-release-dates/) to take advantage of performance improvements and test compatibility.

This does not mean [older versions](https://docs.photoprism.app/getting-started/#databases) are no longer supported and you

[2022-06-02 00:17] lastzero opened #2391 "Server: Resolve known issues when hosting on a shared domain"
### Installing PhotoPrism in a subdirectory on a shared domain is possible in principle if you run it [behind a reverse proxy](https://docs.photoprism.app/getting-started/proxies/traefik/), though still *experimental* and *not extensively tested*.

**History / Background:**

- After a few users asked for it, we finally implemented support for installation in a sub-directory while we were working o

[2022-06-02 00:43] chain710 commented on #2391
auto import/index issue should be easily fixed ？

I hack the code and it worked as intended on my microk8s

[2022-06-02 03:08] lastzero commented on #2391
Feel free to submit a pull request to document the changes that work for you as this will save us time! :+1:

[2022-06-02 03:32] lastzero commented on #1673
@moosepants From what I can see, a review has been performed and some minor changes have been requested?
👉 https://go-review.googlesource.com/c/go/+/382754/

[2022-06-02 03:39] Arnie97 commented on #1552
On the "people" tab of a photo, if one's face was recognized and his or her birthday was given, his or her age should be calculated and shown based on the EXIF date of the photo.

This idea comes from the [Piwigo Birth Date plugin](https://piwigo.com/blog/2013/05/15/new-plugin-birthdate/).

[2022-06-02 06:21] moosepants commented on #1673
Yes, I did see that - it's been on my todo for a while. It's winter here in Australia... a good time to work on code :)
Will try to resolve the issues and move it forward.
--
Seamus Allan
+61 (0) 459 634 898

[2022-06-02 09:07] rezzalex commented on #425
Hello everyone,

@Tralbi or @Slevin7 , would you know the right settings to apply in NGINX to make this non-root location works?

thanks

[2022-06-03 12:41] lettore opened #2393 "Docs: Why is the number of photos you can select limited?"
Hello,
I'm not sure why but an Album is actually limited to max 999 pictures.
There is a workaround to increase this limit?

[2022-06-03 12:55] lettore commented on #2393
Well it's not true that an Album can't contain more than 999 but this is the limit when you select items in WebUi.
It will be possible to add pictures to albums by setting a start and end date, if I remember correctly Piwigo had such feature.
Scrolling hundreds of pictures is very slow and when selecting hundreds of pictures the browser freezes.

[2022-06-03 14:54] dradux commented on #47
I would love to see postgres support! I'll contribute time, talent, and/or treasure.

[2022-06-03 15:36] Faexa commented on #1028
Very nice idea. If I may add a precision :
would it be possible to redo the logic procedure stated in the first post, each time a new photo is going to be stacked and not only during the first indexation ?
I have IMG_000.CR2 and IMG_000.JPG as original jpg > first index.
Later I've edited this photo, and I have now IMG_000_edited.jpg or IMG_000_1.jpg  : the new indexation is going to stack these p

[2022-06-03 15:51] lastzero commented on #2393
**I should note that part of the original concept was to help our users reduce the number of photos they actively keep for the rest of their lives, and become more conscious about their quality and relevance. For example, by only adding pictures to albums that are worth keeping, looking at again, or sharing with others.**

Not only is it impossible to select/add more than 999 items at once (an alr

[2022-06-03 15:57] lastzero commented on #2393
Besides, I should add, this also simplifies UI design and limits the number of crazy edge cases we have to test before each release.

[2022-06-03 16:09] gyurmogyuri opened #2394 "unsupported storage engine: InnoDB"
[code]

I updated from AMD64 image  to ARM64
but i have this error message. What does it meaning?
Thanks for helps.

[2022-06-03 16:10] #2394 closed, assigned to nobody

[2022-06-03 16:11] lettore commented on #2393
I'm sure you will not happy if your Windows/Linux system will say "you can't select more than 999 files because I want you to delete what for you is not important".
Besides jokes, I saw that the UI hangs selecting so many items, so it's quite obvious that it's a coding problem to handle such situations. I understand you're not into resolving that because you think one should keep albums/selection

[2022-06-03 16:58] lastzero commented on #2393
This is being worked on, see GitHub Issues and existing pull requests. Based on your reactions to my detailed response, which by the way took some time to write, it may be best to use other software while you wait for a release that meets your needs. Feel free to continue the discussion on [GitHub Discussions](https://github.com/photoprism/photoprism/discussions) if you have further questions and

[2022-06-03 17:03] #2393 closed, assigned to nobody

[2022-06-04 01:59] dfldylan opened #2397 "Person: error when different person with the same name"
I have two people with the same name, but they're going to merge into the same person in the PERSON area.
Similar problems are more serious in Chinese names, where there are many names with the same sound and different characters.
<img width="262" alt="image" src="https://user-images.githubusercontent.com/28103567/171972232-b13b6c3d-119e-4eb6-b1b3-c204247c30b8.png">

[2022-06-04 08:11] benjaminjonard opened #2398 "MariaDB: Incorrect migration truncates descriptions in the index"
Hello,

I recently noticed that all descriptions on my photos where deleted (no worries, I got them back from a backup)

But with a bit of testing I could track down the issue to the release of May 17, 2022 and specifically to this migration : https://github.com/photoprism/photoprism/blob/7ba043a559a59663274d9504813cfe5981029010/internal/migrate/mysql/20220329-050000.sql

I'm using MariaDb 10.7, a

[2022-06-04 09:51] graciousgrey commented on #2397
That's expected.
If you add a name to a face, that already exists in people, this face gets assigned to the existing person.
We might later (once it is possible to add more information to people --> https://github.com/photoprism/photoprism/issues/1552 add an option to create the same name twice e.g. with different birth dates.
For now you need to use different names e.g. "Jane Doe 1" "Jane Doe 2"

[2022-06-04 09:52] #2397 closed, assigned to nobody

[2022-06-04 10:39] gyurmogyuri commented on #98
I will come back if have this.

[2022-06-04 12:43] lastzero commented on #2398
Thanks for reporting this! Taking a look at it ASAP

[2022-06-04 14:09] dfldylan commented on #1552
Contact information can be imported or exported easily using the universal vCard format.

[2022-06-04 14:45] Dulanic opened #2401 "UX: Easier ability to remove faces"
**Is your feature request related to a problem? Please describe. **

As a user, I would like to be able to easily remove faces without having to move my mouse all over. As part of this, I would like to be able to keep my mouse in place and just keep clicking to remove faces.

**Describe the solution you'd like**

As x is pressed to remove faces, that face should roll to the bottom of the webui and

[2022-06-04 20:25] catchdave commented on #1696
Not old, I just haven't taken the time to look at compose v3 changes :)

[2022-06-06 00:16] jonhnet commented on #464
I'm also in the group for whom "Google Photos replacement" means being able to do a quick crop. I agree that full photo editing should be left to GIMP, but having a lightweight set of common tools (crop, exposure adjust, maybe warmth) is nearly essential for me (and perhaps others) to replace Google Photos.

I definitely wouldn't want Photoprism to touch my originals, though. I really like the way

[2022-06-06 18:23] oktayacikalin commented on #485
Doesn't OSM also offer translated data?

[2022-06-06 18:30] oktayacikalin commented on #485
I've renamed my categories to German. Then I started a full reindex, and it seems that my translated categories are also used in the auto generated titles and keyword fields. This looks promising. Of course, changing the language again would require me to execute a full reindex again.

It looks like it might work if you first try to guess the categories, get the translated labels and then use them

[2022-06-06 18:31] oktayacikalin commented on #485
Adding more translations should trigger a partial reindex of the untranslated categories.
Is it possible to mark category labels as "user modified"?

[2022-06-07 13:35] snicker opened #2407 "Bug: Photoprism using rawtherapee to create new jpg files from raw DNGs when JPG already exists with the same name in folder"
In my logs while importing, I have noticed that Photoprism is unnecessarily creating more JPGs for raw DNG files that already have existing JPGs in the folder.

[code]

I've only been using PhotoPrism for about 24hrs, but have been steadily adding files to my library, but have noticed quite a bit of this. It seems inefficient. Is there a reason that it might not be picking up on these files? Case

[2022-06-07 19:48] koverda commented on #2207
+1. Any news on .ai and .svg support?

[2022-06-08 12:05] graciousgrey commented on #2207
@koverda We've recently added support for GIFs. Support for .ai and .svg is not done yet.

Our [roadmap](https://github.com/photoprism/photoprism/projects/5) shows what features are currently being worked on and what's going to be implemented next.

We have a zero bug policy and do our best to help users when they need support or have other questions. Updating and improving the documentation takes

[2022-06-08 12:27] graciousgrey commented on #2407
If I index a folder containing your .DNG .JPG  .DNG.xmp and .JPG.xmp files I get a photo consisting of those 4 files and no additional JPG is created.

Your logs look like the .DNG file is located in a different folder than the related JPG file.
RAWs and JPGs must be located in the same folder so that PhotoPrism knows they belong together.

[2022-06-08 12:27] #2407 closed, assigned to nobody

[2022-06-08 16:23] koverda commented on #2207
Got it - i see it in the ideas column.. I was looking for an open source Digital Asset Management solution for me to store images, videos, and vector graphics for my small business, and came across photoprism, seems perfect apart from the lack of vector support. I have no experience in the subtleties of working with vector graphics vs raster graphics as far as software is concerned, so no clue how

[2022-06-08 19:23] adyanth commented on #654
Can this be done with an rclone mount to OneDrive so that all the photos need not be downloaded to local storage?

[2022-06-08 19:59] kvalev commented on #654
Alternatively you can use https://github.com/abraunegg/onedrive to sync the data locally and mount it in photoprism

[2022-06-08 20:37] adyanth commented on #654
I'd like the data to be downloaded on access, maybe once for indexing, and then when I open a photo.

I do not want to sync the large collection locally. Something like using OneDrive as a mounted filesystem directly (similar to how S3 is used)

[2022-06-08 21:13] 1oh1 opened #2409 "UX: The Photoprism logo/icon in the loading screen is deformed when the viewport is too large (>= 2560x1216px)"
**What does not work as described in the documentation?**

The prism icon in the Photoprism loading screen is deformed when the viewport is larger than or equal to 2560x1216px

**How can we reproduce it?**

Steps to reproduce the behavior:

0. Have 27 inch monitor set to1440p resolution?
1. Open Google Chrome (tested on version 102.0.5005.63)
2. Navigate to https://demo.photoprism.app/browse
3. Op

[2022-06-09 06:22] graciousgrey commented on #2409
Thanks for reporting :)

[2022-06-09 06:47] alanbernstein commented on #628
An alternative approach might be a popout side panel for details, rather than a separate view.

Fair enough; I had to laugh at this because am trying out photoprism on a desktop, and this view is 90% whitespace.
![Screenshot from 2022-06-08 01-18-36](https://user-images.githubusercontent.com/16123214/172782520-1798ccc5-3995-4b53-bddd-16b0610288af.png)

[2022-06-09 11:00] pabsi commented on #2401
In the meantime, I'd appreciate a query on MySQL that could just remove all faces from a photo (or the equivalent of clicking "X" on each one of them as discarded faces).
:smile:

[2022-06-09 13:54] #2359 closed, assigned to lastzero

[2022-06-09 13:55] #2360 closed, assigned to lastzero

[2022-06-09 13:55] #2343 closed, assigned to lastzero

[2022-06-09 13:56] #2341 closed, assigned to lastzero

[2022-06-09 13:56] #2339 closed, assigned to lastzero

[2022-06-09 13:56] #2336 closed, assigned to lastzero

[2022-06-09 13:57] #2335 closed, assigned to lastzero

[2022-06-09 13:58] #2334 closed, assigned to lastzero

[2022-06-09 13:58] #2293 closed, assigned to lastzero

[2022-06-09 13:59] #2234 closed, assigned to lastzero

[2022-06-09 13:59] #1226 closed

[2022-06-09 14:02] GlassedSilver commented on #1028
This is quite important actually! Good catch!

[2022-06-09 15:02] staab commented on #2258
Just wanted to register my support for this — on my Pixel 3 the UI is extremely slow even after only a few pages of scrolling. I was just looking into this, but it looks like @heikomat has already made a ton of progress! One thing I might add after a brief look through [this file](https://github.com/photoprism/photoprism/blob/develop/frontend/src/pages/photos.vue) is that line 552 might be the sou

[2022-06-09 15:15] heikomat commented on #2258
@staab i'll later take a look at the difference that forced update makes. Virtualized or not, removing it might improve performance (if it is actually not required)

But even if we remove that line, a core problem is the sheer amount of vue-elements an pictures rendered without virtualization.
Having this many elements and pictures in memory means that the view uses (very roughly) about 1GB/Ram pe

[2022-06-09 17:56] alex-phillips commented on #667
I just ran into this myself. It happened when I updated the date/time and GPS of many old photos, causing them to all have the same date / time and it stacked them. However, a re-index of the directory after disabling all stacking options did not 'unstack' them. What is the best way to re-evaluate all stacks based on the new settings?

[2022-06-09 18:38] lastzero commented on #2398
Removed the update statements because 99% of users shouldn't have that much text in these fields and the database might truncate the content automatically anyway...

[2022-06-09 18:40] heikomat commented on #2258
@srett i tested scrolling through images with that forced updated and without it, with virtualization and without it.
The existence of the forced updated does not seem to make a noticable difference either way.

But! You said you use a Pixel 3. That happens to be my daily driver aswell, so here's a sneak peak at what **might be** possible with the virtualization and performance fixes.

This follow

[2022-06-10 06:24] adyanth commented on #281
Planning to use this for calling from a Kubernetes CronJob.

[code]

[2022-06-10 06:34] mmontes11 commented on #281
@adyanth I also used a CronJob for this, but calling the `index`subcommand instead:

https://github.com/mmontes11/charts/blob/main/charts/photoprism/templates/cronjob.yml#L36

[2022-06-10 07:26] adyanth commented on #281
@mmontes11 looks like that would need an RWX volume mount for photoprism? I am using the sqlite DB, so that won't be a good idea for me. I preferred connecting to the existing photoprism service and call the index API.

Edit: This works well for me.

[code]

[2022-06-10 07:32] mgrove36 commented on #281
@SiJiL82 you can find out with `docker exec -it which photoprism`. I believe it's now `/opt/photoprism/bin/photoprism`

[2022-06-10 15:39] andrewlow opened #2412 "Getting "No files available for downloading" when selecting multiple files to download"
### Discussed in https://github.com/photoprism/photoprism/discussions/2396

<div type='discussions-op-text'>

<sup>Originally posted by **andrewlow** June  3, 2022</sup>
I went digging in the code - and got here https://github.com/photoprism/photoprism/blob/182bc09d87b86310b076e44a3b6302898cff4efc/internal/api/download_zip.go#L76

Using Firefox 100. Also tested Chrome.

If I select only 1 item - i

[2022-06-10 15:42] andrewlow commented on #2412
I have enabled debug logging - but only see this in the logs when I try (and fail) to download
[code]

[2022-06-10 18:05] lastzero commented on #2412
Try Originals: false or MediaRaw: true

[2022-06-10 18:13] adyanth commented on #654
Using rclone mount (read only) on openmediavault served over NFS (readonly) mounted (readonly) on Kubernetes for Photoprism is what I am using now. Works better than I expected honestly and since thumbnails are used in the browser, initial page loads are fast too. I just need to run a complete index every once in a while to look for new photos [as so](https://github.com/photoprism/photoprism/issue

[2022-06-10 19:06] heikomat commented on #2409
i don't think it's faulty css. It seems to be something about how chrome renders that specific svg to the actual screen. This bug seems to not happen on firefox. The size in css-pixels seeems to be irrelevant, only the size of real device pixels seems to matter.

Look at these two screenshots. in both cases the website is 440x726 css-pixels in size. The first one is at 100% virtual-screen-scale, t

[2022-06-11 13:59] andrewlow commented on #2412
Changing the download config section to be
[code]
  and restarting the container - did not help.

  Trying
[code]
Also did not appear to work.

[2022-06-11 14:01] andrewlow commented on #2412
Hmm.. just setting everything `true` seemed to fix it?

[code]

  I'm confused as to why the defaults were not working - I don't have that weird a setup.

[2022-06-11 14:07] andrewlow commented on #2412
Details on my configuration.

I'm running it as a docker container - connected to a mariadb

I have 3 volume mounts:
- `/<host path>/storage:/photoprism/storage`
- `/<host path>/originals:/photoprism/originals`
- `/<host path>/import:/photoprism/import`

I have these environment variables
- PHOTOPRISM_UPLOAD_NSFW="true"
- PHOTOPRISM_ADMIN_PASSWORD="super secret"
- PHOTOPRISM_DATABASE_DRIVER=mysql

[2022-06-11 14:16] andrewlow commented on #2412
It appears that the 1 change from `MediaSidecar:false` to `MediaSidecar:true` caused this to start working!?

From this issue https://github.com/photoprism/photoprism/issues/2234#issuecomment-1099941039

I really don't get why including the metadata is resulting in the download working - and removing it causes it to fail.

This is the resulting zip file that was successfully downloaded once I had

[2022-06-11 17:32] lastzero commented on #2412
Did you perform a full rescan?

[2022-06-11 17:59] andrewlow commented on #2412
No - I did not force a rescan. Let me figure out how to trigger that and see if that changes things. (but with `MediaSidecar:true` it appears to be working.. I just don't understand why.

[2022-06-11 19:36] lastzero commented on #2412
It will as the index information required to filter downloads is missing otherwise.

[2022-06-12 00:02] Bur0k commented on #1102
All my WhatsApp Filenames are in that format aswell

[2022-06-12 00:24] lastzero commented on #1102
Might be worth asking Facebook to implement filename settings if that doesn't exist yet.

[2022-06-12 12:52] andrewlow commented on #2412
Ok - well - that seems to have sorted things out.

My download settings section now looks like
[code]

  Prior to doing a rescan - using the above settings caused me to not be able to download certain photos from my library.

  Initiating a re-scan

![image](https://user-images.githubusercontent.com/2952475/173233971-b72d1058-9909-4208-bf73-43ac0a46dc3e.png)

and waiting for it to complete - now i

[2022-06-12 12:52] #2412 closed, assigned to nobody

[2022-06-12 20:27] 1oh1 commented on #2409
Seems like a Chrome rendrering bug? I noticed it's reproducible on several different viewport resolutions. It's also reproducible on Edge (102.0.1245.39) as well but I could not reproduce it on Firefox (101.0.1)

An easier way to reproduce it is to simply open the [Photoprism logo SVG file](https://demo-cdn.photoprism.app/static/icons/logo.svg) and change/scale the viewport resolution.

I tried 'o

[2022-06-13 11:33] ytzelf opened #2416 "Config: Parameterize automated landscape ratio"
**Is your feature request related to a problem? Please describe.**

My cellphone (Samsung S20) take default pictures with a >2 ratio so everything gets classified as landscape.

**Describe the solution you'd like**

I'd like to be able to configure the ratio where pictures are classified as landscape through an env var as the other options. Default is 2 apparently ([https://docs.photoprism.app/use

[2022-06-13 12:07] IeuanK commented on #1587
Would it be feasible to layer a per-year face cluster/model on top of the current one? For example, have a cluster for 'Peter Smith', but then if Peter was born in 2014, have one model for 2014, one for 2015, one for 2016 etc up until it matches the general model for that person, but all are linked to the same name?

I very much understand just turning off the baby face matching, but I have thousa

[2022-06-13 22:42] lastzero commented on #2398
I would have loved to release a fix sooner, but have been traveling all week. If no one complains, the changes from 4 days ago will be released tomorrow as part of a tiny update that otherwise just contains updated translations.

[2022-06-14 12:26] graciousgrey commented on #667
That's expected at the moment. Changing stacking settings does not unstack already stacked files. For more details see: #1178

There is no "unstack all" button yet. You may start with a fresh database and re-index, or unstack files one by one. Depending on what is less effort.

[2022-06-14 23:43] notyourattorney opened #2422 "Videos have wrong preview thumbnail"
Across several instances, I have noticed videos have a preview thumbnail that is simply wrong and unrelated to the video. I have experienced this error on Docker/PhotoPrism on a QNAP NAS (container station), as well as on an iMac (docker desktop) using mapped network drives over Thunderbolt3.

In one case, the preview image is one I know is just a photo that inexplicably became the thumbnail for a

[2022-06-15 01:16] notyourattorney commented on #2422
I uploaded a partial of the wrong thumbnail image and the actual video first frame.

<img width="318" alt="Screen Shot 2022-06-14 at 6 15 56 PM" src="https://user-images.githubusercontent.com/50841636/173715583-0a98514d-1657-4c6d-b9cc-33f6b6f2cb80.png">

<img width="1215" alt="Screen Shot 2022-06-14 at 6 13 22 PM" src="https://user-images.githubusercontent.com/50841636/173715384-5722d74b-d27d-467d

[2022-06-15 03:54] #2422 closed, assigned to nobody

[2022-06-15 14:02] seku80 commented on #2398
Hello @lastzero,
First of all, I must congratulate you on the excellent project that is PhotoPrism.
Unfortunately, all the photos I have in my collection after updating from Build 220121-2b4c8e1f (docker version with MariaDB 10.6) to the latest version Build 220614-dea9ff68 have lost the description.

[2022-06-15 16:48] lastzero commented on #2398
My apologies, we will adjust our testing strategy after this glitch. IMHO MariaDB should have thrown an error in this case, but we can't change it, so it's pointless to debate. Instead, simplifying backups should be prioritized on our roadmap.

We hope that more people help test and fund the project in the future, because that is the most effective way to ensure reliability and stability.

If you

[2022-06-15 16:53] seku80 commented on #2398
No worries. I have backups and have already rollback to the oldest version of Photoprism.
I've updated from the version that I've told you to the latest one, no other versions in between.

[2022-06-15 17:04] lastzero commented on #2398
Glad you have backups and thanks for reporting it! I'll add more migration specific tests and look into how this can still happen. If there is one thing a database should not do, it is to unexpectedly truncate data without error or warning. So hopefully my fault or caused by the ORM auto migration.

[2022-06-15 19:00] Eirikr70 commented on #1103
Same issue here. Found no way out. Photoprism in Docker on a Raspberry Pi.

[2022-06-15 19:34] lastzero commented on #2398
The good news is that I have not been able to corrupt any photo descriptions so far by (re)running our manually created migrations, including changing the column type from `TEXT` to `VARCHAR(4096)`.

- Could you help testing by observing how the content and data type of the `photos.photo_description` column look before and after the upgrade?
- Also, it would be very interesting to see if you are a

[2022-06-15 19:43] DSew20 opened #2425 "Unable to start - failed to create shim task: OCI runtime create failed: runc"
Hello,

I had PhotoPrism working, but alas it has stopped.  Not sure what has happened, but I now get the following error:

Failure
failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: exec: "/entrypoint.sh": stat /entrypoint.sh: no such file or directory: unknown

I'm running PhotoPrism in docker, managed via Portainer.  Was working ok, the

[2022-06-15 19:59] lastzero commented on #2425
Check the environment variables as Portainer tends to cache those of old versions and applies them to new images as well even though they do not fit and can break things completely. Search our issues and discussions for the reports of other Portainer users.

[2022-06-15 19:59] #2425 closed, assigned to nobody

[2022-06-15 20:04] lastzero commented on #1103
Please open a GitHub Discussion for this and share all details like the version, database, and any additional tools you use such as Portainer. We cannot help you otherwise. Thank you!

[2022-06-15 22:06] lastzero commented on #464
Note that new, more sophisticated options for editing photos in a browser are now available as well:

- https://www.photopea.com/
- https://www.adobe.com/express/feature/image/editor

While rotating is not a problem, once we have a few minutes to implement that, these editors seem a good choice for those who want more. Provided integration is possible without (privacy) issues.

[2022-06-16 16:22] mateuszdrab commented on #1561
I've just started evaluating Photoprism today, face detection is impressive but object classification, not so well.
I think a better TF model is needed - which would make sense once Coral support is added https://github.com/photoprism/photoprism/issues/536

Example of an identified Dog:
![image](https://user-images.githubusercontent.com/26556541/174118585-7e7a459e-2813-4e9f-b4b3-5fcdfc68e9e5.png)

[2022-06-16 16:26] mateuszdrab commented on #448
I too am interested in the concept of training up the model or being able to use another model, hoping it would work better.

[2022-06-16 16:54] lastzero opened #2429 "Albums: Restore previously deleted album when trying to create a new album with the same name"
Due to a previous change, the corresponding API endpoint may return an existing (but possibly deleted) album when a user wants to create a new album with the same name:

- #2233

As a result, "new" albums were not showing up in the user interface, giving the impression that nothing was happening at all. Eventually, community chat participants came forward and reported a broken + button in the albu

[2022-06-16 21:03] blue-kaleidoscope commented on #2222
Hi, I'm also having issues with using QSV transcoding on my QNAP-TS451+ which has an Intel Celeron J1900. According to Intel it supports QSV.
Using QNAP's (catastrophic) QPhoto I can transcode iPhone videos quite fast. So I assume QSV is working there. The only thing to watch out: You have to use QPhoto as a root user.

I believe Photoprism is by far a better solution but I could use your help wit

[2022-06-16 21:22] dessalines opened #2431 "Restore originals from thumbnails?"
Somehow in an upgrade, photoprism deleted my entire originals folder :(

Luckily, I was able to save a backup of the `.photoprism` folder, which includes all the thumbnails, including high-res ones, as well as all the yml files. Unfortunately the thumbnails don't have the original exif data, so these are all completely unorganized.

After an upgrade to the newest photoprism, it now sees the thumbn

[2022-06-16 21:47] lastzero commented on #2431
More likely, the folders are/were mounted incorrectly or not mounted at all, so the files were stored in the Docker container and not on the host?

We kindly ask you not to report bugs via GitHub Issues unless you are certain to have found a fully reproducible and previously unreported issue that must be fixed directly in the app. [Contact us](https://photoprism.app/contact) or [a community member

[2022-06-16 21:50] #2431 closed, assigned to nobody

[2022-06-17 01:49] jacobwhall commented on #2133
[this README](https://github.com/mattwilson1024/google-photos-exif/blob/master/README.md) has some info about Google Takeout exports that might be helpful

[2022-06-17 02:12] abheekda1 commented on #2133
It's been a while but I'll give this a shot. If anyone else wants to step in and give it a look at some point that would be cool too.

[2022-06-17 06:49] meonkeys commented on #247
Was this implemented or canceled? I can't figure out an easy way to zoom (way) in when using PhotoPrism from a standard desktop/laptop web browser (Firefox in my case). I'm running the `photoprism/photoprism:latest` Docker image (says "Build 220614-dea9ff68" on the /settings page).

[2022-06-17 10:50] seku80 commented on #2398
Hello @lastzero,
Sorry for the late reply, but I got COVID and did not work yesterday...
I really don't know what happened, but this time with the same procedure, it worked perfectly.
Sorry once more for the time that you spend on this.
Thank you for all your support.

[2022-06-17 12:25] benjaminjonard commented on #2398
Hello,

I tried to reproduce the problem I originally had. I updated a backup from the release [March 2, 2022](https://github.com/photoprism/photoprism/releases/tag/220302-0059f429) to the latest one [June 17, 2022](https://github.com/photoprism/photoprism/releases/tag/220617-0402b8d3) and it worked well, no descriptions were deleted.
The problem I opened the issue for seems to be resolved.

Thank

[2022-06-17 13:16] pabsi commented on #667
Hey @theresagresch
I'd be interested to know what "Unstacking" actually does in the background (backend). If it's a MySQL query, then we can work something out.
In my case (30k pictures), both "start with a fresh DB" or "unstack one by one" are not feasible options.

You helped me in the past with assigning a thumbnail to a Person album etc.
Can "Unstacking" be seomthing that can be scripted in so

[2022-06-17 14:28] graciousgrey commented on #247
Improved zooming is not cancelled it will be implemented as part of this issue: #1307.

[2022-06-17 18:07] heikomat commented on #2409
Removing or changing stuff in either the 4th arc (`a.13.13 0 0 0 .11.19`) or the 5th arch (`a.12.12 0 0 0 .1-.19`) or the line between them (`l182.18-.8`) seems to fix all rendering issues.

The 4th arc is the rounding for the bottom-left corner. The 5th arc is the rounding for the bottom-right corner and the line between them is also visually the line between these corners
In the following image,

[2022-06-18 14:07] abgd1234 opened #2442 "Videos: ffmpeg framerate (-r) option incorrect when using h264_nvenc"
When NVENC is used, the call to ffmpeg sets the framerate to 30 before `-i`. This causes ffmpeg to interpret the input video as 30fps, even when it isn't.

https://github.com/photoprism/photoprism/blob/4909f86ca04202887a45a3914d73cc6af07f4cc3/internal/ffmpeg/convert.go#L81-L86

To fix this, `"-r", "30", ` should be placed after `"-i", fileName, ` in line with the other non-NVENC cases.

[2022-06-18 14:56] lastzero commented on #222
Since Google / the TensorFlow team decided to make it harder to use TensorFlow with Go (wonder why...), the next best/only option is to migrate our backend to this fork maintained by @galeone:

- https://github.com/galeone/tensorflow

**Ideally, we do this when the fork is getting updated to the then latest version in the upcoming weeks/months. Waiting is fine if it saves us from having to upgrade

[2022-06-18 16:48] lastzero commented on #2442
This is generally intended to limit the size and bitrate of the transcoded version as 4K 60fps videos are HUGE, especially when using a less efficient encoder. We welcome a pull request to update the command so it meets that goal should this currently not be the case.

[2022-06-18 18:54] lastzero commented on #667
Unstacking not only changes the index data, but also (re)indexes the affected file(s) so that they become visible as a new picture, otherwise they would be hidden. Depending on the situation, a specific strategy is chosen. All in all, this is relatively complex and not explained quickly.

Edit: It might be possible to remove the files in question from the index with a query and then manually start

[2022-06-18 22:14] lastzero commented on #2398
Excellent, thanks for testing it again! 💎

[2022-06-19 00:29] insomnia417 commented on #98
I believe this is an old problem, but I don't know why the author is unwilling to add multiple users to help users manage their photo albums. I chose photoprism to replace dsphoto, but without multiple users, I had to create conditions for my needs and choose methods such as nextcloud or filerun to manage photo albums. Is there any meaning in its existence?

[2022-06-19 01:02] sixstringsg commented on #98
Have you read the rest of the issue? It had absolutely nothing to do with
willingness. They’ve started to implement the feature and haven’t had the
hours to complete it yet.

On Sat, Jun 18, 2022 at 7:29 PM insomnia417 ***@***.***>
wrote:

[2022-06-19 08:13] Rolf-Smit opened #2446 "RAW: `PHOTOPRISM_JPEG_SIZE` is ignored when converting RAW with `RawTherapee`"
I noticed that some of my NEF files (Nikon Raw) where being converted into super small sidecar images 160x120. This is probably a limitation of `Darktable`, so as a simple fix I tried switching to `RawTherapee` as the converter for NEF files, using:

`PHOTOPRISM_DARKTABLE_BLACKLIST: "nef,raf,cr3"`

I'm also using:

`PHOTOPRISM_JPEG_SIZE=2048`

In the indexing logs I can now see:

`convert: DSC_755

[2022-06-19 08:26] Rolf-Smit opened #2447 "RAW: `.NEF` files have wrong resolution information"
I noticed that some of my NEF files (Nikon Raw) where being converted into super small sidecar images 160x120. Then I noticed that in the files section the RAW file itself was reporting 160x120 as a resolution as well. Switching to `RawTherapee` solved (see #2446) the sidecar resolution size, but the reported RAW resolution is still 160x120 (I assume `RawTherapee` and `Darktable` are not used to r

[2022-06-19 10:45] lastzero commented on #2447
Thanks for reporting this and adding examples! We use a generic Exif extractor for RAW files, which often include a thumbnail. Probably 160x120 is the resolution of this JPEG thumbnail, while the full RAW file may not conform to the Exif usage in JPEG.

[2022-06-19 10:52] lastzero commented on #2446
From what I remember, there is no such parameter for the rawtherapee CLI command:

https://github.com/photoprism/photoprism/blob/6cbb6610a8991ccfe26dee6b3a9427243367f0e7/internal/photoprism/convert_jpeg.go#L174

Instead, you may be able to limit the size and also change many other parameters using profile files. The default profile is located in `assets/profiles/raw.pp3`.

If there is no easy way

[2022-06-19 12:42] lastzero commented on #2429
Closing this as done since no one complained.

[2022-06-19 12:42] #2429 closed, assigned to lastzero

[2022-06-19 13:33] abgd1234 commented on #2442
The issue is that the input file rather than the output file is specified as 30fps. For example, a 15fps input video will be treated as 30fps, and the transcoded output video will then run twice as fast. This is simply a bug - all the other encoder cases correctly place `"-r", "30", ` after the input file.

I have submitted pull request #2449 to fix this.

[2022-06-19 13:33] #2442 closed, assigned to lastzero, abgd1234

[2022-06-19 15:08] lastzero commented on #2447
The output of `exif-read-tool -f DSC_7534.NEF` does not seem to contain any further information about the image size, presumably because the thumbnail is embedded in the file first and may have separate Exif headers, unlike in other common RAW formats:

[code]

The information returned by exiftool should then be preferred as it appears to be correct. There is no need to use Darktable or any other

[2022-06-19 15:53] Rolf-Smit commented on #2447
@lastzero thanks for the explanation.

- There is indeed an issue with Darktable, the output JPEG is also only 160x120, however this could very well be a bug in Darktable as well?
- As a quick workaround I switched to RawTherapee for processing NEF files specifically, because it seems to output the correct format. With removing the size restriction, do you mean the `PHOTOPRISM_JPEG_SIZE`? That sho

[2022-06-19 16:06] Rolf-Smit commented on #2447
This is the output I see when running `exiftool -H DSC_7534.NEF`

<img width="670" alt="Screenshot 2022-06-19 at 18 04 20" src="https://user-images.githubusercontent.com/6614322/174490008-261f9f12-6177-4d8d-bfeb-e70c8616a629.png">

Or better:

<img width="604" alt="Screenshot 2022-06-19 at 18 07 41" src="https://user-images.githubusercontent.com/6614322/174490109-e7714bba-f8c9-4cff-9110-a6167eea67

[2022-06-19 16:38] lastzero commented on #2447
As written above, `exiftool` also shows the correct size for me. We have friends over and it is Sunday, so I cannot check at the moment what the reason is. Maybe it has a special parser for this RAW format or uses other heuristics.

For clarification, `exif-read-tool` is the CLI tool that belongs to the Exif library we use internally. It is implemented in Go and does not require C libraries or Per

[2022-06-19 16:53] Rolf-Smit commented on #2447
@lastzero no problem, there is absolutely no reason for you to work on this today, or to work on this at all. It is your software after all 🙂

Anyhow if you find time: is it exiftool (by phil harvey) that is used by PhotoPrism, or does PhotoPrism use a Go package or some other exif tool, that is what I don't understand currently.

[2022-06-19 17:10] lastzero commented on #2447
We use both plus additional sources for gathering metadata like XMP and Google Photos JSON. Data is extracted in a deterministic order, first using the internal library, then exiftool, and so on. This generally works well except in rare cases where the initial information is incorrect such as apparently in this case. This is great to know, so thanks for your report! Should I learn more about what

[2022-06-19 17:24] lastzero commented on #1561
It could almost be a dog. In order to find as many dogs as possible, we lowered the probability threshold for this label as we felt that was an acceptable compromise. I take note you see it differently.

[2022-06-19 20:33] mateuszdrab commented on #1561
I get it, despite this, I have loads of photos of my actual dog which it didn't recognize.
Sometimes two similar photos where one is and one isn't recognized.

I'd like to try out the large version of the current model instead of the mobile one, just to see if it makes things better... It's a huge size difference of 20MB vs >300MB so I'd expect better results from it.
I mentioned this on the [gitt

[2022-06-19 20:59] lastzero commented on #1561
Let us know about the results. Based on the stats and my experience, the difference is minimal. For TF acceleration and upgrade, watch the TensorFlow 2 issue / read its comments.

[2022-06-20 07:33] Rolf-Smit commented on #2446
@lastzero I tried searching for an easy way to do this with `RawTherapee` but like you mentioned this doesn't seem to be possible right now. I may dive deeper into profile files to see if maybe those could help, but for now I at least updated the `known-issues.md` file in the documentation repository (see PR).

[2022-06-20 08:46] lastzero commented on #2447
I was not able to find anything that should cause Darktable to reduce the image size. The `darktable-cli` parameters are:

[code]

`maxSize` only depends on the config, not on the metadata of the RAW file. So MAYBE Darktable runs into the same issue when reading the size from the Exif headers. Could you verify this?

[2022-06-20 09:07] aldobranti commented on #2332
Hey , why is this still marked as incomplete -- yeah, I was clumsy in hitting the comment key too soon

Seems a bit arbitrary

[2022-06-20 09:07] #2332 closed, assigned to nobody

[2022-06-20 09:07] aldobranti opened #2452 "Search: enable searching by image size (x y pixel count)"
I want to find the highest pixel count ) x and y for a given image

this is a nice feature in MacOS finder and helps where , over time I have resized an image for some purpose perhaps a competition has been very specific about image size

please add as a search term such as 'min-x-pixel' , 'min-y-pixel'

please enable reporting order by image size = x-pixel * y-pixel

[2022-06-20 09:10] lastzero commented on #2447
I found the following remarks in the Exiftool forum at https://exiftool.org/forum/index.php?topic=7705.0:

To me it reads like ImageWidth and ImageHeight are NOT metadata, but the actual resolution based on the binary image data. That would explain why our exif header parser doesn't find them.

[2022-06-20 09:47] lastzero commented on #2447
These changes fixed it for me:

![fixed](https://user-images.githubusercontent.com/301686/174574997-11ba7722-e8a0-4218-b53c-5e6f316e8072.png)

I'll merge this to preview and start a new build for testing :+1:

[2022-06-20 10:28] galeone commented on #222
Eventually, I updated the fork today.

You can depend on https://github.com/galeone/tensorflow/tree/r2.9-go

[2022-06-20 10:59] lastzero commented on #1642
Updated the [**Known Issues**](https://docs.photoprism.app/known-issues/) page in our docs to include this issue:
- https://github.com/photoprism/photoprism-docs/commit/23282f06e2c9e2a56835b3a51dd7b88b7dfa6879

Published: https://docs.photoprism.app/known-issues/#nested-storage-folder

[2022-06-20 11:10] mateuszdrab commented on #1561
I would, but I couldn't get the model to work by simply swapping files.

I was getting this error:
`16T15:33:04Z" level=error msg="index: Could not find meta graph def matching supplied tags: { photoprism }. To inspect available tag-sets in the SavedModel, please use the SavedModel CLI: saved_model_cli"`

Can you provide some instructions/pointers on whether a straight replacement of the model fil

[2022-06-20 11:52] lastzero commented on #222
Wow, that was quick! Thanks a lot! So now it's up to us to update our dependencies and refactor existing code as needed 🥳

Do you happen to know if binary models exported with TF 1.x remain compatible or how to convert them if needed?

[2022-06-20 12:08] lastzero commented on #1561
Yep, sadly it's not as easy why developing this software took so long. The Go library needs a named save point which you have to use Python for to create. Also you have to change the code that passes the image thumbnails to TF as the resolution of this model is different.

[2022-06-20 13:19] galeone commented on #222
In TensorFlow 2.x you can only use the SavedModel serialization format. Hence, if you have some "frozen" models you can't import and use them.

[2022-06-20 13:52] Rolf-Smit commented on #2447
Nice thanks! Currently on vacation in I presume your home country, so I will test this whenever I find some free WiFi.

[2022-06-21 13:23] lastzero commented on #2409
Note that there are several versions of this SVG with slight differences, such as padding and [tiny-ps standard](https://bimigroup.org/svg-conversion-tools-released/) compliance, see https://dl.photoprism.app/icons/:

- [logo.svg](https://dl.photoprism.app/icons/logo.svg)
- [tiny-ps.svg](https://dl.photoprism.app/icons/tiny-ps.svg)
- [unpadded.svg](https://dl.photoprism.app/icons/unpadded.svg)

Fr

[2022-06-21 19:34] mateuszdrab commented on #1561
That makes sense, I may try to tinker around with it see if I can recompile for the larger model.
Just curious if it would make a difference, in theory it should since it's a higher resolution model.

[2022-06-21 20:05] lastzero commented on #1561
Basically all models use square thumbnails, so it would be good to know if you find any connection between false negatives and the image format, in particular subject (dog) size or position. Because you can easily magnify parts of an image, a higher resolution is not as big an advantage as it seems. We already use three different crops, so the logical step would be to use more in different sizes a

[2022-06-22 17:03] bitelxux commented on #377
Just arrived. Fantastic tool. The extra point here would be if, when filtering by unsorted, the photos add to an album were automatically removed from the view and the cursor stayed at the same point. Same way when pictures are archived they are automaticaly removed from the current view. That way it would be way easier to organize photos.

[2022-06-23 00:51] GideonStowell commented on #2275
I find myself with some time to contribute. Point me to any additional documentation and I would happily take a crack at this.

[2022-06-23 02:35] freman commented on #448
One of the things that keeps me with google is it can find "license plate" or "Shrek" (my cat), I'm not opposed to training my own model, I've tagged about 300 photos... out of several thousand.

[2022-06-24 04:53] lastzero opened #2461 "Videos: Stream OGV, VP8, VP9, AV1, WebM, and HEVC if supported #440 #513 #2379"
### As a user with a browser that supports OGV, VP8, VP9, AV1, WebM, and/or HEVC, I want to instantly watch videos in these formats without transcoding to AVC.

PR #2379 adds optional HEVC support to avoid transcoding to AVC when using Safari. Rather than just auto-detecting this particular codec, it seemed reasonable to add support for other common video formats and containers, without waiting fo

[2022-06-24 05:04] heikomat commented on #2461
Transcoding the file massively decreased the file size, which is really helpful on the go.

A 30 second video taken with my smartphone is about 100MB in size. If photoprism were to directly stream that, that would eat up 100 MB of mobile data (if it can even download at constant 3.5MB/sec)

We should definitely test, if not reducing the file size through transcoding hurts user experience because o

[2022-06-24 05:05] heikomat commented on #2461
On a desktop with a direct connection to the source, having it directly stream is awesome though, because of faster start and better quality.

[2022-06-24 05:19] lastzero commented on #2461
Guess we'll end up adding config options eventually 😅

In general, OGV, VP8, VP9, AV1, WebM, and HEVC are modern formats/containers that should not be larger than AVC unless it is 4K 60FPS material. If you know this and want to stream it over a mobile connection, you should indeed expect some issues.

Thinking pragmatically, it probably makes little difference to those who handle support requests

[2022-06-24 05:53] heikomat commented on #2461
the container doesn't really make a difference regarding video size. What does make a difference is how much cpu-time was spent compressing the video inside the container. The example 30-sec video i mentioned could probably be compressed down to like 20MB (without visual quality loss) if given enough cpu-time.

Smartphones usually don't compress much though, because their cpus are too slow for tha

[2022-06-24 06:32] lastzero commented on #2461
You're welcome to add a "force transcoding" follow-up issue! I didn't see this coming :)

[2022-06-24 08:58] dror3go commented on #2461
I too agree with the idea of forcing transcoding - however I feel it needs to be the default. Just like pictures are getting lower-resolution versions, showing the original version must be available but not the default.

My smartphone generates ~300MB files in ~30 seconds of video, and I'm totally OK with seeing *a* version but fast, rather than waiting endlessly for the original version to downlo

[2022-06-24 09:46] lastzero commented on #2461
- Are there mobile devices that directly create OGV, VP8, VP9, AV1 or WebM videos? Software encoding is far too slow for this use case, I would be very surprised.
- Except maybe on high-end Google devices, the only hardware encoders that are generally available are HEVC and AVC, right? 🤔
- Since AVC was not transcoded to AVC even before this change, HEVC is the only codec that could benefit from f

[2022-06-24 11:33] lastzero commented on #2461
This is just an idea for now, but it seems feasible to use the existing bitrate limit to automatically force transcoding if the original bitrate (size/duration) is higher than this:

[code]

Original video size and duration are generally known after indexing, although this might not be true for all containers and codecs. Let's call this **Option (1)**.

**Option (2)** would be to stream large, unt

[2022-06-24 12:20] jahanson commented on #2461
Food for thought: local IP addresses aren't always unmetered. I have an automatic wireguard VPN on my phone that connects as a 10.0.0.0/8.

[2022-06-24 13:03] lastzero commented on #2461
You are right that using a VPN would interfere with **Option (2)**. It would be a known issue for this solution.

I was hoping no one would notice (so quickly) so that the options remain easy to explain, understand and vote for xD

[2022-06-24 13:12] dror3go commented on #2461
I can say for myself that it has been bugging me, however since videos are a small fraction of my library and my main focus is on photos - I I've yet to open an issue on it.

That sounds the way to go on the long run maybe, YouTube-style.
However, I feel that as a first step - a static setting is fine.

[2022-06-24 23:39] lastzero opened #2463 "JPEG: Automatically check and repair broken/invalid images"
### Go happily refuses to open JPEGs if they contain any glitches. As a user with such files, you still want to index and view them. It would therefore make sense to automate the repair of JPEGs, especially since the process is always the same.

**Step 1:** Use GraphicsMagick to check a JPEG for issues

GraphicsMagick is a great tool for this task. Depending on what operating system you are using,

[2022-06-25 01:38] lastzero opened #2464 "WebDAV: Endpoints must be fully disabled in public mode"
**As a user running their instance in public mode, I expect WebDAV to be completely disabled as it is not possible to manage access in the web UI, it does not work without a password, and it is not possible to use it without a password to prevent abuse.**

Although and because it is not possible to use WebDAV in public mode (a non-empty password is required), the endpoint must be completely disabl

[2022-06-25 12:02] Rolf-Smit commented on #2447
@lastzero I tested this and it seems to work fine now!

I had to remove any (from NEF) generated sidecar files and had to use the "Complete Rescan" check-mark in order for the sidecar files to be generated again.

There is also no need anymore to switch to `RawTherapee`, before I tried all this I put the settings so that `Darktable` would be used, and I don't see any problems.

[2022-06-25 23:04] stolp commented on #464
Sorry, but this in no way resolves the requirements I (and probably others here) have.

The workflow is:

- Upload my camera files to photo storage
- Start up the photo management software (PhotoPrism)
- Rotate the pictures with wrong orientation
- Other stuff not relevant here

PhotoPrism is not helping with that problem. So I will need another software and I am tempted to stay with just that.

[2022-06-26 05:02] n0hot opened #2466 "Login Security: Display a static logo page 1st for the base domain before rewriting the URL to /auth/login"
**Description:**
I'm using a free Cloudflare firewall/gateway as a reverse proxy for my public facing Photoprism server that lives in my home. The Photoprism app is publicly accessible. Cloudflare works as a reverse proxy in that I do not have any forwarding rules or any ports open in my home firewall. The cloudflared daemon running on my server establishes the tunnel **from** my home **to** Cloud

[2022-06-26 08:15] Derkades commented on #464
I think you have misinterpreted the comment above yours, rotation *will* be added to photoprism in the future. For more advanced editing, rather than creating an entire image editor from scratch, it makes sense to integrate with other software specifically built for image editing. It would be nice if it could be done seamlessly, similar to the Nextcloud + Collabora/OnlyOffice integration.

[2022-06-26 18:11] lastzero commented on #2461
This change implements **Option (1)** as described above:

- It limits the video bitrate based on what has been configured with `PHOTOPRISM_FFMPEG_BITRATE`.
- If the bitrate is higher, videos in supported formats will also be transcoded, unless FFmpeg has been disabled.
- Note that videos that have already been transcoded will not be re-transcoded when the limit changes. To do this, you would have

[2022-06-26 18:23] lastzero commented on #2461
Special thanks to Andre Carrera @acarrera94 for the original pull request #2379 and pushing this forward! Even though the "finishing touches" took more time than expected, it helped get it done.

[2022-06-26 19:07] lastzero commented on #2461
The preview build [220626-b0911205](https://docs.photoprism.app/release-notes/) is now available for testing.

[2022-06-26 19:11] nadigo opened #2470 "Docker: Publish hostname of the service on the local network"
As a user who installed photoprism on docker with macvaln network, I would like to use photoprism.local:port to access my site.

* missing MDNS / Avahi support on docker Image

[2022-06-26 20:32] lastzero commented on #2470
Is this a common best practice? Please add more details and examples, ideally based on our feature request template which we provide for this.

[2022-06-26 20:33] zilexa commented on #656
This is the single most used feature in DigiKam for me and family. Once this is available I will absolutely switch to PhotoPrism!

[2022-06-26 20:49] GideonStowell commented on #2275
@lastzero I have made some changes in the docs repo but don't have permissions to push my branch to origin. If you allow that for me I can create PR with my changes.

[2022-06-26 21:34] nadigo commented on #2470
yes, to access .local domains, the host has to publish its hostname over the local network using mDNS / Bonjour, the most common package for Debian is avahi-daemon. ([Avahi]https://en.wikipedia.org/wiki/Avahi_(software)) is a free zero-configuration implementation of the mDNS protocol.

Running avahi on a none privileged container needs one configuration since avahi require dbus (but can run witho

[2022-06-26 21:50] lastzero commented on #2470
Could we implement this directly in the app or is it required to use this daemon? Maybe there is a Go library we could use instead. A bit of research on alternatives would be amazing.

[2022-06-26 21:56] nadigo commented on #2470
There is also a go package I was looking at.
I’ll have another look and post it here.

On Sun, Jun 26, 2022 at 5:50 PM Michael Mayer ***@***.***>
wrote:

[2022-06-26 21:57] nadigo commented on #2470
I’ll have a closer look any post it here.

On Sun, Jun 26, 2022 at 5:56 PM Nadav Goshen ***@***.***> wrote:

[2022-06-26 23:08] nadigo commented on #2470
[this](https://pkg.go.dev/github.com/hashicorp/mdns#section-documentation) looks like small and simple one
you need only the server part

note that the service string has to include `_http._tcp` and the actual `$IP` and `$PORT` from the os / config.

`service, _ := mdns.NewMDNSService(host, "_http._tcp", "", "", $PORT, $IP, info)`

[2022-06-27 07:41] a-camacho opened #2472 "Empty "originals" folder if folder name has special character"
#### 1. What is not working as documented?

When checking "originals" folders, Photoprism is able to show me every folder that have pictures, and even show me thumbs.

When the folder containing pictures, has a special character : for, Geneva (CH) is written Genève in French, the pictures do not show and it says "no pictures found".

This bug seems to only be in "original" as pictures are parsed,

[2022-06-27 07:50] a-camacho commented on #2472
Hello everyone, seems I didn't check it correctly. After a fresh complete rescan everything works as expected.

[2022-06-27 07:50] #2472 closed, assigned to nobody

[2022-06-27 09:18] lastzero commented on #2470
Could this have security or other implications, especially when users are running the same image on public cloud servers or have multiple instances running on the same server? If so, what solution(s) do you propose?

[2022-06-27 19:40] lucasHabkost commented on #1587
I'm passing that as an ENV parameter, but since I'm not and advanced user I left "0.6950" (I haven't experimented with any other number).

Do you think this has an impact on the situation of pictures almost identical and the child is recognized as 2 different people?
The adult there is recognized as the same person on both pictures.

<img src="https://raw.githubusercontent.com/lucasHabkost/Pics/ma

[2022-06-27 21:42] gyto6 commented on #2470
Computers hostname are not accessible from WAN or IPV6 higher-sub-tunnel, it's only accessible within the same network neighborhood, explaining the following .local.

Furthermore, in public cloud instance, each server (physical or virtual) is compartmentalized in its own network.
I don't see any security breach or troubleshooting source as hostnames are not unique and only available in a LAN.

It'

[2022-06-27 21:56] nadigo commented on #2470
Agree. since photoprism is designed for local / house networks it should be
broadcasting its service and hostname via mDNS like most appliances do.

On Mon, Jun 27, 2022 at 5:42 PM gyto6 ***@***.***> wrote:

[2022-06-27 23:58] n0hot commented on #2466
This doesn't seem like a very difficult thing to change. Anyone else worried about SQL injection attacks on the login page?

[2022-06-28 00:49] IeuanK commented on #1587
I'm running into this same exact issue a lot, too. Pictures of my kids where sometimes it picks up one of them, but almost never all of them, even though they're the exact same picture (but different hash because different folder). Really seems like it should be able to at the very least do a 1:1 match like that?

[2022-06-28 13:56] centralhardware commented on #464
I don't want to change any of the original files so i use photoprism in origin read only mode.  So i'm would be grateful if rotate feature don't depend on change original files.

[2022-06-28 14:12] lastzero opened #2476 "Config: Report should include disable-webdav and http-compression"
**When I run the `photoprism show config` command in a terminal, I want a full list of configuration values to be displayed, including `disable-webdav` and `http-compression`.**

Note: The database DSN is intentionally not displayed at the moment because it may contain a password.

[2022-06-28 16:23] lastzero commented on #464
@centralhardware  This makes sense, but it also makes the implementation more complex, especially in terms of testing, since the result of the action may depend on configuration options or other variables. It's not something we can or should implement quickly.

In case you often have orientation problems, maybe even with recently taken pictures:

- you can also rotate them on your phone or camera

[2022-06-28 17:26] lastzero opened #2477 "UX: View type of search results and albums must be remembered"
**When you switch between card, mosaic and list view, the currently selected view type must be remembered. This feature has already been implemented. The functionality needs to be restored as it seems to have been broken during a recent refactoring.**

In addition, the viewer's history mode must be deactivated, since the result views repeatedly jumped back to the top after closing the viewer while

[2022-06-28 18:19] graciousgrey commented on #2466
Thank you very much for your kind feedback. We will consider this at a later time, as we are extremely busy at the moment.

[2022-06-29 03:14] n0hot commented on #2466
👍🏻

[2022-06-29 08:42] lastzero commented on #2461
Released since no problems were reported!

[2022-06-29 08:59] #2461 closed, assigned to lastzero

[2022-06-29 09:15] #2464 closed, assigned to lastzero

[2022-06-29 09:18] #2398 closed, assigned to lastzero

[2022-06-29 09:18] graciousgrey commented on #2477
Released since no problems were reported!

[2022-06-29 09:18] #2477 closed, assigned to lastzero

[2022-06-29 09:18] #2476 closed, assigned to lastzero

[2022-06-29 09:19] graciousgrey commented on #2390
Released since no problems were reported!

[2022-06-29 09:19] #2390 closed, assigned to lastzero

[2022-06-29 09:20] #2447 closed, assigned to lastzero

[2022-06-29 09:21] graciousgrey commented on #1623
Released since no problems were reported!

[2022-06-29 09:21] #1623 closed, assigned to lastzero

[2022-06-29 09:21] graciousgrey commented on #1582
Released since no problems were reported!

[2022-06-29 09:21] #1582 closed, assigned to nobody

[2022-06-29 12:33] graciousgrey commented on #152
No timeline view yet, but the [latest release](https://github.com/photoprism/photoprism/releases/tag/220629-5d7448d2) comes with a much faster scrolling experience :tada:

[2022-06-29 15:25] heikomat commented on #2258
yup, pseudo-virtualization and scroll-performance improvements have been released.
Happy to close this issue 😊

[2022-06-29 15:25] #2258 closed, assigned to nobody

[2022-06-29 16:04] n0hot commented on #2466
**Update:**  After a bit of analysis, I did come up with a solution to create a firewall rule that blocks the POST of the /auth/login page. That effectively mitigates any attempts to login from IPs other than then ones I allow.

[2022-06-29 17:17] lastzero commented on #2466
Note that the frontend as such is not critical. For security reasons, you should instead block the REST API endpoint `POST /api/v1/session`. That's where sessions are ultimately created, not in the UI. It only communicates with the API.

[2022-06-29 17:31] n0hot commented on #2466
Thank you.

[2022-06-29 19:21] hkdd commented on #1337
Struggling with hardware transcoding using Intel GPU.  Followed the recommendations above. I do have other containers (jellyfin, plex) that use Intel hardware decoding on this same device.  But viewing videos on Photoprism, according to the logs, is still using libx264 software decoding despite the config details below:

photoprism           | time="2022-06-29T19:13:54Z" level=info msg="libx264: t

[2022-06-29 19:30] lastzero commented on #1337
Kindly note that due to the high volume of support requests we receive, hardware transcoding is available to sponsors only.

[2022-06-29 19:49] hkdd commented on #1337
Sure, fair enough.  Just to be clear, do you mean the hw transcoding feature itself, or support for the feature, is available only to sponsors?  Looking at the source it appears to be the former, as there's a hardcoded "c:v libx265".

Nevermind:

[2022-06-30 14:57] klibansky commented on #325
Really like this feature. It would be quite unique because I haven't found this feature in any other photo album app I have found.
Don't forget to remove (or blur) the thumbnail/cache images.

Another feature I would love to have, connected to this one, is an extra layer of security, by encrypting the source files somehow. I know there will be a performance hit but better safe than sorry.
I would

[2022-06-30 20:10] lakimens opened #2484 "UX: Optimization of the image size displayed in the Photo Viewer"
Currently, the size of images displayed on my screen (1920x1080) is either fit_720 or fit_1280. However, comparing the quality difference with fit_2560 or fit_4096, the difference is night and day.

I think it would be nice if we can force the image size being returned. It's a dirty (easy) solution to getting quality of image previews equal to that of Google Photos.

[2022-06-30 20:57] lastzero commented on #2484
Equal to Google Photos? That's an insult 😹

I recommend trying fullscreen mode, as then the viewport will exactly match the thumbnail. The ideal size is calculated based on the viewport size and pixel density:

https://github.com/photoprism/photoprism/blob/06fe7b7e0ef8f01e7953dfa65486740f9a6c3b15/frontend/src/common/viewer.js#L176

If you find a glitch and know how to fix it, feel free to send a p

[2022-06-30 20:58] gyto6 commented on #325
First, encryption is a thing that must be done by your filesystem. Especially to not suffer from performances issues. Multi-User being on its way, you can't cipher all users photos with one key. It'd wouldn't be logical and secure. BTW, it would require for "guest" user to remind about a key that encrypt their whole pictures, and you can be sure that they'll loose it.

Second, zip all NSFW picture

[2022-06-30 22:01] XtremeOwnageDotCom commented on #325
Y'all quit trying to add "feature creep" here. Let's get to a point where the NSFW/Private photos can at least have a password and then move on!

[2022-06-30 22:49] bm55 commented on #2103
How about casting to another browser running PhotoPrism similar to how Jellyfin casting works. For example - if you have a laptop or another low powered device with browser connected to TV and PhotoPrism is opened then use your phone to cast and control the browser connected to TV?

[2022-06-30 22:49] bm55 commented on #1008
How about casting to another browser running PhotoPrism similar to how Jellyfin casting works. For example - if you have a laptop or another low powered device with browser connected to TV and PhotoPrism is opened then use your phone to cast and control the browser connected to TV?

[2022-07-01 16:35] lastzero commented on #2484
Does it get better when the browser window uses the full width of 1920 pixels so that the image resolution matches your screen? If not, there may be something wrong with how the browser reports the screen or window size.

In any case, it would be helpful to know what operating system and browser you are using, as indicated in our bug report template: https://photoprism.app/kb/reporting-bugs

I'll

[2022-07-01 16:35] #2484 closed, assigned to nobody

[2022-07-01 16:39] lastzero commented on #2470
How does the Docker container know which IP to publish? Containers usually only have an internal IP unless a bridged network has been configured, which is not the default. If you can only use it locally anyway, there's probably not much to publish since the hostname will always be localhost?

[2022-07-01 16:56] nadigo commented on #2470
In my mind the typical architacture is photoprism hosted on a local NAS
(natively or most likely via docker) and an end-user accessing it via a
browser from a different computer over the lan.
If that's the use case you had in mind, the default docker network should
be 'bridge'.

On Fri, Jul 1, 2022 at 12:39 PM Michael Mayer ***@***.***>
wrote:

[2022-07-01 17:10] lastzero commented on #2470
Wouldn't a bridge network require DHCP and its own IP? I'm not sure we should expect that. And I don't expect many users to use it that way, especially with Synology and similar consumer NAS devices. Of course, I could be wrong...

[2022-07-01 17:17] nadigo commented on #2470
Why use phtooprism **unless** you are remote from your image repository ....
(We can take it for granted that DHCP will assign IP over the lan)

On Fri, Jul 1, 2022 at 1:10 PM Michael Mayer ***@***.***>
wrote:

[2022-07-01 17:26] lastzero commented on #2470
People often just use it on their local computer or access their instance over the internet. In both cases a local domain doesn't help much. Likely, there is also no easy way to get a signed TLS certificate for a local domain. It's important to understand the exact use case. So from what I understand it mostly makes sense to publish a name if the IP is private but not in a range that Docker uses i

[2022-07-01 17:44] nadigo commented on #2470
agreed, to publish photoprirm over the internet you would need a lan IP + port fw + dynamic or fix DNS. So bridge networking is a basic config for all use cases. The broadcasting of the local hostname IP over mDNS has no impact on remote access as most routers will not pass the broadcast. I use many home network services, many of them on PI and some on NAS or other home servers **almost all of the

[2022-07-01 18:03] nadigo commented on #2470
to sum up, I think bridge networking + mDNS should be the default + adding `hostname: photoprism` to docker and changing the documentation to let users know that  photoprism should be accessed on http://photoprism.local:PORT

[2022-07-01 20:32] fjw commented on #1587
Same issue here. Everything is well with adults but it doesn't detect my daughter at all.
I have hundreds of unrecognized images of her and I already tagged hundreds images of her but it still can't recognize her face on other pictures.

I donated additional 5$ to this, if this helps. But for some reason it doesn't show in the comments. Perhaps I did something wrong. I will check again in some day

[2022-07-01 20:36] lastzero commented on #1587
Note we've stopped using IssueHunt. You're welcome to support us on GitHub Sponsors and Patreon! 🤗

[2022-07-02 16:21] centralhardware opened #2490 "Search: Sort pictures by number of recognized faces"
===============================================================================

**Is your feature request related to a problem? Please describe.**

It will by usefull if user can group photo by number of people in the image

**Describe alternatives you've considered**

filter by number of people in the image

**Additional context**

I'm slowly mark new faces that weren't automatically recognized

[2022-07-02 17:59] centralhardware commented on #2490
hm, i found  that i can use `faces:<number of peaple>` for filter by number people in the image but if i try `face:new faces:1`  this does not change anything.
I try `faces:1` in search tab and I still don’t get the result where all the photos have only one face

[2022-07-02 18:07] lastzero commented on #2490
Guess it's because it will search for pictures with AT LEAST one face. We found this most suitable as additional faces sometimes are not detected, so it often won't be an "exact" match with the number of faces you expect. Can be more anyway.

[2022-07-02 22:11] rwps commented on #1648
Same issue for me, no content apart from an inactive logo appears on the page when I go to :
https://demo.photoprism.app/labels
And that’s on two separate iOS devices, iPhone 12 on iOS 15.4 and IPad Pro 11 gen3 on ios 15.5

[2022-07-02 22:15] lastzero commented on #1648
Can you provide a screenshot and sample file to reproduce this please? Do you have JSON sidecar files enabled?

[2022-07-03 03:36] rwps commented on #1648
![C910193B-6E88-4CFF-91E2-9CC2260E917D](https://user-images.githubusercontent.com/63499075/177023470-ce4da62f-c83b-4dd4-a1d8-8249a390c311.png)
A page I can’t do anything on
And I don’t understand the json question I have a standard iPhone setup, and the result is the same in safari and Firefox
Thanks

[2022-07-03 07:04] lastzero commented on #1648
Might be an issue with the CDN. Do thee browsers work? Do you see any errors on the JS console?

[2022-07-03 12:56] david1155 commented on #2464
Hello,
I'm using external two-factor auth (Authelia) for the frontend. Therefore, I set `PHOTOPRISM_PUBLIC=true`.
I also use several devices with PhotoSync to automatically upload media via WebDav (with password auth passthrough frontend auth). Please advise how is it possible to continue using WebDAV upload functionality without using built-in web auth for the whole PhotoPrism?
Maybe it's worth i

[2022-07-03 15:05] lastzero commented on #2464
You could run a custom file server. How did it work before? Were you able to use WebDAV without password?

[2022-07-03 15:09] centralhardware commented on #144
don't you think that relation between people this is an attempt to get into the territory of the genealogical software that focus on genealogical tree

[2022-07-03 15:22] centralhardware commented on #213
hm, looks like all we need it's node exporter for node monitoring and mysql_exporter for database Monitoring.
Maybe we can monitor count of recognized faces or count of photos but i don't think it's useful enough

[2022-07-03 15:52] david1155 commented on #2464
I used the following nginx frontend config:
[code]
PhotoSync has a built-in PhotoPrism plugin for authenticating via WebDAV. In fact, I used a standard admin account and password to authenticate. It was more convenient than a custom file server because PhotoPrism starts importing instantly after upload.

[2022-07-03 15:59] david1155 commented on #2464
It was configured long time ago [per documentation](https://docs.photoprism.app/user-guide/sync/webdav/)
<img width="709" alt="Screenshot 2022-07-03 at 18 58 53" src="https://user-images.githubusercontent.com/64733669/177047594-e8d18641-678f-41f3-b7a8-ec754ffd81a6.png">

[2022-07-03 18:23] lastzero commented on #1648
This should be fixed now. We recently implemented security enhancements and this blocked the Web Socket connection in Safari.

[2022-07-04 00:16] rwps commented on #1648
Thanks - yes it is working now

[2022-07-04 06:49] lacrimal commented on #1337
Reading whole topic need to be clear about HW acceleration availability. Have had hardware acceleration enabled (and working) in my config but from undisclosed time it is not working anymore.
It is not working because it is available only for sponsors now ?

[2022-07-04 07:04] graciousgrey commented on #1337
Yes, [hardware acceleration](https://docs.photoprism.app/getting-started/config-options/#file-converters) is only available for [sponsors](https://photoprism.app/membership).

[2022-07-04 12:31] RichiH commented on #213
For direct instrumentation, it would be more common to expose e.g.
latency buckets for processing time of photos or requests.

For data that's in MySQL, or on the local machine, mysql_exporter &
node_exporter are better, agreed.

[2022-07-04 15:15] graciousgrey commented on #2275
@GideonStowell there should be no permissions needed to create a pull request :)

[2022-07-04 16:27] juan393939 opened #2493 "Windows Docker - Using Hardware transcoding possible ?"
Hi !

I'm new to Photoprism and non-native english speaker, so my apologies in advance :)

I have a Windows PC with Docker on it, with Photoprism + Traefik, that works perfectly fine so far :)

The main issue i'm having is the delay needed for my PC to transcode videos when i want to see them. (2 minutes of wait before being able to see a 200mb 4k video)

I've read somewhere that i could do it in

[2022-07-04 20:07] #2493 closed, assigned to nobody

[2022-07-04 21:00] azukaar commented on #281
I don't really understand the lengthy conversation about not simply supporting auto-importing / auto-indexing. Out of hundreds of self hosted media solution (Movies, images, musics, etc..) Photoprism is literally is only one software that exist that does not support this... Imagine having to manually hit scan everytime your library changes in Plex, Jellyfin, Airsonic or Navidrome?
All those softwa

[2022-07-04 21:18] ITCMD commented on #281
I agree. I've made a script that indexes every 5 minutes if nobody is on one of the game servers sharing the hardware, but it's less than ideal.

Takes 1-10 minutes for a photo I take to show up in my Photoprism library. I honestly am confused why this isn't being treated as a **very** high priority issue.

[2022-07-04 21:19] ITCMD commented on #281
I think someone said that indexing should work if it's uploaded over webdav. I do want to confirm that this is not true. Photoprism will not index photos uploaded over webdev until an index command is run to docker.

[2022-07-04 21:28] lastzero commented on #281
Yes, automatic indexing and import will work if you use WebDAV. Since our users have a wide variety of file systems and operating systems, we will not release something that has only been tested with the default file system on Linux, as this could result in a huge number of support requests that we will not be able to handle. Also, we are currently working on multi-user support, which many are als

[2022-07-04 21:57] azukaar commented on #281
The very vast majority of the system supports file watchers, but that's beside the point, since you don't actually need watchers to simply trigger a periodic scan right?
The "solution in the middle" / "low effort solution" I was proposing was simply having the option to have periodic scan without the sketchy CRON setup behind it.

[2022-07-04 22:51] lastzero commented on #281
Why Cron? It's a few lines of YAML and we even provide a tested example: https://dl.photoprism.app/docker/scheduler/

[2022-07-05 00:52] GideonStowell commented on #2275
@graciousgrey I'm talking about permissions to push a feature branch.

[code]

[2022-07-05 01:27] ITCMD commented on #281
Like I said though, automatic indexing does **not** occur for me when I upload via webdav.

Is there some setting I need to enable for that to work?

[2022-07-05 03:38] centralhardware commented on #2401
it would be grate, if i can batch select photos and have button for remove all faces from all image

[2022-07-05 03:54] centralhardware commented on #1874
thumbnails and original files should not be on the same disks. It is logical to place the thumbnails on a fast disk, while the original files can be located on the hdd. so this optimization may result in slowdowns for some number of users.

[2022-07-05 04:47] heikomat commented on #2275
@GideonStowell  as @graciousgrey said, there is no need for any permissions at all to create a PR.
To create a PR you must
1. fork the repository
2. clone the fork
3. create a new branch on your fork (optional)
4. Do the changes you want to do
5. Push your changes to your fork

After these steps, Github will allow you to open a new Pull Request with the upstream photoprism repo as base, and the br

[2022-07-05 04:49] graciousgrey commented on #281
@ITCMD it's triggered after a safety delay that can be configured with

PHOTOPRISM_AUTO_INDEX

https://docs.photoprism.app/user-guide/library/originals/#automatic-indexing

In case this does not work feel free to open a bug report following this template --> https://photoprism.app/kb/reporting-bugs

[2022-07-05 04:59] graciousgrey opened #2495 "Settings: Add admin panel for background job scheduling"
**As a user I want to configure job automation from within the GUI, so that I don't need to edit the yml file.**

Currently job automation such as regular indexing needs to be set up within the docker-compose.yml (https://dl.photoprism.app/docker/scheduler/)

Acceptance Criteria:
- The user must be able schedule commands such as index or import from within the GUI

Related Issues:
- https://github

[2022-07-05 05:14] graciousgrey commented on #281
We understand that it is much more convenient to set up job automation (e.g. for indexing) in the user interface than to use our examples from the documentation. The same is true for some other config options ( Even if there is not yet an issue for every option).
We have this on our radar, and the long term goal is for the end user to be able to do as much as possible through the GUI. It's just a

[2022-07-05 10:56] azukaar commented on #281
Whether you use CRON or another scheduler, doesnt change the DIY aspect of it, esp. for people not using your docker-compose right away / at all.

Done! Here's also a good inspiration. Navidrome is one of the best performing (if not the best) software in that category. This makes it much cleaner, no need for external scheduler, just a simple setup

https://github.com/navidrome/navidrome/blob/maste

[2022-07-05 10:59] GideonStowell commented on #2275
Thanks, it wasn't clear to me that was the suggested workflow before. Make sense now.

[2022-07-05 20:44] blue-kaleidoscope opened #2497 "Videos: AVC file is unexpectedly transcoded, maybe due to a bitrate limit?"
#### 1. What is not working as documented?

I have an MP4 file which comes from my Canon Powershot G7X Mark II which uses the h264 codec.
Using Photoprism **v220629** starts the encoding process with libx264 once the video should get played back.
Using photoprism **v220617** plays back the video directly without encoding it beforehand (as expected).

#### 2. How can we reproduce it?

Steps to repr

[2022-07-05 20:55] CWempe commented on #1330
This is indeed a great feature.

This should be added to the documentation until it is usable intuitively.

[2022-07-05 21:17] CWempe opened #2498 "Sharing: Main navigation bar for shared links"
**Is your feature request related to a problem? Please describe.**

I want to share one or more albums with a bunch of people. (guest of a wedding)
While I can [share multiple albums with one link](https://github.com/photoprism/photoprism/issues/1330#issuecomment-1024883565), the visitors cannot use the great features like people, places, labels, calendar, events from the main navigation bar.
Thes

[2022-07-05 21:19] lastzero commented on #2497
I suspect that the average bitrate is above the configured limit, so the API transcodes the video as intended. For details, see:

- #2461

[2022-07-05 22:45] lastzero commented on #281
Thank you! We appreciate your feedback. As Theresa said, we are aware that many details can and should be improved. However, we cannot and should not work on everything at the same time. In general, we try to focus on features and improvements for which no other tools or workarounds exist. I fully agree with you that implementing a built-in scheduler or watcher is technically not a problem and mak

[2022-07-06 05:58] graciousgrey commented on #2498
Somehow related to : https://github.com/photoprism/photoprism/issues/557.

[2022-07-06 06:15] graciousgrey commented on #2498
Not sure if this is a suitable use case for sharing links. Might get really complicated  e.g. if you select the "people" option for one album you share with a link, but not for another album that is shared with the same link.   Also with the search people can search with specific search filters and reveal metadata you might not wanted to share...

Might be better to solve this with read-only users

[2022-07-06 06:18] blue-kaleidoscope commented on #2497
Understood. It totally makes sense. I was just confused because my environment variable was set to `PHOTOPRISM_FFMPEG_BITRATE: "25"` and ffmpeg gave me for this file `Stream #0:0[0x1](eng): Video: h264 (High) (avc1 / 0x31637661), yuvj420p(pc, bt709, progressive), 1920x1080, 24532 kb/s, 29.97 fps, 29.97 tbr, 30k tbn (default)`. I assumed 24532 kb/s is less than 25 MBit/s.

But I figured out that yo

[2022-07-06 06:18] #2497 closed, assigned to nobody

[2022-07-06 20:28] CWempe commented on #2498
You are right, if I select `people` for one shared album it should have the same settings as any other shared album with the same link. I understand this might get confusing for the user.

I thought this was already possible, because when I opened the shared link I could see other albums like events and places.
But that seems to be an error, because I was logged in with the same browser, so while

[2022-07-07 11:51] lastzero commented on #2372
Is this still an issue (that should remain open)?

[2022-07-07 11:54] ollioddi commented on #1028
Would love this feature.

Could it perhaps make sense to also label all edited photos for quick search? The edited photos would often be a collection of the best photos, so it would be like an Instagram feed for your best shots and edits.

[2022-07-07 12:35] lastzero commented on #1788
I see this as being implemented with this:

- #2461
- #440
- #513
- #2379

[2022-07-07 12:40] lastzero commented on #1788
If you consider **variable bitrates chosen by the browser** to be necessary beyond the bitrate limit we have already implemented, feel free to submit a new feature request describing the use case/expectations in a way that can be realistically implemented and tested by us. 👍

Edit: Found this 👇

- #1070

[2022-07-07 12:41] #1788 closed, assigned to lastzero

[2022-07-07 12:51] lastzero commented on #633
See Release Notes of Go 1.12:  https://go.dev/doc/go1.12

Maybe that is the "issue"? Please verify as we will otherwise close this, assuming that it is only a problem with how the memory consumption is reported.

[2022-07-07 12:54] lastzero commented on #1568
This has become a bit more complex, because in addition to the audio codec (and the codec support of the individual browsers), the bitrate now also determines whether a video needs to be transcoded:

- https://github.com/photoprism/photoprism/issues/2461#issuecomment-1166605294
- #1070

[2022-07-07 12:58] alexislefebvre commented on #633
@lastzero what are we supposed to check? Go 1.12 was [released](https://go.dev/doc/devel/release#go1.12) one year before I opened this issue, so this behaviour was already present. Does the system RAM must be full to trigger the unloading of nasnet and release the memory?

[2022-07-07 13:12] lastzero commented on #633
Exactly. You reported that memory is not released, and the Go docs say it will look that way, and yet they implemented it like that simply because it improves performance.

The Linux kernel is responsible for freeing memory when needed, which I understand can be several hours later. If you have other information, please share it. 👍

[2022-07-07 14:46] mikolaje opened #2502 "CANNOT connect to localhost:2342 after docker-compose up"
I'm using Mac and downloaded the latest version of photoprism.

I started by: `docker-compose up`, and the following is the log:
[code]

[2022-07-07 14:47] #2502 closed, assigned to nobody

[2022-07-07 18:00] lastzero commented on #1049
@jamesread @JoshMock Would you mind testing these changes? Of course only if you are still interested :+1:

[2022-07-07 18:18] JoshMock commented on #1049
@lastzero I'll see if I can set it up soon! Is there a Docker build for this change?

[2022-07-07 18:38] lastzero commented on #1049
That'd be amazing! Yes, the preview build has just been updated. The release notes for the preview are not up to date in case you wonder, but the roadmap is.

[2022-07-07 19:01] hpka commented on #1028
I'd also like to see this, in part because I'm engaged in a project to scan many old family photographs using an [Epson FastFoto FF-640](https://epson.ca/For-Home/Scanners/Photo-Scanners/FastFoto-FF-640-High-speed-Photo-Scanning-System/p/B11B246201). Relevantly here, it produces up to three jpegs for each scan, named as follows:

- If you set these ([help page for interface](https://files.support.

[2022-07-08 10:28] lastzero commented on #1049
The release notes for our preview build have been updated:
- https://docs.photoprism.app/release-notes/#development-preview

[2022-07-08 10:48] lastzero commented on #1874
The release notes for our preview build have been updated: https://docs.photoprism.app/release-notes/

**Thank you to everyone who helps with testing! We appreciate it very much.**

[2022-07-08 11:14] alexislefebvre commented on #633
I started Photoprism and indexing yesterday at 18:00, then today at noon I used [`tail /dev/zero`](https://unix.stackexchange.com/questions/99334/how-to-fill-90-of-the-free-memory/254976#254976) in order to fill the RAM (note the red spike of the swap at noon), the memory usage of `apps` as reported by munin was unchanged, the memory used by `apps` lowered only when I shut down the Photoprism cont

[2022-07-08 12:13] lastzero commented on #633
Interesting, thanks for testing! I'm still not sure if it makes sense to "change" this (or what to change in the first place):

- unloading and reloading the TensorFlow model, for example, is an expensive operation
- this is especially bad for users who have background indexing set up that might run every 5 minutes

[2022-07-08 14:05] lastzero commented on #1874
Q: Will redundant thumbnails that have already been created be removed?

A: Not without further work. If this is important to you, then manually delete the `cache/humbnails` folder and regenerate the thumbs. This will take longer than deleting specific files, but no special logic is required (and most importantly, no required files will be deleted). If you run `photoprism cleanup`, thumbs without

[2022-07-08 14:20] alexislefebvre opened #2506 "People: Make face recognition results independent of thumbnail size"
**Is your feature request related to a problem? Please describe.**

Configuring the size of thumbnails can affect the face recognition negatively.

This was added as a warning:

[source](https://github.com/photoprism/photoprism-docs/commit/4fa3bb0679100905e38b9f230f6304059ebddebd)

**Describe the solution you'd like**

Perform face recognition on :
- original images
- or if it would too heavy for

[2022-07-08 14:24] alexislefebvre commented on #1874
Could you please provide a list of the files what we could delete? If we know the sizes of the thumbnails, we could delete the redundant thumbnails with something like this: `rm cache/thumbnails/**4096x4096_fit*`

[2022-07-08 14:33] lastzero commented on #1874
It depends on the size of the originals, because only the high resolution `fit` sizes can be skipped. I am AFK now and will be back next week.

[2022-07-08 14:45] lastzero commented on #2506
We could automatically increase the minimum thumb size if face recognition is enabled, but that may conflict with the config options. Just like on demand generation may conflict. IMHO it's best not to tinker too much and keep the defaults.

[2022-07-08 14:50] jamesread commented on #1049
Hey @lastzero , just grabbed the preview container image now, and the first results are looking pretty good. I have images showing up nicely.

I was fumbling for a bit because I have not actually used photoprism up until this point - it looks like I've got to index 500Gb of Photos for anything to show up in the Library -> Originals browser. That's not a problem, I want all their metadata indexed :

[2022-07-08 14:59] lastzero commented on #1049
AFAIK broken links should be skipped while indexing, but you should see an error or warning in the logs. If a link of an already indexed file breaks, it should be marked as missing in the files table just like any deleted file.

[2022-07-08 16:32] WhyNotHugo opened #2507 "Docs: Update privacy policy, system requirements and FAQ to better inform about external services"
#### 1. What is not working as documented?

Photoprism silently sends the location data for ALL PHOTOS to https://places.photoprism.app.

I did a quick try of photoprism on a container with no network access (but based mostly on `https//dl.photoprism.app/docker/docker-compose.yml`). As soon as I started indexing photos, I saw a massive amount of failed network requests, each sending the location o

[2022-07-08 16:53] lastzero commented on #2507
This is written on our feature page, in our compliance FAQ, the privacy policy, and the developer guide. RTFM.

[2022-07-08 16:53] #2507 closed, assigned to lastzero

[2022-07-08 17:00] wonx commented on #1143
I would add that not only keywords are stored in Exif and IPTC, but also in XMP metadata.

[2022-07-08 17:08] lastzero commented on #2507
Why don't you submit a PR with a consent dialog that meets your needs?

[2022-07-08 17:09] WhyNotHugo commented on #2507
The privacy policy (as I quoted above) states the exact opposite (emphasis mine):

[2022-07-08 17:11] WhyNotHugo commented on #2507
Looking at the [FAQ](https://docs.photoprism.app/getting-started/faq/) (I read the questions, not the answers), nothing seems to be related. I searched (e.g.: Ctrl+F) for `location`, and the only mention of this word is unrelated to the issue at hand.

[2022-07-08 17:12] WhyNotHugo commented on #2507
The [feature page](https://docs.photoprism.app/) also does not seem to mention this.

Actually, all these pages focus a lot on privacy; none of them mention "the location data for all your photos is submitted over the internet to a remote server".

[2022-07-08 17:13] lastzero commented on #2507
**Does your software depend on external services or is it completely self-contained?**

As explained in detail in our Privacy Policy, reverse geocoding and interactive world maps depend on retrieving the necessary data from external systems supplied by us and MapTiler AG, headquartered in Switzerland. Both services are provided with a very high level of privacy and confidentiality.

Your use of th

[2022-07-08 17:14] JoshMock commented on #1049
I just started up a fresh install on my RPi4 and it seems to be scanning my symlinks! I've got thousands of images and, you know, it's an RPi4, so I'll post more updates later about how it's going.

[2022-07-08 17:16] lastzero commented on #2507
### 7. Reverse Geocoding API

If enabled, our privacy-preserving reverse geocoding service provides global location information to enrich your photo and video metadata with details such as country, state, city, and category:

(a) API requests are not logged permanently.

(b) Location data is cached so that it can be reused for subsequent requests from you or other users.

(c) Our API approximates

[2022-07-08 17:18] lastzero commented on #2507
"Our privacy-preserving backend services provide worldwide location information to enrich your pictures with details such as state, city, and category."

Backend, services, provide are the keywords here.

[2022-07-08 18:42] alexislefebvre commented on #2506
Fair enough, I used a [trick to reduce the generation of thumbnails](https://github.com/photoprism/photoprism-docs/commit/a49228888382bf1d09cc79865fa0c66b951e4816) but now I will favour the facial recognition. I'll restore the thumbnail sizes to default values and see how it works. And #1874 will avoid redundant thumbnails.

[2022-07-08 18:54] WhyNotHugo commented on #2507
I see. I seem to have missed that when reading through the details.

Honestly, I saw a couple of mentions of you guys, and was curious whether it worked offline. I looked up the face recognition part, and saw no mention of photos or metadata being uploaded anywhere. That seemed nice, so I read the privacy policy and came across this:

This seems to hint that data does not leave my network. I think

[2022-07-08 19:05] lastzero commented on #2507
If a confirm dialog is important to you, you are welcome to contribute one. In practice, the requests are completely anonymous. We have no information other than that photos were taken on planet earth. Keep in mind the huge number of requests and users. If you work for a government and have higher security standards, we can provide that for a fee.

[2022-07-08 19:11] lastzero commented on #2507
Data THAT never leaves. For some features, you still need data, but we don't UPLOAD FILES FOR THIS. We did not write you get the satellite and satellite maps on top of the free software. Read carefully and until the end. This clearly would have helped your understanding.

[2022-07-08 19:51] WhyNotHugo commented on #2507
So when you put these two sentences together:

It strongly implies that because one self hosts, the data won't leave the local network. It's not worded literally, but I think it's quite natural that someone might expect this.

Honestly, my need are met; I can figure these details out myself. I just wish you'd be more transparent with _other_ users, making it clear to them what information is being

[2022-07-08 19:57] lastzero commented on #2507
You compare us with Facebook? 🤡

[2022-07-08 20:49] WhyNotHugo commented on #2507
I did not. I won't engage in further discussion here. It seems that you're mostly claiming to care about privacy more the marketing value, but don't actually care about this at all.

I do hope you're reconsider asking users for their consent before extracting all their location metadata from their photos and sending them to remote servers. Especially while giving the impression that the product is

[2022-07-08 20:52] lastzero commented on #2507
I guess your point is that we should start charging for this service so that users like you become more aware of the value they receive. Is that correct?

[2022-07-08 21:34] JoshMock commented on #1049
About 10% done working through the 25k photos in my library and from what I can tell it's treating symlinks exactly as if they were files. :tada:

This'll likely take a day or two to finish, and I want to see if it makes it to the point of facial recognition etc., but so far I'm satisfied.

[2022-07-09 00:39] CaptnSeraph commented on #1874
If I'm right that the thumbnails are only displayed upto the maximum resolution of the screen they are being displayed on, it may be beneficial for some users who know the maximum resolution of their screens to not exceed 4k to remove the 4096x4096 and the 7680x4320 anyway as I don't believe they would ever be displayed by the current implementation of the viewer.

Unless I'm misunderstanding how

[2022-07-09 05:41] heikomat commented on #2507
It seems this discussion here got a little heated and emotional. Please allow me to try to make it more constructive by summarizing the (from my point of view) valid points from both sides.

First of @WhyNotHugo I can somewhat see why you might think that the way things are formulated **might be** a little misleading to some people. This doesn't mean that "everything gets leaked".

I would conside

[2022-07-09 07:44] lastzero commented on #1874
The default size limit is 2048, so unless you changed it, you won't have 4k or 8k thumbs anyway.

[2022-07-09 07:50] lastzero commented on #2507
Most users would absolutely hate having to reindex all pictures because it was turned off. The correct way is to implement a confirm / consent dialog which I currently don't have time for. One of the reasons is that people use bug reports for discussions. I've asked many times to please contribute such a dialog, but no. He probably thinks we have a marketing department that could do it. So mistake

[2022-07-09 07:54] lastzero commented on #2507
We don't benefit from offering this service. It's not like we collect data to sell it. Others charge for it and if our users want us to develop an army of dialogs and legal documents, we have to charge them too. What about saying THANK YOU for doing all this!?

[2022-07-09 10:41] carlonluca opened #2510 "Metadata: Unknown values should be ignored when parsing timestamps"
#### 1. What is not working as documented?

PhotoPrism seems to read multiple creation date tags, but the logic seems to return the wrong result.

#### 2. How can we reproduce it?

I created an image with these date tags:

[code]

and started the scan.

#### 3. What behavior do you expect?

I'd expect the photo to be detected and the valid date to be extracted. Date/Time Original time is clearly e

[2022-07-09 17:42] JWCook commented on #1779
This would be an extremely useful feature that I would love to see. My use case is nature photography, somewhat similar to @dinoschachten's workflow. As far as I know, there are no existing self-hosted server-based photo management tools that support hierarchical keywords.

[2022-07-10 03:47] LeehamElectronics commented on #1031
sadly this can be easily bypassed as PhotoPrism does a server-side redirect to the auth login page when an invalid URL is entered which bypasses NGINX locations.

[2022-07-10 03:51] LeehamElectronics commented on #466
I really like the idea of right clicking and sharing the image link for individual photos, however I do not like the idea of having PhotoPrism directly accessible through the web. I use WireGaurd VPN so I never have to expose a service. To get around this I figured I could have my public facing NGINX reverse proxy expose PhotoPrism with limitations. The goal is to only allow access to URL's prefix

[2022-07-10 21:55] firefly91 commented on #1641
Hi all,
I had the problem with serveral docker containers (e.g. Photoprism, Paperless, etc.)

Solution if you are using a proxy, e.g. NGINX: Change the header via custom location.

[code]
Now photoprism is loading in iFrames via your domain (e.g. Organizr, Netxtcloud, etc.)

[2022-07-10 22:48] dinoschachten commented on #1779
Exactly, @JWCook - DigiKam is outright overflowing with features, but somewhat cumbersome to work with, relying on each client to be set up and connected to both database and file shares (not running smoothly on macOS at all, because macOS is getting weirder and weirder in the way it accesses network shares).
There are many server-based solutions, the vast majority of which are very rudimentary or

[2022-07-11 17:54] Angelmmiguel commented on #1885
I can confirm this solves the issue! Thanks for the tip 😄

[2022-07-12 07:48] graciousgrey commented on #2507
I would also not turn it off by default but I like the idea to include it in the onboarding wizard when we find time to implement it :)

[2022-07-12 22:57] NaXal commented on #496
I am having a NextCloud Snap Installation running on a physical home server. I just installed Photoprism on another sperate physical system as VM with official the Docker Image.

I am having this similar issue with WebDav connection to my NextCloud machine when trying to connect via internal LAN IP.

One thing I noticed, I need to turn off SSL (HTTPS) on NextCloud Server and then only PhotoPrism c

[2022-07-14 10:05] djjudas21 commented on #1100
I'm interested in this, but from a different perspective. I am running PhotoPrism in a 3-node Kubernetes cluster, and I am interested in multiple replicas to benefit from that compute during indexing.

- Is it possible to run multiple replicas of PhotoPrism as-is, without breaking something? All the persistent data is in a Kubernetes persistent volume, and obviously the database is in a separate M

[2022-07-14 11:59] korikori commented on #2234
Hi, for an iPhone user, the default options after this change lead to the following:
 - only download HEIF files;
 - won't download JPEG files.

Settings the Originals option to `false` brought back the JPEG downlods. If you could add an option to disable HEIF downloads, or add them to the option that disables RAW downloads, that would be great.

[2022-07-14 15:41] aaliddell opened #2516 "Photos fail to index after import, empty file error"
#### 1. What is not working as documented?

Photos are being added to PhotoPrism via iOS PhotoSync app to WebDAV. When import runs, it first moves the .heic files and then fails with error saying the file it just moved is empty. Looking at the files on disk, they are not empty. If I then run a manual reindex, the files are correctly picked up without issue. The library is stored on a network mount

[2022-07-14 17:04] lastzero commented on #2516
Seems to be a permissions issue. If a file can't be read, it appears empty although it is not.

[2022-07-14 18:22] aaliddell commented on #2516
Nothing is changing between the 'empty file' error and the subsequent successful index though. So if there was a permissions error, I would expect either the move to fail and the subsequent index to fail.

Promised logs below tracing a single photo:

[code]

Start of manual index:
[code]

[2022-07-14 18:58] lastzero commented on #2516
Error reporting must be improved, didn't get to it yet due to the amount of other work we have. The most time consuming part is to reproduce it as everything works under normal conditions.

[2022-07-14 19:07] lastzero commented on #2516
It could also be a sync issue since you mentioned a network file system. I remember someone had that as well. Could you try to use NFS instead of SMB or change the mount options (sync, async,...) if there are any?

[2022-07-14 19:17] aaliddell commented on #2516
I’ll see if I can reduce the steps required to a minimal case. My bets are on some weird network mount behaviour, although I’ve dug through the cifs mount options and it doesn’t seem I’ve got any weird options set.

Looking at the code, it seems like the issue is that stat is indeed returning 0 bytes. However, if I manually make a file, move it and stat it on the mount in quick succession, I get t

[2022-07-14 20:14] tribut commented on #1739
When "HEIF pictures" is enabled, Samsung Camera appears to use this format also ("XMP:MotionPhoto: 1"), as opposed to their custom format described in #439.

[2022-07-14 21:47] aaliddell commented on #2516
Well this is odd.

If I enable debug log level, I see that it is switching from move to copy/delete due to the source and destination of the move being on different mounts. This is an artifact of being under docker, where `.../import` and `.../originals` are two separate mounts on the container, despite being the same underlying network mount on the host. This is not unexpected:

[code]

Then if I

[2022-07-14 23:07] lastzero commented on #2516
If separate mounts cause issues, you can use a single mount for the network share. The exact location for originals and import can then be specified via config options: https://docs.photoprism.app/getting-started/config-options/#storage

[2022-07-15 04:33] centralhardware commented on #1100
you already can run index from CLI.  something looks like `sudo docker run --entrypoint photoprism index`. it's not exectly what you want but it's can be done write now.

[2022-07-15 08:23] FlorianCassayre commented on #2507
+1 for a wizard upon setup.

[2022-07-15 16:13] aaliddell commented on #2516
Interesting, putting the import and library in a single docker mount fixes it.

Digging more into the cifs mount options, there's the [actimeo](https://manpages.debian.org/testing/cifs-utils/mount.cifs.8.en.html#actimeo=arg) option:

In theory it's the local client that's making the file change, not the server, so I skipped this option before as it looked like it should have no effect in this situ

[2022-07-15 16:13] #2516 closed, assigned to nobody

[2022-07-15 17:01] lastzero commented on #2516
Glad it's working now! Feel free to send a PR for our docs (FAQ or Advanced Topics section).

[2022-07-15 21:38] gyto6 commented on #2506
If we could use the original instead of the thumbnail, it could be better for users (as me) and profesionnals, with a dedicated server.

Furthermore, with the Pull [#2478](https://github.com/photoprism/photoprism/pull/2478), it could be better for external client to access the originals instead of thumbnails.

Thumbnails is great for Photoprism as this is one of the tricks that make it popular, bu

[2022-07-15 21:46] lastzero commented on #2506
TensorFlow models expects specific crops, you can't just use the original. Pure detection without recognizing on an original might work, but will be super slow and the "faces" it might find will be tiny on a regular screen.

[2022-07-15 21:53] gyto6 commented on #2506
You know better than me.

A simple suggestion as Deepstack works fine with original files for detection and recognition as far that I tested it.

I'm simply stuck by now with many faces not detected or false positive and it might be another option instead of waiting for TF2 integration with/without new models and with/without GPU acceleration.

Thanks again whatever, I'll already wouldn't have cla

[2022-07-16 19:41] Morl99 commented on #2333
Instead of relying on manually written docs, it could be very helpful to print warnings for all Environment variables that match PHTOPRISM_ but that are not recognized by the current version of photoprism. This will make it really easy to catch configuration bugs, no matter if they originate from a version upgrade or from a simple typo.

[2022-07-17 10:33] centralhardware opened #2521 "Cleanup: Improve logging when deleting related sidecar files"
---------------------------------------------------------------------------

#### 1. What is not working as documented?

`cleanup     Removes orphan index entries and thumbnail files` - i think is meaning that original folder don't be affected.
but in log i see

` delete: removing file <path to my original folder>`. file extension is `mov`

#### 2. How can we reproduce it?

run cleanup command.

#

[2022-07-17 10:36] gyto6 commented on #2521
Not a bug to me. I use to run this command, and it doesn't affect my own files. They simply remove their relatives variable in the database tables.

Didi you check if the file's gone and do you now if you deleted it manually yourself?

[2022-07-17 10:38] gyto6 opened #2522 "ERRO index: already running"
#### 1. What is not working as documented?

Everything is working, but for each library scan with new pictures, a false positive appears.

`ERRO index: already running`

#### 2. How can we reproduce it?

Steps to reproduce the behavior:

-1. Go to 'Library'
-2. Click on 'Index'
-3. Scroll down to select 'Start'
-4. See error `ERRO index: already running` if pictures has been added to the library.

[2022-07-17 10:49] centralhardware commented on #2521
I'm a little afraid to experiment with my files. it's be a little difficult to restore previous state.

[2022-07-17 11:13] centralhardware commented on #2521
so i try, and it actually delete file from original folder. this is definitely not what i expect from this command
PS: deleted file `MVI_5508.THM`

[2022-07-17 11:15] gyto6 commented on #2521
Does "Deleted" is marked in the "General" Panel ?

![image](https://user-images.githubusercontent.com/105558798/179395581-e1fc7002-4003-4657-bcd6-356f8058f344.png)

[2022-07-17 11:16] centralhardware commented on #2521
no

![image](https://user-images.githubusercontent.com/26829359/179395598-49b9b1f4-1e0b-4e37-8ae8-a1856e571ca6.png)

[2022-07-17 11:51] lastzero commented on #2521
The log message means the related index entry was deleted, not the original file. You are welcome to suggest a better message, but it's very likely not a bug and as such can't be handled with the highest priority.

[2022-07-17 11:55] lastzero commented on #2522
Typically happens if you start it twice or a background process (for example after uploading via WebDAV) is already running. Make sure websockets work properly as you otherwise won't see the proper status in the UI.

[2022-07-17 12:02] centralhardware commented on #2521
so why file actually removed?

[2022-07-17 12:39] lastzero commented on #2521
That is what I said. We could change it into "delete: removing orphan index file... *

[2022-07-17 12:52] gyto6 commented on #2522
I don't use WebDAV or any other process. Meanwhile, I might have activated new file detection but I've never succeded to make it work (or maybe I did?).

I'll close by now and check with different parameters if I can't get rid of this. Whatever, it's not dramatic.

[2022-07-17 12:52] #2522 closed, assigned to nobody

[2022-07-17 13:01] pittbull opened #2525 "Faces:new"
Hi - and thank you so much for creating a fantastic peace of software 😊

I have recently started investigating the face detection parts and I am a bit confused: When going to faces:new and click "show all new faces" I'm getting literally all pictures - from people to trees to coffee cups. I was under the impression this would only list people that aren't matched?

[2022-07-17 13:05] lastzero commented on #2525
https://docs.photoprism.app/user-guide/organize/people/

[2022-07-17 13:06] #2525 closed, assigned to nobody

[2022-07-19 14:38] Dulanic commented on #2270
Not a bad ask, I have run into this many times and I'm like why does this have this label only to realize it was the folder name.

[2022-07-19 17:34] graciousgrey opened #2532 "Zip: Improve file system rights detection and temporary file handling"
Some users reported issues with downloading multiple files at ones: https://github.com/photoprism/photoprism/discussions/2530

This might be related to permission issues of the tmp folder

[2022-07-19 17:46] wizardion opened #2533 "SHORT DESCRIPTION OF THE PROBLEM YOU ARE REPORTING"
#### 1. What is not working as documented?

It looks like that search by the keyword `original` doesn't work as expected from the docs (https://docs.photoprism.app/user-guide/organize/search/), on the demo website the existing file `demo/20020312-190154-Cab-2002.jpg` is not found with the selected queries:
 - `original:"*20020312-190154-Cab-2002*"`
 - `original:"demo/20020312-190154-Cab-2002*"`
 -

[2022-07-19 17:54] #2533 closed, assigned to nobody

[2022-07-19 19:26] lastzero commented on #2532
These changes improve the provisioning of temporary folders and the download handler for zip files.

However, it is still possible that the zip file will be deleted before you can download it, since we remove it at the end of the download request handler (now using defer, but that may not be enough). This is to save disk space.

While it works fine on our own servers, results may depend on how slo

[2022-07-19 19:29] lastzero commented on #2532
Started a new preview build for testing :+1:

[2022-07-21 14:34] rickysarraf commented on #2532
@lastzero That didn't seem to help. I selected 102 photos on my instance and hit download. Below is the log snippet.

[code]

The version I'm running is:

Build [220719-58521190b](https://docs.photoprism.app/release-notes/)

My host view of tmp is:

[code]

and container's view of tmp is:

[code]

[2022-07-21 15:14] lastzero commented on #2532
Do you use any network storage like NFS or CIFS / SMB? We'll provide a further improved build shortly.

[2022-07-21 16:25] lastzero commented on #2521
I got to the bottom of this and found out that cleanup CAN actually delete physical files, especially sidecar files like JPEGs that are automatically created for a RAW, as well as JSON and YAML sidecar files. This was introduced to save disk space and avoid problems as described in the following issue:

- #917

The logs are created before anything is actually deleted, so they are not proof that an

[2022-07-21 18:19] lastzero commented on #2521
Improved logs when you run `photoprism cleanup`:

[code]

[2022-07-21 19:10] lastzero commented on #917
It seems that the problem was caused by a download manager:
- #2530

[2022-07-21 19:11] lastzero commented on #2532
It seems that the problem was caused by a download manager:
- #2530

[2022-07-21 20:27] jeannotalpin commented on #353
How do you choose between the 2 sort methods ? I have the felling that only by name is possible.
Thanks.

[2022-07-21 23:02] danielvrsek opened #2539 "Enable toggle of EXIF info in the corner of the image, even for shared albums"
First of all, hi. I really like Photoprism and I think it would suit much better to what I am using it for, if the following feature was implemented.

**Is your feature request related to a problem? Please describe.**

I think that many users of Photoprism are also photographers. I think that also many of the photographers would like to see metadata of a photo while browsing it. Right now, one has

[2022-07-22 04:43] lastzero commented on #2539
You will see the filename when you sort by filename. Might add customization options in a future release. A redesign of the full screen viewer is planned as well.

[2022-07-22 05:51] graciousgrey commented on #2539
Related issues: https://github.com/photoprism/photoprism/issues/1164 & https://github.com/photoprism/photoprism/issues/1307 :)

Changes for the fullscreen mode require #1307 to be implemented. Regarding #1164 it is important to take care of the scrolling performance when loading additional information as far as I remember

[2022-07-22 07:56] graciousgrey commented on #353
It's not possible to change the sort order of the album overview as this issue is not implemented yet. Albums are currently sorted by name. In the calendar section the month-albums are sorted by newest first.

[2022-07-22 10:40] lastzero commented on #2510
This will skip unknown date strings right away. Started a new preview build for testing :+1:

[2022-07-22 13:19] dinoschachten commented on #2409
Perhaps not particularly helpful, but noteworthy: I cannot reproduce this on macOS, tested it on two Macs in Chrome 103:

- 27-inch (non-retina) iMac (2560 x 1440)
- 15-inch Retina MacBook Pro (2880 x 1800)

[2022-07-22 13:20] lastzero commented on #2409
Only happens to me with browser zoom enabled. Likely due how we calculate width and height based on the browser viewport.

[2022-07-22 13:59] dinoschachten commented on #2409
I have to correct my statement above: I can get it to "flicker" while changing the size (apologies for not testing thoroughly enough), meaning as I change the size of the viewport, a few specific height values produce this phenomenon, while most don't (with and without browser zoom).

For instance on the retina MacBook, the viewport size 1440 x 608 (which is in fact 2880 x 1216 due to the doubled

[2022-07-22 14:55] centralhardware opened #2540 "Purge: SQL error is displayed when the photo ID of a file is missing"
#### 1. What is not working as documented?

sql error in log

`ERRO[2022-07-22T14:46:13Z] files: Error 1052: Column 'photo_uid' in where clause is ambiguous (regenerate photo_taken_at)`

#### 2. How can we reproduce it?

Steps to reproduce the behavior:

run purge command

#### 3. What behavior do you expect?

no sql error

#### 4. What could be the cause of your problem?

#### 5. Can you provide

[2022-07-22 17:43] lastzero commented on #2540
In fact, this should never happen, since it means that the numeric photo ID is 0. It was implemented only as a theoretical case. Any idea how the index could have been corrupted? I don't see this when running purge. You will get a fix for this particular situation shortly.

[2022-07-22 17:49] lastzero commented on #2540
Started a new preview build, which is available shortly. Happy testing! 🤗

[2022-07-22 17:53] lastzero commented on #2521
These improvements can also be tested with the new preview build that is available shortly! :+1:

[2022-07-22 18:17] lastzero commented on #2540
Never mind, I found it: `func SetPhotoPrimary(photoUID, fileUID string)` in `internal/query/files.go`. Good catch!

[2022-07-23 06:36] centralhardware commented on #2540
can't reproduce, thanks

[2022-07-23 06:42] centralhardware commented on #2521
work grate, thanks

[2022-07-23 09:48] jeannotalpin commented on #353
Thanks for the precision.
I will upvote the album sort by newest first :)

[2022-07-24 09:14] brainwad opened #2543 "Import: Hard linking instead of move/copy"
When importing, there is currently the choice to move files from the import folder to the originals folder, which avoids wasting space but destroys the file structure of the import folder, which might confuse other programs (e.g. file syncing tools). Or you can copy the photos from import to originals, but this doubles the space required to store the photos. Or you can skip importing entirely and

[2022-07-24 12:57] rom4nik commented on #1162
I've found out that as a workaround you can share albums separately with common secret, and then use `https://domain.tld/s/secret/` (remove album part from the generated URL) to see those albums in one place.

[2022-07-24 22:16] aaliddell commented on #2516
Added a pointer to this issue in https://github.com/photoprism/photoprism-docs/pull/127

[2022-07-24 23:07] abheekda1 commented on #2133
Alright I've delved a bit deeper and was wondering where exactly the code is that I should change? In addition, would this be a frontend modification (changing the displayed date) or a backend modification (changing the metadata) or something else?

[2022-07-25 01:56] esmiles711 commented on #669
I would really like this feature! I want my family to be able to visit my domain anytime they want and view picture albums I select as public. Yes I can send privately shared links in email but a Public Image Wall is much simpler. An auto email notification would be nice also - my family can simply subscribe and be alerted when new photo albums are added.

[2022-07-25 07:37] centralhardware commented on #2543
by default import folder located inside docker container, and all data will be erased at every container recreate. so photoprism must prevent this case.

[2022-07-25 07:47] centralhardware opened #2547 "thumbnails: create thumbnails if missing"
**Is your feature request related to a problem? Please describe.**

if thumbnails file is missing black rectangle showing.
**Describe the solution you'd like**

create thumbnails right now if the file is lost

same as [Dynamic Previews](https://docs.photoprism.app/user-guide/settings/advanced/#dynamic-previews) but cache thumbnail

[2022-07-25 08:12] brainwad commented on #2543
Yes, it would require that the import and originals directories were mounted on the same docker volume*, I think, because hard links don't work across different file systems and from the point of view of the docker container each docker volume is a unique file system.

\* Or neither to be on a volume, but then you would lose all your data every time the container restarts.

[2022-07-25 13:51] papatistos commented on #2107
Indeed! Being able to set the time and date format would be excellent. Deducing the date format from the language doesn't work. USA and GB use different date formats...

[2022-07-26 09:02] graciousgrey commented on #2547
Thumbnails should not be missing unless they have been manually deleted from the cache folder.
You can create missing ones using the thumbs command.

[2022-07-26 10:03] graciousgrey commented on #2234
I would rather not include it in disable RAW as HEIF is not a raw format. Feel free to open a new feature request for a disable HEIF download option

[2022-07-26 16:28] atvking opened #2549 "Uploading via WebDAV changes modified date of files"
I'm running PhotoPrism in a docker container on an UnRaid server and it doesn't seem to matter what client I use (FolderSync Pro, PhotoSync, Windows File Explorer, etc.) to upload to the Originals folder, the modification date of the file is always changed to the date/time of upload rather than the date/time the photo was taken. Is there some way to avoid this?

Uploading the same files using the

[2022-07-26 17:01] #2549 closed, assigned to nobody

[2022-07-27 10:56] JohnPreston commented on #93
Having S3 support would be awesome. On the performance side, why not "simply" implement a caching with lifecycle ? When people load up images, images get pulled, stored, with then the same principle of caching as you would in tiered storage.
Frequently accessed files are stored on disk, the ones online are pulled when need to be loaded.
One could also think of a local cache of thumbnails and when

[2022-07-27 22:07] royaltongue opened #2554 "Docker Container Boot Loop"
I've been running Photoprism through Docker Compose for quite a few months now, but all of a sudden I started getting errors that the container wasn't running properly. Checking the logs, it looks like it's boot looping, but there's not much information I can find about why it is. I turned on debug mode in the Docker Compose file, and this is what it outputs:
[code]

My full Docker Compose file ca

[2022-07-28 07:47] #2554 closed, assigned to nobody

[2022-07-28 08:14] lastzero commented on #2547
Note dynamically create thumbnails will be cached. So the feature you are requesting is already implemented. In addition you can re-index or run the thumbs command in a terminal to generate missing thumbnails.

[2022-07-28 08:14] #2547 closed, assigned to nobody

[2022-07-28 08:45] rambip commented on #271
What I am missing right now is adding a tag to all selected pictures: it would be so nice !

[2022-07-28 11:41] lastzero commented on #2543
The main use case for importing is adding files from removable media and web uploads (creating hardlinks would work against that).

Note that the same original file name (in the import folder) may exist multiple times, since cameras usually name images like IMG_1234 and then start again with IMG_0001 and so on. In contrast, the file paths in the original folder must be unique, otherwise the files

[2022-07-28 11:43] #2543 closed, assigned to nobody

[2022-07-29 03:37] charles-997 commented on #713
A question on the implementation here:
Would it be any easier to implement the ability to easily view the 1-5 star rating in Photoprism but not necessarily edit said metadata?
As others have stated I rate my pics in adobe using 1-5 star system and I'd assume many people use photoprism as only a very nice UI to view the pics but not to make edits or interact with them.

Just a thought, no clue the

[2022-07-29 04:19] centralhardware opened #2557 "invalid JPEG format: missing 0xff00 sequence while decoding"
#### 1. What is not working as documented?

error in log

`media: invalid JPEG format: missing 0xff00 sequence while decoding in <>`
`resample: invalid JPEG format: missing 0xff00 sequence while decoding`

#### 2. How can we reproduce it?

Steps to reproduce the behavior:

1. run `photoprism thumbs ` command

#### 3. What behavior do you expect?

#### 4. What could be the cause of your problem?

#

[2022-07-29 04:20] centralhardware commented on #2557
duplicate [1673](https://github.com/photoprism/photoprism/issues/1673)

[2022-07-29 04:20] #2557 closed, assigned to nobody

[2022-07-29 04:22] lastzero commented on #2557
https://docs.photoprism.app/known-issues/#jpeg-bad-rst-marker

[2022-07-29 06:50] korikori commented on #2234
Thanks for your reply. I don't insist on this option, I only mentioned that as it changed the default behavior for me.

[2022-07-29 07:50] graciousgrey commented on #713
Not really, 5 star ratings in general are not a complicated feature (compared to other tasks). Probably the most time consuming part is a nice UI that works on desktop and mobile :)

[2022-07-29 08:35] ttimasdf commented on #1187
As for zooming, on desktop we can use mouse scrolls, on mobile device we can use two-finger gestures. Clicking on the circle could be used to browse all the photo inside the whole group. It's rather intuitive.

Here's a screen record from Huawei Gallery app, may be a good reference i think?

https://user-images.githubusercontent.com/2762704/181719030-a8a664c2-dc1d-4972-b37b-be9bc3b437af.mp4

[2022-07-29 14:26] djjudas21 opened #2558 "UX: Bulk add Labels"
**Is your feature request related to a problem? Please describe.**

I would like the ability to bulk add Labels to photos, without having to edit the images. Quite often the auto labelling from TensorFlow misses something and so I'd like to manually add a label.

There are two use cases for me:

- TensorFlow often fails to detect one of my cats, so I need to add the label `Cat`
- There is context

[2022-07-29 15:27] #1049 closed

[2022-07-29 17:30] graciousgrey commented on #2558
That's exactly the idea off #271: Select multiple photos  to batch edit information such as labels for all selected.

[2022-07-29 19:05] daygr commented on #466
I agree with @LeehamElectronics and would also prefer to be able to implement such a setup, though it does seem like that should be a different issue from single file sharing.

I would also like to see additional temporal security or a login requirement on the `/api/` preview images, perhaps with the local session_id passed as a query parameter? This would also allow the preview images to not be s

[2022-07-30 07:54] m10x opened #2562 "Indexing crashes Photoprism"
Hello, I have a ~960GB Originals folder with ~280.000 photos (and few videos). When I initiate to index via the web ui, photoprism crashes.

Portainer Logs:
[code]

When I issue a full reindex this happens at around 45.000 (+- few 1.000, it always differs) of the 280.000 photos. When doing then a normal index, it is able to ineex a few more photos until it crashes again.

Update index via CL. This

[2022-07-30 08:13] #2562 closed, assigned to nobody

[2022-07-30 08:13] Sohalt commented on #1865
I very much agree that complicated heuristics can be too confusing, but the suggestion in https://github.com/photoprism/photoprism/issues/1865#issuecomment-1003487639 is very simple and a huge improvement over the current state imho (highest priority for exact match, then prefix match, then prefix of subword (e.g. surname), then any other substring match).
If I try to search for "Maria", it's extr

[2022-07-30 08:37] Sohalt opened #2564 "UX: Show photo preview/thumbnail when editing labels"
**Is your feature request related to a problem? Please describe.**

When editing labels for pictures in the labels tab I don't see the picture, which I'm editing the labels for. This is especially annoying when editing labels for multiple pictures and moving between them using the arrows in the top right corner.

**Describe the solution you'd like**

Show a small preview/thumbnail of the picture b

[2022-07-30 09:51] danackerson opened #2565 "Auth: Activate public mode via `PHOTOPRISM_AUTH_MODE="public"`"
#### 1. What is not working as documented?

I've updated my docker-compose.yml accordingly:

    --  PHOTOPRISM_PUBLIC: "true" # No authentication required (disables password protection)
    ++ PHOTOPRISM_AUTH_MODE: "public" # authentication mode (public, password)

#### 2. How can we reproduce it?

Steps to reproduce the behavior:

1. Go to my photoprism website
2. Redirected to /auth/login

####