[2022-10-27 13:21] lastzero commented on #2806
Could it be that these faces have been marked as "hidden" in the UI? A look at the code (note the arguments of the FacesByID function!) would explain why this warning is displayed further down, and also why they could not be matched or merging might fail:

![faces](https://user-images.githubusercontent.com/301686/198294956-a3ceb603-ba39-49ca-85d9-e9a4d9697d74.png)

It comes down to better understa

[2022-10-27 13:56] lastzero commented on #2807
I changed it so that it works for me, while still testing for strange characters and removing anything that doesn't seem right.

[2022-10-27 14:03] lastzero commented on #2807
Please let us know if it works for you as well! A new preview build for testing has been started and should be available within an hour.

[2022-10-27 14:12] #2275 closed, assigned to lastzero

[2022-10-27 14:16] lastzero commented on #2409
The splash screen will be changed again with the next release, so I think we can close this issue, although I'd still like to know how to use SVGs so that this doesn't happen. It might also depend on the browser version, as I've seen deformations happen frequently on older phones.

[2022-10-27 14:16] #2409 closed, assigned to nobody

[2022-10-27 14:20] lastzero commented on #2391
We would appreciate it very much if someone could test the current preview for compatibility with shared domains.

[2022-10-27 15:02] nicktar commented on #2807
Thanks for the quick fix. I'll test it as soon as the preview-arm64 image is available.

[2022-10-27 15:06] lastzero commented on #2807
The preview is currently only available as multi-arch image for AMD64 and ARM64. Should make no difference unless you're on a device that is wrongly configured or uses an old Docker version without multi-arch support (not sure if that even exists). So you should be able to use the regular preview tag...

[2022-10-27 16:22] lastzero commented on #2807
We've built an ARM64 preview image for you anyway! 😉

[2022-10-27 16:26] Tokariew opened #2808 "Feature request: Support JPEG XL as image format"
JPEG XL allow to losslesly transcode existing photos in traditional jpeg format to achieve smaller sizes. Lastly i transcoded some of my images to this format and was little suprised that photoprism don't support them. Can support for this format be added, so we can import jxl images to photoprism?

[2022-10-27 16:42] nicktar commented on #2807
Thanks, I hot the regular preview working in the meantime and the fix looks good for me. Thanks for the great service.

[2022-10-27 16:47] lastzero commented on #2808
Support is planned from our side, but we need support in Go and common Web browsers. You might find an existing issue for this.

[2022-10-28 10:56] nekr0z opened #2809 "Security: Create new files without execution permission"
Files created by PhotoPrism, such as the imported files ending up in the "originals" directory, album YAMLs under "storage/albums/folder", YAMLs under "storage/sidecar" folder, and many other, are created with executable bit set in permissions.

#### Steps to reproduce:
1. Have a photo imported.
2. Check permissions on the file that appeared in "originals".

#### Expected behavior:
The created fil

[2022-10-28 19:04] BonzTM commented on #2369
@lastzero implemented skipping CHOWN of original directories with
https://github.com/photoprism/photoprism/commit/f06d768e78298763246ec853c019da4bc2960e50

[2022-10-28 19:04] #2369 closed, assigned to nobody

[2022-10-29 03:13] SagarMhatre commented on #98
Is there a way to get the visitor in a docker image ?

[2022-10-29 03:46] e-dant commented on #2608
You can use my library: https://github.com/e-dant/watcher

I'd be happy to help work it in with you.

[2022-10-29 06:00] psyciknz opened #2812 "Image recognition over indexed photos"
How can I run Image recognition again. If I assume the models are more advanced, how would I rerun the image recognition for categories?

Also as a follow on, if I wanted to manually set a category label,  say Cat to a bunch of photos, is the old option to manually add it to each image?  It does seem it apply the single entry to all selected photos.

[2022-10-29 06:27] #2812 closed, assigned to nobody

[2022-10-29 06:28] lastzero commented on #98
Use our preview image and create an album share link you open in a private browser tab.

[2022-10-29 13:25] lastzero commented on #2808
Here it is:
- #668

Should we keep both feature requests open so we can remember twice as good, or would it be okay to keep just one request open?

[2022-10-29 14:54] zollan23 opened #2814 "PhotoPrism Not Indexing All Photos"
I have installed PP on an Unraid server using Maria DB. I have mapped the originals folder to my "Photos" share where all of my digital images live (over 50,000). I have both dng and jpg files in this share and have used the ppignore file to ignore dng files and NEF files (any raw images).

After running the scan and indexing the photos, I'm noticing it has only picked up about 11k photos and seve

[2022-10-29 15:00] #2814 closed, assigned to nobody

[2022-10-29 15:44] lastzero commented on #2806
We look forward to an answer to the above question so we can find out what is causing this.

[2022-10-29 16:36] pizzidellamaremma commented on #557
I would love to have the map visualization on a shared album.

[2022-10-29 16:39] lastzero commented on #557
Did you try our development preview yet?

[2022-10-29 16:42] pizzidellamaremma commented on #557
Nope, but I'm going right now.

EDIT: On the album I have shared the feature is not working because photos aren't tagged in "States" subcategory, Iceland has no states (I'm guessing)

[2022-10-29 17:00] e-dant commented on #2608
If we were to integrate my library fully, we'd create an extern block around the (only three) important symbols.

The FFI is not strictly necessary. You could just leave the program running (separately, in its own process group) and redirect its standard output into some buffer from which you read and parse the filesystem events (as JSON; their default output format).

For very large filesystem tr

[2022-10-29 17:17] lastzero commented on #2608
Many of our users have large NTFS libraries mounted inside our Docker image via WSL2 / Hyper-V. Would a regular Linux filesystem watcher work with this at all and if so, could there be performance issues?

See https://docs.photoprism.app/getting-started/troubleshooting/windows/

[2022-10-29 18:05] e-dant commented on #2608
They would require superuser permissions and I would need to revive the `fanotify`-based adapter to be confident in that.

`inotify`-based adapters will not work, and the naive fallback adapter would not be performant enough.

I'm assuming permissions won't be an issue since this is running in a container.

Could you give me more details on how your user's containers are generally set up? Do you m

[2022-10-29 18:11] lastzero commented on #2608
Not aware of any UID mapping between Linux and Windows, so I assume the container would be running as root by default (it's a virtual machine anyway, from what I know). Users would then mount the folder(s) they want to index, either based on NTFS or ExFAT.

[2022-10-29 18:25] e-dant commented on #2608
I don't see why this shouldn't work with `fanotify` and some sanity checks.

I can estimate between 1 week and 1 month before I have this ready and running with tests.

`fanotify` is on my TODO list for the project, anyway. The adapter works; merging it is a matter of coming up with tests and ensuring it's only selected when the user's ID is 0.

[2022-10-30 09:00] rpanizzon opened #2816 "Rescan does not recover faces removed via Edit Dialogue"
#### 1. Rescan of Library does not find faces that have been removed via the Edit Dialogue

I have accidentally deleted several faces via the edit dialogue.
I am now trying to get them back. I have tried rescanning the photos (with and without "Complete Rescan") to recover the faces. However, the rescan does not find "new faces".

#### 2. How can we reproduce it?
On a photo with 1 or more faces:

[2022-10-30 09:10] #2816 closed, assigned to nobody

[2022-10-31 03:20] softshield opened #2819 "Import: I want to support multiple custom folders instead of the default originals"
Because there are a lot of ready-made pictures, we don't want to move them to originals.

I want to scan directly through a custom media library location. Just like the emby/jellyfin design.

[2022-10-31 08:10] #2819 closed, assigned to nobody

[2022-10-31 08:46] graciousgrey opened #2821 "Albums: Ignore deselected labels when adding photos by label"
**Steps to reproduce:**
- Remove label "X" from a photo
- Add label "X" to an album

**Current behaviour:**
The photo I removed the label from gets added to the album as well

**Expected behaviour:**
The photo I removed the label from must not be added to the album

[2022-10-31 10:54] srett commented on #668
Welp, looks like Google decided to make JPEG-XL the wrong horse to bet on: https://bugs.chromium.org/p/chromium/issues/detail?id=1178058#c84

We'll still be stuck with JPEG a decade from now as the only format supported everywhere I guess.

[2022-10-31 16:16] lastzero commented on #636
How about we close this issue as done and create a new issue for reading GPS information?

[2022-10-31 17:04] graciousgrey opened #2828 "Metadata: Read GPS information from Apple XMP"
Acceptance Criteria:
- [ ] Read GPS information from apple xmp
- [ ] Write unit test
- [ ] Update documentation

Follow up for #636

[2022-10-31 17:35] lastzero commented on #2808
According to the Google Chrome team:
- There is not enough interest from the entire ecosystem to continue experimenting with JPEG XL
- The new image format does not bring sufficient incremental benefits over existing formats to warrant enabling it by default

Sources:
- https://www.phoronix.com/news/Chrome-Deprecating-JPEG-XL
- https://bugs.chromium.org/p/chromium/issues/detail?id=1178058#c81

[2022-10-31 17:36] lastzero commented on #2808
Although we would like to support JPEG XL, it seems best to wait based on the information above. Does everyone agree?

[2022-10-31 17:39] lastzero commented on #2808
One option would be to add read support but continue to use regular JPEG thumbnails. However, I'm not sure how useful this is, since few users will have JPEG XL files.

[2022-10-31 17:40] lastzero commented on #668
Yep, see the (duplicate) issue for details on the JPEG XL support:
- #2808

[2022-10-31 20:05] lastzero commented on #98
After today's changes, it looks like we can release the current version as an update. Native speakers are invited to [add missing user interface translations for their language](https://docs.photoprism.app/developer-guide/translations-weblate/). We will wait another day or two for that. Thanks to [everyone who contributed](https://docs.photoprism.app/developer-guide/)!

[2022-10-31 20:26] lastzero commented on #98
Be aware that multi-user support will be finalized **after the upcoming release**, as it includes many other improvements not related to user management. We do not want to delay these any further. This is also [mentioned in the release notes](https://docs.photoprism.app/release-notes/), which you should read before upgrading.

**Please don't push forward with multi-user enhancements yet, as this i

[2022-10-31 20:54] MoweME commented on #2726
Thank you @lastzero for your awesome work.
I also appreciate the help from all the helpers in this issue!

This issue seems to be resolved!

[2022-10-31 23:16] Faexa opened #2833 "Openssl critical vulnerability"
Hello,
You probably are already aware about critical openssl vulinerability and patch comming for thuesday 1st of november
- https://mta.openssl.org/pipermail/openssl-announce/2022-October/000238.html
- https://isc.sans.edu/forums/diary/Upcoming+Critical+OpenSSL+Vulnerability+What+will+be+Affected/29192

I dont have good knowledge about docker.
But if i'm right, the photoprism image we use from th

[2022-10-31 23:32] G2G2G2G commented on #2808
Only option now for in browser is some javascript to translate it into some other image format. imo not that great so yea have to wait...
I'd support avif if people want it though, I know I do. Especially to replace gifs

[2022-11-01 00:41] lastzero commented on #2808
We already transcode animated GIF to AVC. Two different target formats that basically do the same seem a bit over the top, also in terms of ongoing maintenance & test efforts?

[2022-11-01 02:09] DeltaTangoLima commented on #98
I'm so excited to see some of the progress the team are making. Quick question: for those that moved to the preview release, when would be the right time to move back to latest stable, without losing any of the new functionality we've been trialing?

[2022-11-01 03:58] G2G2G2G commented on #2808
You sound like google in their reasoning for dropping jxl

[2022-11-01 05:06] lastzero commented on #2808
Bad take! They have thousands of developers and billions on their bank account, while we are drowning in work and can't go on vacation because of this.

[2022-11-01 05:13] lastzero commented on #98
Depends on which preview release. The current preview is the release candidate, so it could be identical with the upcoming release.

[2022-11-01 08:08] lastzero commented on #2833
As far as I know, Go has its own TLS implementation, so only outgoing requests from tools that are part of the underlying Linux distribution could possibly be affected?

[2022-11-01 08:45] Faexa commented on #2833
I don't know about go... Just wanted to be sure you were aware because it seemed to be serious.
But nevermind, I just think that the connexion to photoprism is reversed proxy, and plain between the proxy and photoprism... so i guess  it is essentially the reverse proxy problem...
Sorry false alarm!
Thank you for your time

[2022-11-01 08:45] #2833 closed, assigned to lastzero

[2022-11-01 08:52] lastzero commented on #2833
We'll rebuild the Docker images anyway 👍

[2022-11-01 11:20] lastzero commented on #2833
If I understand it right, the Ubuntu team will NOT provide the updated version, but only intends to backport the fix (which may take longer):

https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/1991771

[2022-11-01 11:45] lastzero commented on #1720
Have you tested if this is still the case? As long as you're viewing the same result set, I wouldn't consider a (now) private image in the viewer a bug that needs to be fixed, especially if it means increased code complexity (and thus maintenance effort) and/or performance degradation.

**Instead, we could add a note to the [Known Issues](https://docs.photoprism.app/known-issues/) in our docs to i

[2022-11-01 11:47] lastzero commented on #1673
Failed on (x/tools) linux-amd64: https://storage.googleapis.com/go-build-log/0b8005c5/linux-amd64_a29c2471.log

Consult https://build.golang.org/ to see whether they are new failures. Keep in mind that TryBots currently test exactly your git commit, without rebasing. If your commit's git parent is old, the failure might've already been fixed.

[2022-11-01 11:52] #2807 closed, assigned to lastzero

[2022-11-01 13:10] rickysarraf commented on #1720
I tried the steps to reproduce, in the current demo site. I cannot
reproduce it no more. So the issue seems to be fixed. Thank you 🎉

s3nt fr0m a $martph0ne, excuse typ0s

On Tue, Nov 1, 2022, 17:15 Michael Mayer ***@***.***> wrote:

[2022-11-01 13:15] graciousgrey commented on #1720
Thanks for testing :)

[2022-11-01 13:31] #1720 closed, assigned to nobody

[2022-11-01 16:39] lastzero commented on #2808
@G2G2G2G In case you have not noticed, Google is trying to push their own formats which compete with JPEG XL. The reason they give is total nonsense, while we're just honest and transparent here.

[2022-11-01 16:40] G2G2G2G commented on #2808
They're depreciating webp2 as well, and jpeg xl is worked on as much by them as webp / avif was...
and you take more vacation per year than everyone I know combined has in the past 10. I think you'll manage

[2022-11-01 16:44] lastzero commented on #2808
Are you OK?

[2022-11-01 16:44] #2808 closed, assigned to nobody

[2022-11-01 16:45] lastzero commented on #2808
👉 @G2G2G2G https://photoprism.app/code-of-conduct

[2022-11-01 16:47] G2G2G2G commented on #2808
not relevant to this thread, nor did anything go against it. Stay on topic

[2022-11-01 17:19] lastzero commented on #2809
@nekr0z Would you be able to test this for us? No CLA required 😉

[2022-11-01 17:22] lastzero commented on #2833
I'll move this to preview. If anyone knows anything about the actual exploit and if we are vulnerable, please let us know!

[2022-11-01 17:22] pnbd opened #2839 "Import Issue"
Hi guys, first of all, thank you so much for the amazing work.
I just started to get a problem since I made a pull for the last version and something strange started happening. So, when I put files in the import folder and press import, instead of moving the files, like normally, to the year and month folder, it puts them inside a year/month/day folder, inside the import folder itself... Then, if

[2022-11-01 17:25] lastzero commented on #2839
What last version? If you are not sure, you should use GitHub Discussions first.

[2022-11-01 17:28] lastzero commented on #2839
Tested it, the logs look as expected (maybe you use another tool that creates these subfolders?):

[code]

[2022-11-01 17:28] #2839 closed, assigned to nobody

[2022-11-01 19:04] lastzero commented on #2808
@G2G2G2G How is that respectful and not ignorant, given the obvious amount of mostly unpaid work we put into this? Don't feel entitled to us doing this work and never claim that we have so much free time when in reality we work seven days a week, 16 hours most of the time. Even when we take a few days "off," we work many hours a day.

You're blocked because your communication is just too much for

[2022-11-01 19:51] nekr0z commented on #2809
Sure, will give the preview a try as soon as I have time (most likely, on Friday or Saturday), will report back as soon as.

[2022-11-01 20:32] lastzero commented on #1935
Note that this is solved and should work automatically with the upcoming release. It is also explicitly mentioned in the change password dialog.

[2022-11-01 20:59] baurmatt commented on #2704
Thanks @lastzero! :) You're taking about the [preview-ubuntu](https://hub.docker.com/layers/photoprism/photoprism/preview-ubuntu/images/sha256-de832aa2b6b680dc33a85d1b678e58034bfb5c55a8f6eacac26f2a1730e7c079?context=explore) tag, right? Asking because there is a [preview-jammy](https://hub.docker.com/layers/photoprism/photoprism/preview-jammy/images/sha256-a39b17ff4b84a90f9b6ea039eef4b6ef5eed895b1

[2022-11-01 21:07] lastzero commented on #2704
There's only one preview, it's based on Jammy. The other tags could be deleted. We used them when the default was Debian, not Ubuntu.

[2022-11-01 21:52] maumi commented on #2620
I've tested in Live Demo.
Just to clarify: you only did a descending sorting for both?
I think to be consequent you should remove "Oldest first" or give other sorting criterias also an ascending sorting.

[2022-11-01 22:00] lastzero commented on #2620
Why would you want to find the smallest files or the shortest videos? 0 bytes, 0 seconds. Can tell you that without looking it up. It also would not help usability to have a order select as long as the actual result list. But of course it makes sense to sort from oldest to newest and vice versa.

[2022-11-01 22:06] lastzero commented on #2620
The rationale is that the higher you go, the fewer results there are. Like you would generally not search for the smallest mountain, but for the highest. People with live photos will have a ton of very short videos, potentially thousands. Why even bother sorting them by shortest duration? What is the use case?

[2022-11-01 22:16] lastzero commented on #2620
If you want to find short videos, filter for live photos and sort them by something useful like oldest or newest. If you want to find very small files and delete them all at once, use terminal commands.

[2022-11-02 02:15] grapemix commented on #93
We don't have to use object storage layer from the cloud provider, we can simply host by ourselves.

Object layer or s3-compatiable storage should be the next generation storage for homelab or production env because of:
- Build-in object tagging
- Build-in versioning in object level
- Third-party integrated backup solution
- Build-in ACL
- Redundancy (not just in disk level, but also instance leve

[2022-11-02 02:50] jerome-cui opened #2842 "Folders load slow"
I have more than one thousand of folders and after I imported into Photoprism I found the "Folders" page loads too slow.
Reproduce:
1. add more than one thousand folders of images
2. index all of them
3. after finished, visit Photoprism and click the "Folders". It will take seconds to load.

Suggestion:
1. Maybe we have no need to display all folders at loading, but load a batch of fixed size one

[2022-11-02 06:09] lastzero commented on #2842
The file browser or the actual folders page? Did you test on our preview yet? What about you use subfolders instead of putting all the folders in the originals root?

Edit: I've labeled this as a feature request for now as it's a known limitation of the file browser. The folders page could require virtualization, but it's some work and not a bug that we don't have this yet.

[2022-11-02 06:55] jerome-cui commented on #2842
I mean the "Folders" page. In fact all my image folders are under different subfolders, but in folders page it neither show root folder nor subfolder.

[2022-11-02 07:10] lastzero commented on #2842
So you're asking for a virtual view comparable to the regular search (cc: @heikomat).

Kindly note:
- the page may take longer to load the first time, because the thumbnails are cached the second time
- the upcoming release will not load all the results if you were on the folder page before, unless you used the back button
- a feature request for a nested albums / folders view already exists, see

[2022-11-02 07:13] jerome-cui commented on #2842
That's great. I tried the preview version just now and seems the "Folders" page load very fast now.
Thanks for your great work!

[2022-11-02 07:35] lastzero commented on #2620
Since there was no further feedback on my last 3 comments (and the commit is 9 days old), we will release it as is. If you feel that you really need to find the shortest videos and smallest files, please open a new feature request and describe what problem this solves and why this would be valuable to many users.

[2022-11-02 10:53] lastzero opened #2843 "Frontend: Axios HTTP client should be upgraded to v1.x"
**As a developer, I want to use the latest [Axios](https://www.npmjs.com/package/axios) version to avoid possible security issues and bugs in the old version.**

We use `^0.27.2` while the latest version currently is `1.1.3`. When simply installing the latest version, our tests failed due to missing dependencies or other incompatibilities related to NodeJS. The compatibility and functionality of t

[2022-11-02 11:01] #2821 closed, assigned to lastzero

[2022-11-02 11:01] #2620 closed, assigned to lastzero

[2022-11-02 11:06] #2797 closed, assigned to lastzero

[2022-11-02 11:08] #2571 closed, assigned to lastzero, heikomat

[2022-11-02 11:09] #2593 closed, assigned to lastzero

[2022-11-02 11:09] #2597 closed, assigned to heikomat

[2022-11-02 11:10] #2704 closed, assigned to lastzero

[2022-11-02 11:10] #2705 closed, assigned to lastzero

[2022-11-02 11:10] #2706 closed, assigned to lastzero

[2022-11-02 11:10] #2707 closed, assigned to lastzero

[2022-11-02 11:11] #2726 closed, assigned to lastzero

[2022-11-02 11:11] #2809 closed, assigned to lastzero

[2022-11-02 11:13] lastzero commented on #1148
Is this still happening? Otherwise, I would suggest closing this issue. Many details have been changed in the indexer since this problem was reported.

[2022-11-02 11:13] lastzero commented on #1148
Oh, I've asked this before. In that case, I'll close it for now.

[2022-11-02 11:13] #1148 closed

[2022-11-02 11:15] lastzero commented on #2739
Can anyone confirm that this has been fixed/implemented as best as possible?

[2022-11-02 11:16] lastzero commented on #2739
Otherwise, if no one has time to test it, I would go ahead and close this issue since it seems to be solved with the pull request referenced above...

[2022-11-02 11:20] lastzero commented on #2251
Is this still happening? Any idea how to fix/improve it?

[2022-11-02 12:05] lastzero commented on #2833
Thanks for the warning! The vulnerability seems to be serious:

https://security.snyk.io/vuln/SNYK-UBUNTU2204-OPENSSL-3092591

However, as I suspected, there are no updated packages for Ubuntu 22.04 yet and ignoring it seems (!) safe for the intended use case.

[2022-11-02 16:22] lastzero opened #2844 "Index: File paths starting with `_.` and `__` like `__MACOSX` should be ignored"
**As a user, I want PhotoPrism to ignore file paths starting with `_.` and `__` like `__MACOSX`.**

[2022-11-02 17:34] lastzero commented on #2844
Updated Documentation:

https://docs.photoprism.app/user-guide/library/originals/#ignoring-files-and-folders

[2022-11-02 18:09] nekr0z commented on #2809
Closed already, but FWIW everything looks good: imports, sidecars, config (I haven't tested album YAMLs yet, but no reason to think they'd behave differently).

[2022-11-02 18:30] lastzero commented on #2809
Thank you! Yeah, closed, since we already released it and of course tested it ourselves as well.

[2022-11-02 20:14] lacrimal opened #2845 "MariaDB: Exit with error if version is < 10.5.12"
#### 1. What is not working as documented?

```photoprism migrations ls``` error

```20221015-100000 failed with Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'IF EXISTS `accounts` TO `services`' at line 1 [631.138µs]```

Im using standalone mariadb instance:
mysql  Ver 15.1 Distrib 10.3.28-MariaD

[2022-11-02 20:23] lastzero commented on #2845
~~Try using today's release and watch the logs: https://docs.photoprism.app/release-notes/#november-2-2022~~

Oh wait, this is the latest release? Did you watch the logs when running `photoprism start`? What do they say?

[2022-11-02 20:31] lacrimal commented on #2845
It is today release Build [221102-905925b4d] :-)

[2022-11-02 20:34] lastzero commented on #2845
The reason I'm asking is this:
- https://github.com/photoprism/photoprism/issues/2381

Apparently that needs to be improved :)

[2022-11-02 20:50] lacrimal commented on #2845
OK looks like mariadb 10.3 is unsupported switched to 10.6 and after retry ```photoprism migrations run -f``` there are al ```OK```

[2022-11-02 20:50] #2845 closed, assigned to lastzero

[2022-11-02 20:54] lastzero commented on #2845
Didn't the command show a version warning to you? Honest question as that would help avoid related support requests...

[2022-11-02 21:16] lacrimal commented on #2845
No there was no warning for mariadb 10.3:
[code]

[2022-11-03 01:08] titilambert commented on #536
Golang for Coral is not officially supported by google: https://github.com/google-coral/edgetpu/issues/181

But we can use: https://github.com/mattn/go-tflite

[2022-11-03 08:46] lastzero commented on #2845
Thanks, I'll take a look!

[2022-11-03 09:43] lastzero commented on #2845
Now properly detects MariaDB < 10.5.12, was a mistake on my side:

[code]

[2022-11-03 13:09] lastzero commented on #2845
Released.

[2022-11-03 15:26] lastzero commented on #2613
@wjbridge I have updated the FFmpeg parameters based on your suggestions. Due to limited resources, this is all I can do for now. Let us know if this helps. Further improvements from our side will have to wait until the multi-user features are ready. However, we welcome any contributions!

[2022-11-03 15:38] jahanson commented on #2613
`apt install nvidia-driver-520` installed the nvidia drivers and it paired the proper dkms package with it. I was also able to validate with `nvidia-smi`
I also had version 520 installed on my host.

[2022-11-03 15:50] lastzero commented on #2613
Based on this overview, the package would automatically install a full X11 desktop environment with it?

- https://packages.ubuntu.com/jammy-updates/nvidia-driver-520

That seems a bit too much, although that probably covers everything you might need. What I didn't see is `opencl` and `libva2`, which might also be needed (I didn't check the full package dependencies, so it might be installed - I j

[2022-11-03 15:52] lastzero commented on #2613
If anyone has time to figure this out completely and test it, here is the script to update:

- https://github.com/photoprism/photoprism/blob/develop/scripts/dist/install-gpu.sh

[2022-11-03 16:26] jahanson commented on #2613
You were right about X11, my ffmpeg wont do it without an X11 session with `nvidia-driver-520`

I'll try the docker approach.

[2022-11-03 18:29] jahanson commented on #2613
Using the nvidia hook mentioned by @wjbridge and the preview docker tag I was able to get live photos to convert using my nvidia 3080.

![image](https://user-images.githubusercontent.com/1548511/199805889-3a610727-4ea9-4a34-9933-50b8a0fcb590.png)
![image](https://user-images.githubusercontent.com/1548511/199804905-149a8d5b-34d4-403d-8fdc-9ed55a0eed51.png)

[2022-11-03 20:30] motey commented on #1174
Proposal: If this feature will ever reach implementation, i would appreciate to prioritize support of gpx files instead of the custom google kml format. We move here in the "selfhosting"-realm and gpx-track-support would be compatible with a wider range of use cases. (e.g. i track myself via Nextcloud/PhoneTrack). Also: KML files can be converted to gpx files. So maybe we can rename the issue to

[2022-11-03 20:43] lastzero commented on #1174
Either someone contributes it or we can grow our team. Both would be perfect.

[2022-11-03 23:47] wjbridge commented on #2613
I can also confirm that the `preview` build `221103-211eb36ea` is working super! Thank you very much for making those quick changes @lastzero.

## Feedback
Regarding the [install-gpu.sh](https://github.com/photoprism/photoprism/blob/develop/scripts/dist/install-gpu.sh).
I don't know much and could be completely wrong in this opinion but I recommend doing the [Nvidia docker](https://docs.nvidia.com

[2022-11-04 10:40] lastzero commented on #2613
Added a (hopefully) ready-to-use `docker-compose.yml` example and updated the transcoding docs to include more details:
- https://dl.photoprism.app/docker/nvidia/docker-compose.yml
- https://docs.photoprism.app/getting-started/advanced/transcoding/

Let us know if it works so we can release it 👍️

[2022-11-04 11:40] lastzero commented on #2739
I'll close this since we received no more feedback. We welcome contributions to better handle permissions and groups if needed.

[2022-11-04 11:40] #2739 closed, assigned to melyux

[2022-11-04 11:41] lastzero commented on #2251
I'll close this since we received no more feedback. We welcome contributions with a fix should this still be an issue.

[2022-11-04 11:42] lastzero commented on #2702
Nobody complained so far, so I'll move ahead and close this as done!

[2022-11-04 11:42] #2702 closed, assigned to lastzero

[2022-11-04 11:43] lastzero commented on #636
Nobody complained so far, so I'll move ahead and close this as done!

[2022-11-04 11:43] #636 closed

[2022-11-04 11:43] lastzero commented on #840
Nobody complained so far, so I'll move ahead and close this as done!

[2022-11-04 11:43] #840 closed

[2022-11-04 11:44] lastzero commented on #1409
Nobody complained so far, so I'll move ahead and close this as done!

[2022-11-04 11:44] #1409 closed

[2022-11-04 11:44] lastzero commented on #2381
Nobody complained so far, so I'll move ahead and close this as done!

[2022-11-04 11:44] #2381 closed, assigned to lastzero

[2022-11-04 11:44] lastzero commented on #2703
Nobody complained so far, so I'll move ahead and close this as done!

[2022-11-04 11:44] #2703 closed, assigned to lastzero

[2022-11-04 11:45] lastzero commented on #2844
Nobody complained so far, so I'll move ahead and close this as done!

[2022-11-04 11:45] #2844 closed, assigned to lastzero

[2022-11-04 12:03] just5ky commented on #2613
yup, i can transcode using GPU now
![image](https://user-images.githubusercontent.com/71321862/199968162-0e82f701-1a0d-49d6-85fa-7068b1b5a469.png)

[2022-11-04 12:09] #2613 closed, assigned to lastzero

[2022-11-04 12:51] elapse2039 commented on #2251
Yes, still happens.  No thoughts on how to fix it.

[2022-11-04 12:58] lastzero commented on #2251
So with the latest iOS 16 and our latest release, as the report says "220302-0059f429-Linux-AMD64"?

[2022-11-04 13:03] lastzero commented on #2251
@theresagresch Can you confirm this?

[2022-11-04 14:39] elapse2039 commented on #2251
Version "221102-905925b4d" on iOS 16.0.3 iPhone8.

[2022-11-04 15:00] joachimtingvold commented on #1064
@lastzero , excellent. Can confirm that `221027-6a33ae2e9` followed by `photoprism index --cleanup` + `photoprism convert -f` + `photoprism thumbs -f` seems to have fixed the issues.

[2022-11-04 15:06] lastzero commented on #1064
@joachimtingvold As that looks like a preview version, you should upgrade to today's stable version after reading the full release notes for Build 221102-905925b4d 👍

[2022-11-04 15:15] gyto6 commented on #2613
As an Unraid user, I didn't suffer from any transcoding issue with my GPU so I don't expect to install the Nvidia Toolkit container.

Am I the only one in this case?

[2022-11-04 15:31] lastzero commented on #2613
@gyto6 The old method still works if you share the hardware devices, but you have to install the drivers manually in the Docker container. From the feedback above, the old "gpu" target for `PHOTOPRISM_INIT` didn`t work anymore anyway. So the fact that it is now removed should not make any difference as the result should be the same!?

[2022-11-04 15:49] gyto6 commented on #2613
Well, I didn't install any driver in the docker container by myself.

The host (Unraid) had the latest Stable release Nvidia drivers, 515, whereas the Photoprism container displayed the 470 drivers version, if I remembered well, with the nvidia-smi command.

I repeat, I didn't install any driver in the container, I don't know how to do it. I'd do it to test Tensorflow with the GPU if I could.

Wha

[2022-11-04 15:51] lastzero commented on #2613
Maybe FFmpeg can transcode without NVIDIA drivers being installed in the container? That seems possible, I'm really not an NVIDIA expert...

[2022-11-04 15:53] gyto6 commented on #2613
Maybe indeed ! But why did the others had some troubles then. That's weird.

[2022-11-04 15:57] gyto6 commented on #2613
Whatever, it has always been functionnal for me, and I hope so for the others now.

Thanks for having answered my questions.

[2022-11-04 16:03] lastzero commented on #2613
Thanks for testing! 🎂

[2022-11-04 17:28] NePoCz commented on #2391
Hi, I just spun-up a fresh docker image of photoprism (wanted to try it out) and already running it in a subdirectory behind NGINX. I have been using it literarly for only a few minutes and no problems so far - do you have anything specific you want me to test? I already switched to the preview image build today. Unfortunatelly I do not plan to use WebDAV or the sharing functionality, but if reall

[2022-11-04 17:35] lastzero commented on #2391
Thanks for testing! What original post? Where should we fix it?

[2022-11-04 17:39] lastzero commented on #2391
Fixed the links in the issue description 👍

[2022-11-04 21:08] inthreedee commented on #1028
Another case to consider is HDR photos, where a phone saves both the original and HDR version simultaneously.

In the case of the iPhone, unfortunately they don't get named anything special to identify them. Instead, they are sequentially named files. For example:
Non-HDR: `IMG_5133.HEIC`
HDR version: `IMG_5134.HEIC`

Should be able to use the metadata to determine which one in the stack is the HD

[2022-11-04 21:44] inthreedee commented on #2726
Sorry for taking so long to report back. Real life got in the way of testing for a bit there.
In any case, just confirming that everything appears to have gone smoothly after importing that latest batch of several thousand new photos. :+1:

Thanks again!

[2022-11-04 21:49] lastzero commented on #2726
Thanks for testing! 🎂

[2022-11-04 22:14] pizzidellamaremma opened #2856 "Develop feature: map in shared album is not showing up"
I'm trying to share an album with map.
Images are correctly geotagged but the map is not showing up in the shared album. Am I missing something?

(next images is from my admin panel)
![image](https://user-images.githubusercontent.com/39835713/200082176-b7b7c7ba-63f3-411d-a871-da3be5c01240.png)
![image](https://user-images.githubusercontent.com/39835713/200081986-dd68a7ba-74c1-47bd-8116-b25f9a2e03e

[2022-11-05 03:49] lastzero commented on #2856
It will only be shown when you click on a location label of an individual picture, for example in the card view. Maps are not shown in the main navigation as you need an album context. Also the places feature must be enabled.

[2022-11-05 03:51] #2856 closed, assigned to nobody

[2022-11-05 11:23] Tirallala commented on #2668
Hi, I've never done it before, but I think I can contribute. Which format would be useful (html, doc, pdf)? I could document how I do it which is probably not a best practice. Is there somebody who could do a check on the content of the steps I'm documenting?

[2022-11-05 11:31] lastzero commented on #2668
Markdown is best, either by simply clicking the edit button in our docs, reading the README.md file in our docs repo, or just sending a text file via email.

[2022-11-05 18:20] #2842 closed, assigned to lastzero

[2022-11-05 18:24] lastzero commented on #2700
Do I understand correctly that we only need to install one additional package to make it work for you? Have you tested it with our latest release, which is now based on Ubuntu 22.04 LTS? See [Release Notes](https://docs.photoprism.app/release-notes/#november-2-2022) and [Transcoding Documentation](https://docs.photoprism.app/getting-started/advanced/transcoding/).

[2022-11-05 22:24] lastzero commented on #1389
@SimonMGS Just wondering if you enjoy our crippleware so far or if you've found something better?

[2022-11-05 22:30] CDeLeon94 commented on #2700
I did this in the 220902-62aba3200 preview-ubuntu release

Edit: So install 1 additional package, and I had to map the `/dev/dri/` device into the docker container

[2022-11-05 22:31] lastzero commented on #2507
@FlorianCassayre Would you like to work on a wizard? We appreciate any contribution.

@WhyNotHugo We've added a big warning right on the setup page at https://docs.photoprism.app/getting-started/#maps-places and also inform all users who don't support us that they are incurring costs on our side by using our services, which will hopefully make them a bit more sensitive when they complain.

[2022-11-05 22:36] lastzero commented on #2700
Is it still necessary in the latest release? I would appreciate if you can test it for us as we have limited resources and need to delay the requested changes until next year otherwise.

[2022-11-06 09:27] CDeLeon94 commented on #2700
Confirmed that adding `libmfx-gen-dev` was necessary to get `h264_qsv` transcode on `221105-jammy Build 221105-7a295cab4`

[2022-11-06 14:19] lastzero commented on #2700
Thanks! I'll add it then, unless the package size is unexpectedly huge.

[2022-11-06 21:05] MontereyRedheaded commented on #2668
I literally just took a stab at this in the past two days and will share the details of where I ran into trouble which should help. I don't have the availability to make it pretty right now, but perhaps this can help @Tirallala

For reference, my Synology DSM version: 7.1.1-42962 Update 2

Foreword:

- A. Pure Docker w/ SQLite - First I tried installing this using the Synology GUI and Pure Docker.

[2022-11-06 21:16] ltomes commented on #2843
I took a first pass look at this. Before upgrade, I have 7 failing unit tests for timezone related issues.
I'm going to start by seeing if I can programmatically set the expected datetime so the tests pass on different systems/timezones.

[2022-11-06 21:20] lastzero commented on #2843
Run them in the Docker container which uses UTC.

[2022-11-06 22:02] ltomes commented on #2843
I attempted that to start with, but ran into an error running `docker compose -f "docker-compose.local.yml" up -d --build`

I'll talke another pass at using the provided compose...

[2022-11-06 22:14] lastzero commented on #2843
See https://docs.photoprism.app/developer-guide/setup/

[2022-11-06 22:51] ltomes commented on #2843
Same results in a container (`make test-js`):

[code]

Is there a chance these failures started this AM with the timezone shift?
I suppose I could just keep working on the task and ignore those 7 tests.

Re: the actual task, it seems rough.
Every dependency from webpack that `axios-mock-adapter` is expecting `axios` to use no longer exists since `axios` stopped using webpack.

The big pain points

[2022-11-07 05:19] lastzero commented on #2843
Ignore the date errors as they are unrelated. Might have to improve them like you suggested 👍

[2022-11-07 10:24] StotoV opened #2866 "Unable to login 'invalid credentials' | 'Admin account is not allowed to log in'"
#### 1. What is not working as documented?
When trying to login to my Photoprism instance I got the message 'invalid credentials' back from the UI. After some Googling and debugging I found the following message in the Docker logs:
[code]
I've no idea where this error originates, hence me opening this issue.

What I've checked:
- Database connection, seems to work and I can connect from my host sy

[2022-11-07 10:30] graciousgrey commented on #2866
Did you read the release notes ?
 --> https://docs.photoprism.app/release-notes/#november-2-2022

[2022-11-07 10:30] #2866 closed, assigned to nobody

[2022-11-07 17:04] sagredo-dev opened #2868 "Slideshows: Photo viewer should start videos automatically"
When I do a slide show and I play a video, I would like it to be started automatically and in full screen, without having to look for the play button and having to set the full screen manually each time. Also, the play button under the video is really small and hard to click on mobile devices. I think that the video autostart could be a feature which can be enabled by a specific setting

[2022-11-07 17:25] graciousgrey commented on #2868
Related to: https://github.com/photoprism/photoprism/issues/1307

[2022-11-07 20:49] Tirallala commented on #2668
Thank you very much @MontereyRedheaded
I'm using PhotoPrism without MariaDB at the moment, and after reading your post I'm a bit scared of trying to set it up tbh. What I have for the documentation is the steps + screenshots (english) of setting it up without MariaDB. Does that help?

[2022-11-09 01:39] herroworrd opened #2872 "heif-convert calls error when importing(uploading) or converting heic/heif files with 'file not found'"
#### 1. What is not working as documented?

When uploading (or converting) heif/heic files, heif-convert errors with file not found. Uploaded image will make it to originals folder but will be marked hidden in the index and unavailable in the UI.

#### 2. How can we reproduce it?

Steps to reproduce the behavior:

1. Upload an .heif image through Library > Import > Upload
2. Check resulting logs
3

[2022-11-09 01:40] herroworrd opened #2873 "heif-convert errors on imports(uploads) and convert calls with a file not found error"
PLEASE PROCEED ONLY IF YOU ARE ABSOLUTELY SURE THAT THIS IS NOT A TECHNICAL SUPPORT INCIDENT AND/OR POSSIBLY A PROBLEM WITH SOME OTHER SOFTWARE YOU ARE USING. VISIT <https://photoprism.app/kb/getting-support> TO LEARN MORE ABOUT OUR SUPPORT OPTIONS. THANK YOU FOR YOUR CAREFUL CONSIDERATION!

---------------------------------------------------------------------------

#### 1. What is not working as

[2022-11-09 01:43] #2873 closed, assigned to nobody

[2022-11-09 02:53] #2872 closed, assigned to nobody

[2022-11-09 05:12] shivanshs9 opened #2875 "Config: Add option to stream videos over the specified CDN"
**Describe what problem this solves and why this would be valuable to many users**

Right now, the `PHOTOPRISM_CDN_URL` envvar only enables static assets, thumbnails and compressed library images to be delivered via CDN. Not for video files.

**Describe the solution you'd like**

CDN could be enabled for videos too.

[2022-11-09 07:29] lastzero commented on #2875
Videos are complicated in that these are streamed, the supported formats must be detected and the video must be transcoded on demand if the format is not supported or the bitrate is too high. We found this not to work well with (at least) our provider and that's why it's not supported. If you have a lot of practical experience and know how to build it so that it always works and is compatible with

[2022-11-09 21:40] mrlimacz opened #2876 "Metadata: UTC should be overridden by local time with unknown zone"
I have a picture taken with an iPhone 14 around 13:30 GMT+1. Picture does not have any GPS data. Exiftool snippet below.
[code]
When imported to Photoprism, it is displayed as taken 12:30:04 local time, but actually it is actually UTC
![image](https://user-images.githubusercontent.com/29689324/200945643-91d29f46-e16b-47f6-8260-9466bdb56aa0.png)

I would expect the timestamp to be 13:30:04 of local

[2022-11-09 21:49] lastzero commented on #2876
Please use "exiftool -n -g filename". Also, if you want us to test this, we require a file sample: https://photoprism.app/contact

[2022-11-09 21:55] mrlimacz commented on #2876
I already sent to photo to your email address.
[code]

[2022-11-09 21:59] lastzero commented on #2876
Was this file directly created as JPEG by an iPhone or did you convert it from HEIC, either manually or automatically when syncing / uploading? Never this this before and we have a lot of iPhone users...

[2022-11-09 22:19] lastzero commented on #2876
I guess the solution is to use "SubSecDateTimeOriginal" since "CreateDate" does not contain the offset directly. For whatever reason the offset is exclusively in "OffsetTime", although the other timestamps include it as expected:

[code]

[2022-11-10 06:20] lastzero opened #2878 "MariaDB: Allow unsupported versions in "unsafe" mode"
**As a user of an unsupported version like 10.5.8, I want to enable unsafe mode so that I can continue to use that version at my own risk, even if I know it has bugs or doesn't support all SQL features.**

Advanced users may enable unsafe mode with the undocumented variable `PHOTOPRISM_UNSAFE`.

[2022-11-10 07:52] Tuxie opened #2882 "Make stacked images display the newest one"
My photos have the structure (excluding .xmp .arp .pp3 etc):

NAME01234.DNG <- Original RAW
NAME01234.JPG <- Original SOOC JPEG (I shoot RAW+JPEG)
NAME01234 (1).jpg <- Developed by ART or Darktable if I was not happy with the SOOC
NAME01234 (2).jpg <- Newer version

Photoprism stacks these as expected, but it always displays the SOOC instead of the newest version.

Please make it possible to make

[2022-11-10 07:57] graciousgrey commented on #2882
Related to: https://github.com/photoprism/photoprism/issues/1028

[2022-11-10 08:15] Tuxie commented on #2882
Oh, I didn't find that one for some reason. Closing this.

[2022-11-10 08:15] #2882 closed, assigned to nobody

[2022-11-10 08:16] Tuxie commented on #1028
My photos have the structure (excluding .xmp .arp .pp3 etc):

NAME01234.DNG <- Original RAW
NAME01234.JPG <- Original SOOC JPEG (I shoot RAW+JPEG)
NAME01234 (1).jpg <- Developed by ART or Darktable if I was not happy with the SOOC
NAME01234 (2).jpg <- Newer version

Photoprism stacks these as expected, but it always displays the SOOC instead of the newest version.

Please make it possible to make

[2022-11-10 14:15] el-fredo commented on #353
It's the same with me.

I recently switched from Google Photos to PhotoPrism and finally managed to restore all my Google Photos albums. Now I found out that my oldest albums are at the top, and my newest albums are at the bottom. I have to scroll for a very very long time to get to my latest album that I am working on because it is at the bottom.

Is there perhaps a workaround until the sort func

[2022-11-10 15:50] QrchackOfficial commented on #2806
Tuning in from #1598, I just ran `photoprism audit --fix` with the following output:
[code]

15 minutes later, I still see this in logs:
[code]

[2022-11-10 15:51] lastzero commented on #2806
Alright, did you read my last comment? See question:

[2022-11-10 15:54] lastzero commented on #2806
Also enable the debug or trace mode when you run the audit command, as it displays additional logs that can be helpful.

Edit: In every event, there should never be "88 clusters" to merge every 15 minutes. One more thing that would be good to know for debugging is what database (version) you use and if you know how we might reproduce this (what did you do?).

[2022-11-10 15:59] QrchackOfficial commented on #2806
Don't recall specifically hiding or seeing a hide button, though anything is possible as I've been fumbling my way through the software just clicking things and seeing what happens. That said I can say for sure that I:

- went to People tab, switched to New
- saw "No people found" every time, even after adding photos, so I clicked for "Show all new faces"
- clicked on the photo date/camera EXIF da

[2022-11-10 16:02] QrchackOfficial commented on #2806
How do I debug/trace with a docker-compose based deploy?

Agreed, and it is exactly 88 clusters, every 15 minutes and maxes disk I/O plus takes the exact same ~12 seconds - every time.

The docker-compose stack runs `mariadb:10.9` (as copied from the install instructions on the website) with `photoprism/photoprism:latest` and I'm sure all images have been recently pulled as the stack has `watchtow

[2022-11-10 16:08] lastzero commented on #2806
Using different names for the same face ("typos") could cause conflict resolution issues, although we improved that a lot earlier this year.

You can enable trace mode and run commands like this: `photoprism --trace command [subcommand] [--subcommand-flag] [argument]`

[2022-11-10 16:10] lastzero commented on #2806
See also the built-in command help: https://docs.photoprism.app/getting-started/docker-compose/#command-line-interface

[2022-11-10 16:14] QrchackOfficial commented on #2806
You're losing bropoints for the management script ignoring output redirection to a file, but fine - here's trace:

[code]

Let me know if this helps anything, or if there's anything else I can run to help. For reference, this is running on Proxmox, in a LXC with Alpine Linux installed, that has Docker installed in it, and PhotoPrism runs in that Docker environment as a docker-compose stack.

[2022-11-10 16:19] lastzero commented on #2806
There's also the faces optimize and index subcommands you might want to try. Use the command help please, these do have descriptions including descriptions for different flags you can use.

What are "bropoints" and why do I lose them? I'm on my phone and preparing dinner right now 😋

[2022-11-10 16:21] QrchackOfficial commented on #2806
Hah, sure will have a look around. Bropoints as in buddy/friend points, not being able to redirect to a file and copypasta straight to you (vs piecing together one screen of terminal at a time in a text editor) makes me a sad panda

[2022-11-10 16:21] QrchackOfficial commented on #2806
Enjoy your meal tho! No peeking at github randoms 👀

[2022-11-10 16:26] lastzero commented on #2806
That's intentional, because otherwise you'll have debug logs in your SQL dump, or CSV export. This would make all our other users sad, and they wouldn't notice until they need the backup.

[2022-11-10 16:29] QrchackOfficial commented on #2806
Database migrations all say OK. I'm getting 8 faces matched to the same person in stats.

[code]

Does this mean the management script outputs SQL dumps / CSV to stdout instead of taking an output file to write to? Sounds a bit crazy...

[2022-11-10 16:35] lastzero commented on #2806
Try `photoprism --trace faces optimize`. The backup command will output a SQL dump, for example. Since you normally use docker exec, stdout is used by default, otherwise you will have to use a temporary file in a mounted directory, which I would not recommend unless you hate yourself.

[2022-11-10 16:37] lastzero commented on #2806
If you want to know details about the backup command, please check the command help :)

[2022-11-10 16:44] lastzero commented on #2806
Also, if you're nice, I might eventually show you how to pipe the logs to a file.

[2022-11-10 16:49] QrchackOfficial commented on #2806
Hmm. Full on `faces index` also failed:

[code]

[2022-11-10 16:50] lastzero commented on #2806
OK, so we know as much as before. Thanks for trying though! 👍

[2022-11-10 16:51] QrchackOfficial commented on #2806
I tried the `faces optimize` though and it seems to say more:

[code]

[2022-11-10 16:52] QrchackOfficial commented on #2806
Seems like it's failing on 2 people specifically, and I presume this means they have what PhotoPrism thinks are multiple different faces, assigned to the same person. This would be for things like with/without sunglasses, in poor lighting etc.

[2022-11-10 16:56] lastzero commented on #2806
Note you can use the "photoprism faces reset" command for a clean start without these warnings. Of course not an option if you already put a lot of time in labeling faces.

[2022-11-10 16:59] lastzero commented on #2806
Multiple faces for the same person are OK. The same face belonging to different people is what MAY cause conflicts, which could not always be resolved as they should. That makes it difficult to reproduce as most users never have such issues.

[2022-11-10 18:44] mrlimacz commented on #2876
It was taken as by a friend in a HEIC format, uploaded to Google Photos and shared. I downloaded it from Google Photos and it was already a JPEG. Reached out to her to get the original, but I'm still waiting.

I actually have another example from iPhone 6s, picture taken in GMT+1 at 12:54, downloaded via USB. Sending the original via email, in the same

[code]
![image](https://user-images.githubus

[2022-11-11 21:42] mrlimacz commented on #2876
The whole thing was bugging me quite a bit so I did some test. Turns out a complete rescan corrects the time to actual local time (with no changes made to the original). I took a look at the `photo` table in the database and after a re-scan `taken_at_local` is updated to the correct value.
### After initial indexing
![Screenshot from 2022-11-10 19-43-49](https://user-images.githubusercontent.com/2

[2022-11-11 21:51] lastzero commented on #2876
Problem might be how the built-in Exif parser and data from Exiftool interfere with each other the first time.

[2022-11-12 00:36] Kvaksrud commented on #808
In a world of constant security challenges MFA is a must! Get a date set :)

[2022-11-12 10:15] jojo-gfx commented on #147
Seems it doesn't work correct?

Breaks with a failure on "Dependencies" I would think (that with the warning of Patience),  and then VM is running but have no root login and web-frontend refuses the connection. :(
In advanced mode now I have a root login, but web console isn't available so I can't do anything now.
Was looking so great first, but so it's a bit bad...

Here the output (also was try

[2022-11-12 11:46] ER-EPR commented on #2806
I have the same issue, which has tortured me for a month. I have labeled hundreds of photos already, I can't just reset all and start again. Can you display the file and the person that is causing the problem instead of a random serial number. And provide a command to reset the label on that file or person.

[2022-11-12 12:41] ER-EPR commented on #2806
I have used every index/face related command, including ones from above comments, but the log keeps showing:
[code]

[2022-11-12 12:56] ER-EPR commented on #2806
docker exec -it photoprism photoprism faces audit -f
shows:
[code]

[2022-11-12 13:11] lastzero commented on #2806
If you know a little SQL you can check the subjects, faces and markers tables for the related records. As I said earlier, there's probably something inconsistent or missing. Like when you have hidden face clusters that have already been matched to a subject. Or used different names for the same face cluster. I can just guess, which takes months without your help.

[2022-11-12 13:13] lastzero commented on #2806
Also make sure to run the commands with --trace or --debug as that may show more information if needed.

[2022-11-13 02:23] ER-EPR commented on #2806
I know the basics, but I am not a SQL expert. Most of all, I don't know what to look for. Would you please provide a query / an example SQL command for me?

[2022-11-13 02:29] lastzero commented on #2806
You would find the names for the subject UIDs, so you can look those people in the UI and fix issues if needed. The UID is in the subject_uid colum, and the name in the subject_name column of the subjects table. "Select * from subjects" would be the query.

[2022-11-13 03:10] ER-EPR commented on #2806
OK, I have found those names. But I can't see anything unusual. What should I do next？
[code]

[2022-11-13 03:57] ER-EPR commented on #2806
I maybe found the solution. I found 3 out-of-focus image of the third person, and un-label them. And init face update, the third subject warning disappeared. I try the same thing with the first two, but it did not work.
[code]
Where can I look up these IDs
SDFJCXAPT2YDYRDNKPX4RKWGK245NYGV
 LQTVVRLFE5BXPAFSJCLR7W4Z5IMGOHJT
LUFXBOJB7VBJJVVFJA7THXD5YN2LGT7S

Are they image file IDs?

[2022-11-13 04:07] lastzero commented on #2806
faces table and markers table. These are face IDs.

[2022-11-13 06:41] ER-EPR commented on #2806
from makers and files table, I found the file names. I untag all those files, the second person's warning disappear. But still the first warning stays.
Can you add a new web UI for conflict resolve, to review those image and untag them all?  At least you could integrate those info in the debug log in the future.
[code]
Now the face update log still show warnnings for the two people. I looked up th

[2022-11-13 08:23] ER-EPR commented on #2806
I guess they are automatically tagged markers, I untag faces belong to  LQTVVRLFE5BXPAFSJCLR7W4Z5IMGOHJT  and  WOOJCFSIGUGZAZLRD5L4TH7VCOPSVLMH (which have less number of images then 6UDBI4YVRK6WV7U7XUSVRP6JIIP3FH7G ). And the warning disappears. Would you add this kind of function? Based on how many images in each face_id, untag the small groups of images and try to resolve the conflict.

[2022-11-13 08:58] cartman29 commented on #668
serif affinity 2 add JPEG XL Import/Export

[2022-11-13 11:41] lastzero commented on #2806
Thanks for your analysis! We will try to improve the auto resolution based on your findings. Note, however, that this will take time. We also welcome pull requests with specific improvements.

[2022-11-13 11:46] graciousgrey opened #2888 "RAW: Extract JPG from image files for more formats"
**As a user I want PhotoPrism to extract JPGs from image files directly instead of using darktable or rawtherapee for conversion, so that less resources are required.**

We already do this for DNG files.
Some users would like to have this functionality for other file formats as well, e.g. for NEF or GPR.

**Acceptance Criteria:**
- [ ] Make a list of all file formats this could be relevant for
- [

[2022-11-13 18:10] mrlimacz commented on #2876
It would be awesome if initial indexing would read the time correctly. Indexing may be a lengthy operation when you have a lot o pictures in a single folder, so I'd like to avoid that in the future :)

[2022-11-13 18:57] lastzero commented on #2876
We will improve this. It's Sunday, please give it a bit of time :)

[2022-11-14 02:30] ER-EPR commented on #2806
Thanks for your help. The lag when tagging people is gone now. But the audit log shows some problems, and it probably causes the regular background job acting weird. It consumes 100% of 1 CPU core, but my CPU fan sounds crazy because of it.
How can I fix
[code]
and
[code]
I'm new to github, do I have to start a new issue for this?

[2022-11-14 04:58] dvcrn commented on #93
I'm in a similar situation where I was looking to move some of my storage needs into the cloud. Here are some thoughts from playing around with rclone:

- rclone mounted object storage (s3, wasabi) is not very fast to access. Especially big directories (like a "Recents" album/folder) is going to make it choke. There are some parameters to tweak cache size, but it can get very memory hungry quick
-

[2022-11-14 07:19] lastzero commented on #2806
This might be related to the changes you performed and comes closer to the original issue. Maybe it also was there from the start. Resolving this is possible, but you either need to wait for an update from us (will take a little) or you also figure out how to fix it manually.

[2022-11-14 07:27] ER-EPR commented on #2806
It is there from the start before I do anything. It is a separate problem. The lag when adding tags is gone now.
I need some insight, into what I should and not do. Can I safely delete those markers from the database just by SQL? Or Do I have to edit other files as well? I see the debug info is all about makers having invalid data.
But it is possible that these warnings are the true reason that th

[2022-11-14 07:33] lastzero commented on #2806
Deleting those markers might work. You could also try to empty the face id value of those markers instead of deleting the complete row. Please create a backup before you do that, so you can revert any changes if needed.

[2022-11-14 09:04] graciousgrey commented on #2668
We've added the step by step instructions for sqlite to our docs https://docs.photoprism.app/getting-started/nas/synology/#setup-using-docker-sqlite.

Thank you very much @Tirallala

I will move this issue back to TODO so that someone else can add instructions for mariadb :)

[2022-11-14 09:16] ER-EPR commented on #2806
I clear the face_id using `update markers set face_id = '' where marker_uid='mrksd3s29b4r1vbr' or marker_uid='mrjbjes3jl46cb33' or marker_uid='mrksd3z3ms9m8i7i' or marker_uid='mrksd
3r37nang8kw' or marker_uid='mrksd4n11316s5za' or marker_uid='mrksd3utqs80hw6o' or marker_uid='mrksd3w3s15qe9rb' or marker_uid='mrksd3s29b4r1vbr' or marker_uid='mrksd3v2ju7ueb0
' or marker_uid='mrksdb62n47zalcp' or mark

[2022-11-14 09:57] lastzero commented on #2806
Yeah, the audit command always takes a while to complete. This is to be expected.

[2022-11-14 10:12] ER-EPR commented on #2806
But it wasn't this noisy last month. Considering there is nothing to audit, nothing changed, I think there probably something wrong with the `faces: found no ambiguous subjects` process. How can I find more info about this. Now I have to set the background job to 24h to prevent the noisy sound it produces.

[2022-11-14 10:46] lastzero commented on #2806
The logs look good. The message "faces: found no ambiguous subjects" means that everything seems to be fine. We run a lot of servers for our own use and have never observed any performance problems (unless you are dealing with millions of files) and the CPU fans are also not audible unless you do a full rescan.

**A good way to avoid fan noise would be to buy a suitable cooler that is not so noisy

[2022-11-14 11:06] cazzoo commented on #93
What about seaweedfs as per recommandation here ? I didn't take time to assess but it appears quite a good solution before photoprisme to implement a cloud based integration

[2022-11-14 12:05] ER-EPR commented on #2806
#2022
#1618
#1872
#2176
I searched all related problems, and I come to a conclusion. The two problems we discussed in this post are all because of lots of manually tagged photos. The second problem '1 CPU core at 100%' for several minutes is mentioned by other users several times, and all of them have tag the photos a a lot. It is mainly related to the number of the tags. The first problem 'tag pe

[2022-11-14 12:12] lastzero commented on #2806
The reason the worker currently runs independent of actual changes in the main instance is that some users directly change database contents or run additional instances, for example for indexing. That's a problem that CAN be solved, but it takes time. If we just ignore this fact and don't consistently run the worker, it will lead to bug reports and support requests we need to handle. I didn't code

[2022-11-14 12:17] lastzero commented on #2806
As for your question about the exact SQL statements, I'm smart but not a computer that can just print out validated statements that work for you. I'll think about it when my time permits, but that's not possible if I'm constantly answering questions, since I can only focus on one thing at a time.

[2022-11-14 12:24] lastzero commented on #2806
**In fact, one possible cause of the problems you and other users describe is that they are running multiple instances or directly modify database contents, as this MAY result in inconsistent faces, markers, and subjects. If you would like to help us resolve this issue, please let us know if this might apply to you. Thank you very much!**

[2022-11-14 12:31] lastzero commented on #2806
PS: As you found out, it is also possible that manually tagged faces play a role. However, these should be represented by a cluster (instead of many individual faces that need to be compared). This is exactly what the background worker does. Hence my advice (see above) not to disable it, or run it less frequently. That would be exactly what causes the problems in the first place.

[2022-11-14 12:34] QrchackOfficial commented on #2806
Wow, quite the traffic in here recently. I'll add that in my specific case there's just one instance running, but the manual tagging was most certainly done fast and to avoid waiting for the UI blocking progress bar I would close out of the tab and tag in another. Meaning there's a decent chance that there were several tags being applied while the database was updating in the background.

[2022-11-14 12:37] lastzero commented on #2806
Another known issue is that children and Asian faces can't be compared properly because our model doesn't work well for them due to lack of training data (i.e., images that could be used - note that parents don't usually give away pictures of their children). Since we keep explaining this, maybe it would be best if I sit down now and add this to our docs on the "Known Issues" page so I can finally

[2022-11-14 12:42] ER-EPR commented on #2806
I'm sure I only run one instance, in docker. And I only learned to modify database today with your guidance. And those modifications work well. The problems were there for several weeks. And it's getting better after today's modification. The only problem left now is as #1872 describes. The comparison process of faces may take too much time, especially when nothing has changed since the last index

[2022-11-14 12:51] lastzero commented on #2806
@ER-EPR Based on your profile picture, I think the user experience would be much better for you if our model worked better with Asian faces. Except for the noise your fan might make. We want to solve these and many other problems, but it takes time and money to build a team of specialists.

Be aware that I have only studied Physics and read research papers, I am not a full time face recognition sp

[2022-11-14 12:58] lastzero commented on #2806
Using multiple tabs instead of waiting would almost certainly cause the behavior you observed. Thanks for letting us know! We should include that as a note in our docs.

[2022-11-14 13:02] ER-EPR commented on #2806
@QrchackOfficial The merge fail can be cured by untagging small clusters of one subject as I did in the above posts using MySQL. You can search in the markers table for a subj_uid, and see the face_id listed in the warning, and clear the tags of the small groups and let them merge with the big group.(don't untag the big group) But remember to backup your database first. It's a dangerous act.

[2022-11-14 13:08] lastzero commented on #2806
*You are welcome to [privately provide us](https://photoprism.app/contact) with a SQL dump of the subjects, faces, and markers tables for debugging. This would save us hours of reverse-engineering your (potential) database content based on the GitHub issue comments, which could eventually lead us to solutions that don't work for you because we got it wrong. Thank you very much!*

[2022-11-14 13:24] dvcrn commented on #93
For me personally, I put a couple hours into trying to setup seaweedfs with https://github.com/seaweedfs/seaweedfs-operator for my k8s centric setup after it was recommended here, but eventually gave up in favor of https://github.com/wunderio/csi-rclone (or [my fork](https://github.com/dvcrn/csi-rclone-reloaded))

Was a bit too complex to set up for my quick test, but it's on my list of stuff to r

[2022-11-14 16:25] dror3go opened #2891 "Albums: Replace ASCII double quotes in titles with Unicode quotes instead of single quotes"
Following #1196 where we enabled keywords with single/double quotation marks, PhotoPrism currently converts double quotation marks in album titles with single quotation marks.
Though not a high priority bug, it feels weird for users in languages which make use of double quotation marks for acronyms.

[2022-11-14 16:37] lastzero commented on #2806
The documentation has been updated for you:

## [Legacy Hardware](https://docs.photoprism.app/known-issues/#legacy-hardware)

It is a [known issue](https://docs.photoprism.app/getting-started/troubleshooting/performance/#legacy-hardware) that the user interface and backend operations, especially face recognition, can be slow or even crash on older hardware due to a lack of resources.

*Like most a

[2022-11-14 18:01] lastzero commented on #2891
Think that was a precaution measure in the aftermath of the log4j debacle. Double quotes would also simplify code injection and may not be supported on many filesystems in case you want to use album names for zip files or as folder names. As such, it's a decision we made (for now) and not a bug. Feel free to help with improving our docs so that it does not look as that happened by mistake and shou

[2022-11-14 20:40] urza-lab commented on #1679
count me in with 10$ delivery fee

[2022-11-14 21:21] spiezmaestro commented on #1679
I would double my membership for a year for this feature to get implemented.

[2022-11-14 21:24] lastzero commented on #1679
Thank you so much for your feedback! We'll keep this in mind, but need to finish the multi-user features first. So no real chance to release it before next year.

[2022-11-14 21:44] dominikholler opened #2892 "UX: Use virtual scrolling instead of initite scrolling in large collections"
A clear and concise description of what the problem is and why it is important to solve it.

Currently, it is required to scroll down to the bottom for multiple times, if an album, a library or a similar collection contains many photos.
If the draggable scrolling handle is moved to the bottom, the view scrolls down only the next 20(?) photos, instead of the last photos.
In large collections, it ta

[2022-11-14 22:13] lastzero commented on #2892
Any reason you don't simply change the sort order, for example from newest to oldest first?

[2022-11-15 07:56] dominikholler commented on #2892
This works for users who are aware that the search bar can be expanded, and if the user is sure that he wants to use exactly the other end of the collection.

It would be more intuitive if the scrollbar would behave like intuitively expected, because the scrollbar is already visible in the default view, does not require additional understanding the search/sort bar, and would also work to see photo

[2022-11-15 08:12] lastzero commented on #2892
Yeah, but it's also a much higher effort and the initial loading would most likely be slower...

If we had no sorting and only one view, as with the competitor whose name I don't want to mention, then that's a special case, since the view can't be changed anyway and you can just cache the results and output them from memory without requiring database queries that might cause a delay in the user in

[2022-11-15 08:15] lastzero commented on #2892
If you're okay with limited search and sorting in exchange for being able to scroll down quickly, then your issue might be a duplicate of that:
- #152

[2022-11-15 08:35] dominikholler commented on #2892
I was hoping that the UI framework already would provide some virtual scrolling to implement lazy loading.

The improvements during spring, e.g. #2433, were really great in this regard. Since June, the loading times for new thumbnails feels acceptable to me.

Sure, no reason to rush. I hope that the project will get more traction and more contributor in the long run.

I am not sure how this will w

[2022-11-15 08:38] lastzero commented on #2892
We already use virtual scrolling and scrolling is not slow, it's just that we don't have a timeline view yet and you can't scroll to the bottom with one click. See the existing (open and closed) issues for a full discussion history on this topic.

[2022-11-15 08:56] lastzero commented on #2892
Please let us know if the timeline view would be sufficient for you (so we can close this issue as a duplicate) or if you expect instant scrolling for any sort order, because that's the part where it can get really slow without in-memory caching. In the worst case, without a matching index, this forces the database to use temporary tables on disk (depending on the specific order, for example if yo

[2022-11-15 09:14] dominikholler commented on #2892
Will the timeline view be the default view in albums shared via public link?

[2022-11-15 09:17] lastzero commented on #2892
We can't decide that until we can implement it and do UX testing.

[2022-11-15 09:21] lastzero commented on #2892
I assume that an album timeline is less valuable because most people will share events that take place at a specific time, such as a birthday or vacation photos. Also, the albums you share shouldn't be so large that it takes you a lot of time to go through them, since most people who get the link don't have time to do that unless they don't have a job or kids. I'm having a hard time seeing the use

[2022-11-15 09:25] lastzero commented on #2892
We could just load the first 500 pictures when you open an album. This way you can scroll to the end if the album is not bigger. In fact, we already did that... might be 320 pictures... not sure if it was changed.

[2022-11-15 09:40] dominikholler commented on #2892
In my scenario I use the same album to store all photos related to a family event, which happens every year.
I am aware that it is not the expected use, but I also have some albums per person or topic, which were initially created from exif keywords, because it is so easy to share photos via link this way.

This might hide the issue, but would not address the real issue behind. This approach might

[2022-11-15 09:45] lastzero commented on #2892
Not really much stress since scrolling is virtual now. Check how many results are loaded in the maps view (places). Can be 50k, but only if it's not some problematic (slow) sort order or search filter without an index that could be used. See explanation above.

[2022-11-15 09:51] lastzero commented on #2892
The bottom line is that you can't have all the results immediately and have complete freedom in sorting and searching. That would be the Holy Grail of computer science and we can't accept that as a "feature request". At the very least, you need to know how many matching pictures there are, so you know which scroll position should display which selection of pictures. This is more complicated in pra

[2022-11-15 12:35] mrichtarsky opened #2897 "Metadata: Automatically sanitize bad Unicode strings"
#### 1. What is not working as documented?

After a scratch indexing run on a fresh instance (sidecar/cache dirs/DB dir empty) I get these errors in the logs:

[code]

This is one occurrence, I have about 15 (indexing 60k pictures).

#### 2. How can we reproduce it?

Index the attached image.

#### 3. What behavior do you expect?

No error in the logs.

#### 4. What could be the cause of your prob

[2022-11-15 12:47] lastzero commented on #2897
The software column supports unicode and the validity is verified by MariaDB. PhotoPeism also does some sanitization, but not with a focus on Unicode specific constraints. So it can be an issue with invalid Unicode in the metadata. First time someone is reporting this though. Feel free to suggest improvements, e.g. via pull request.

see https://github.com/photoprism/photoprism/blob/develop/intern

[2022-11-15 14:19] lastzero commented on #2897
Alright, I fixed the error by making sure that all strings extracted from metadata are valid Unicode. You are welcome to test this with the upcoming preview build!

[2022-11-15 15:36] dominikholler commented on #2892
Might it be possible to have a new API call in the backend to estimate an upper limit depending on these parameters?

[2022-11-15 15:41] lastzero commented on #2892
No, that's not how it works.

[2022-11-15 15:43] lastzero commented on #2892
@heikomat Do you have anything to add?

[2022-11-15 16:18] heikomat commented on #2892
Will read through the comments and provide feedback when I'm back home (I'm currently at work).

[2022-11-15 17:14] lastzero commented on #2876
An updated preview build will be available for testing soon:

- https://docs.photoprism.app/release-notes/#development-preview

We hope you have a few minutes to let us know if it works so we can release the update tomorrow!

[2022-11-15 17:14] lastzero commented on #2897
An updated preview build will be available for testing soon:

- https://docs.photoprism.app/release-notes/#development-preview

We hope you have a few minutes to let us know if it works so we can release the update tomorrow!

[2022-11-15 17:42] lastzero commented on #2897
Happy testing! 🎁

[2022-11-15 17:42] lastzero commented on #2876
Happy testing! 🎁

[2022-11-15 18:08] heikomat commented on #2892
real virtual scrolling is possible, but difficult.

We'd need API endpoints to return all the results for a search. that would probably be to much data, so maybe we could just return the photo-ids of all results, no details.

If the view we want to virtual scroll in shows pictures only, and absolutely zero details, than that would be enough to have them displayed. if any details at all are used/sh

[2022-11-15 18:12] heikomat commented on #2892
also, i kinda glossed over the backend part with returning search data for ALL results.
That is doable, but not trivial for the reasons @lastzero mentioned (we'd need enough indices so that searches don't get to slow).
Having a new view without filters would of course help here

[2022-11-15 18:13] lastzero commented on #2892
Thanks for your detailed feedback! Much appreciated. Clearly shows that is not something we can do in the near future and it won't easily work with the existing views. I'll close this as a duplicate of the timeline view then as it is planned anyway. Once it is done, we can move from there.

[2022-11-15 18:13] #2892 closed, assigned to nobody

[2022-11-15 21:17] koztya opened #2899 "Videos: Add .m2ts to known file extensions"
MTS is supported file format, but supported extension is only .mts.
.m2ts is valid file extension of the format. Please add this file extension to the list.
https://en.wikipedia.org/wiki/.m2ts

[2022-11-15 22:07] mrichtarsky commented on #2897
Thanks for the quick fix! Tested and can confirm the issue is fixed.

[code]

[2022-11-15 22:07] #2897 closed, assigned to lastzero

[2022-11-15 22:35] mrlimacz commented on #2876
Everything looks fine to me :)

![image](https://user-images.githubusercontent.com/29689324/202039165-fd5b1e98-0233-44b9-8b6f-c0dd8ee3120a.png)

[code]

[2022-11-16 00:28] inthreedee commented on #2892
The use case for this would be something like travel albums. I regularly take long trips and share one album per trip/location with family. These albums can accumulate thousands of photos over the course of one trip. I sort them blog style, where the newest photos are added to the top as the trip progresses, but some family members check the album for updates less frequently. They would certainly

[2022-11-16 00:46] inthreedee commented on #152
I actually consider this a very important feature of a new timeline view mode to be honest. The current view normalizes all content into uniform squares, but almost none of our photos or videos are actually squares. Nearly all of our photos, panoramas, and videos end up getting cropped. As a result, this view feels disconnected from the reality of our content and doesn't make for the best browsing

[2022-11-16 04:20] stemy2 opened #2900 "Add list of photoprism instances"
PLEASE ONLY PROCEED IF YOU ARE ABSOLUTELY SURE THAT THIS IS NOT A TECHNICAL SUPPORT INCIDENT AND/OR A PROBLEM WITH OTHER SOFTWARE YOU ARE USING. PLEASE ALSO CHECK OUR PUBLIC ROADMAP AND TRY TO FIND EXISTING FEATURE REQUESTS FIRST:

- <https://link.photoprism.app/roadmap>
- <https://github.com/photoprism/photoprism/issues>

VISIT <https://photoprism.app/kb/getting-support> TO LEARN MORE ABOUT OUR S

[2022-11-16 07:36] graciousgrey commented on #152
@inthreedee This is something we want to do --> https://github.com/photoprism/photoprism/issues/85

[2022-11-16 09:20] lastzero commented on #2892
This makes sense and is totally doable, but requires a proper UI / UX, not an oversensitive scrollbar with a few rough dates, if any. We should do better than Google.

[2022-11-16 10:39] graciousgrey commented on #2900
What exactly do you mean with instances list?

[2022-11-16 12:00] stemy2 commented on #2900
An list of servers where photoprism is installed and where anybody can signup.
For example, the pixelfed instances list: https://pixelfed.org/servers

[2022-11-16 12:19] lastzero commented on #2900
There's no community servers as our software is primarily for managing all your pictures in a privacy friendly way. If you were to upload all your private pictures to a community server, that wouldn't service the purpose. However, there is a hosted photoprism service if you don't want to self host it: https://docs.photoprism.app/getting-started/cloud/pikapods/

[2022-11-16 12:37] lastzero commented on #2700
So the installed size unfortunately is 27,346.0 kB, which is too large to ship it to everyone by default. In that case, we could install it if you set `PHOTOPRISM_INIT="gpu"`.

[2022-11-16 12:40] #2876 closed, assigned to lastzero

[2022-11-16 12:55] lastzero commented on #2899
We will provide an updated development preview shortly so you can test these changes. Thank you very much!

[2022-11-16 13:42] lastzero commented on #2700
An updated preview build will be available for testing soon:

- https://docs.photoprism.app/release-notes/#development-preview

Make sure to also read these docs, which have been updated as well:

- https://docs.photoprism.app/getting-started/advanced/transcoding/#gpu-drivers

We hope you have a few minutes to let us know if it works so we can release this in our next update!

[2022-11-16 13:46] lastzero commented on #2899
An updated preview build will be available for testing soon:

- https://docs.photoprism.app/release-notes/#development-preview

We hope you have a few minutes to let us know if it works so we can release this in our next update!

[2022-11-16 13:47] #2878 closed, assigned to lastzero

[2022-11-16 13:49] #2900 closed, assigned to nobody

[2022-11-16 21:06] lastzero commented on #2700
@CDeLeon94 Happy testing! :gift:

[2022-11-16 21:07] lastzero commented on #2899
@koztya Happy testing! :gift:

[2022-11-16 21:15] koztya commented on #2899
I've tested preview - it found my *.m2ts* files normally.

@lastzero thanks, very fast, wow! :-)

[2022-11-17 02:27] SaswatPadhi commented on #98
I was playing with `photoprism users` command and I created a new user as `photoprism user add test`.

With `photoprism users ls`, I see that both `test` and `admin` accounts have `admin` role.
However, the "Super Admin" field has `no` for `test` vs `yes` for `admin`.

I tried a quick grep but couldn't find anything much on the "Super Admin" capability. Could you please explain the additional righ

[2022-11-17 08:00] graciousgrey commented on #98
The role of a user with superadmin status cannot be changed, whereas a user with the admin role can be assigned a different role. Documentation will follow once we have introduced more multi-user functionality such as additional roles.

[2022-11-17 09:09] lastzero commented on #2899
Thanks for testing! :+1:

[2022-11-17 09:12] lastzero commented on #2700
We have just added a separate section about Intel Quick Sync to our documentation:

- https://docs.photoprism.app/getting-started/advanced/transcoding/#intel-quick-sync

If you are not able to test our preview, we will release the changes so you can test them in production. However, I can't tell you when we will release the next update if you need changes.

[2022-11-17 12:42] lastzero commented on #2806
I am closing this issue as we have not received any further feedback from the original reporter and there are now too many comments, making it difficult for anyone who has not participated in the discussion to understand. Everything important is now covered in the Known Issues. If someone affected provides us with a dump of the database tables, we can fix the problem - otherwise it requires too mu

[2022-11-17 12:42] #2806 closed, assigned to nobody

[2022-11-17 12:44] #2899 closed, assigned to lastzero

[2022-11-17 12:45] lastzero commented on #2700
Released. Please read the documentation and let us know if it works as described. Thank you!

[2022-11-17 12:45] #2700 closed, assigned to lastzero

[2022-11-18 02:09] dfldylan commented on #1100
It looks like this is the case, I am on windows10 with 21H2.
The new release recently updated support for nvidia-tookit, and as far as I know only wsl2 can call nvidia-tookit. so when I tried to switch from wsl1 to wsl2, I found that both D: and E: on the host are mounted properly into the container.

[2022-11-18 05:18] ER-EPR commented on #2806
I have sent you two emails containing download links for the mysql dump for the three tables. The first link may have expired, please use the second one.

[2022-11-18 11:41] lastzero opened #2913 "MariaDB: Make version check compatible with 10.10"
The system variable `innodb_version` is missing in MariaDB 10.10, unclear if accidentally or intentionally. Since this causes an error in the MariaDB version check, we must assume that it is a compatible release. In all other releases down to MySQL 8 this variable is set to the plain version (without additions like the application name or distribution which could cause parse errors).

[2022-11-18 11:52] lastzero opened #2916 "UI: Add Electra theme"
![electra](https://user-images.githubusercontent.com/301686/203049693-60d74a8f-9152-4f51-929b-538b0c0aef98.jpg)

[2022-11-18 13:04] lastzero commented on #2913
This fix has been released, a new stable build will be available soon:

- https://docs.photoprism.app/release-notes/#november-18-2022

Note that [MariaDB 10.10.2 has only been released yesterday](https://mariadb.com/kb/en/mariadb-10-10-2-release-notes/). Since we can't see into the future, reacting this fast is the best we can do in case something unexpectedly changes in a new MariaDB version.

**

[2022-11-18 16:28] mzac opened #2917 "Photoprism Crashing with DNG files"
PLEASE PROCEED ONLY IF YOU ARE ABSOLUTELY SURE THAT THIS IS NOT A TECHNICAL SUPPORT INCIDENT AND/OR POSSIBLY A PROBLEM WITH SOME OTHER SOFTWARE YOU ARE USING. VISIT <https://photoprism.app/kb/getting-support> TO LEARN MORE ABOUT OUR SUPPORT OPTIONS. THANK YOU FOR YOUR CAREFUL CONSIDERATION!

---------------------------------------------------------------------------

#### 1. What is not working as

[2022-11-18 16:34] lastzero commented on #2917
Does it work with Docker? Note we don't provide assistance with using Kubernetes as part of our free community support.

[2022-11-18 16:39] mzac commented on #2917
I don't have a docker environment setup.  I have been able to index about 18K photos so far in my library but it keeps getting stuck at the same point at these same DNG files so I don't think K3S is the issue.

I thought it could be a storage issue but I doubt that.  All my storage is kept on my Synology NAS and the containers are mounting it via NFS.

My storage is like follows:
[code]

[code]

[2022-11-18 16:42] mzac commented on #2917
@lastzero

I see there is an option 'Disable RawTherapee' should I try this and see if it fixes it?

Edit: That didn't work, I see it is trying to use Darktable.  Will try and disable it.

Edit 2: Disabling dark table works.  No more crashes.  Is this an upstream bug then you think?

[2022-11-18 16:47] lastzero commented on #2917
Kindly note that bug reports have the highest priority, are processed at night and on weekends, and therefore should not be made unless you are sure you have found a fully reproducible and previously unreported issue that needs to be fixed directly in the app. A quick search shows this likely is a Kubernetes related problem:

- https://github.com/photoprism/photoprism/discussions/2832

In addition

[2022-11-18 16:52] #2917 closed, assigned to nobody

[2022-11-18 16:53] mzac commented on #2917
Thanks I'll keep an eye on the other issue too.  Seems good now with Darktable disabled.

[2022-11-18 16:59] lastzero commented on #2917
Are these ProRAW DNG files? Darktable and Rawtherapee don't support those yet, so it is likely enough (and fastest) to blacklist DNG for both without disabling Darktable / Rawtherapee completely.

[2022-11-18 17:01] mzac commented on #2917
They are DNG files I converted a long time ago from my Canon 40D using Lightroom so not sure exactly what kind of DNG files they are.

[2022-11-18 17:03] lastzero commented on #2917
Should generally work then. It would be great if you could figure out if there is an issue with Darktable that needs to be fixed (and report it to them if necessary). Thank you very much!

[2022-11-18 21:42] titilambert opened #2918 "Disable FFmpeg check disable video indexing"
#### 1. What is not working as documented?

Disable FFmpeg check disable video indexing

![image](https://user-images.githubusercontent.com/47721/202807134-1115e27e-ef83-4aa3-bfe1-610a37fb7c3e.png)

#### 2. How can we reproduce it?

Steps to reproduce the behavior:

1. Go to 'Settings' -> 'Advanced'
2. Check the box named "Disable FFmpeg"
3. Add a new video to your folder
4. Run indexing
5. The ne

[2022-11-18 21:47] lastzero commented on #2918
We can't create a thumbnail without ffmpeg and thus not index it or show a preview in the UI search results. It should be described like this in our docs. It you feel like the docs must be improved to be more clear on this, you are welcome to send a pull request. Thank you very much!

[2022-11-18 21:48] #2918 closed, assigned to nobody

[2022-11-19 10:32] zakafx commented on #552
I am glad that I found this because I am having the exact same issue. One day PP decided to stop downloading new photos from my NC instance. Getting the same auth error above. PP will download new photos after I delete and recreate the service, but nothing else after.

[2022-11-19 12:32] mrlimacz opened #2919 "Pictures stacked despite disabling stacking for Unique ID and Sequential Names"
I disabled stacking for Unique ID and Sequential Names in library settings. After indexing originals, pictures with the same name (different extension) end up being stacked even though they were taken on a different day.

![Screenshot from 2022-11-19 13-18-19](https://user-images.githubusercontent.com/29689324/202850674-9f0a9b47-348e-4ee0-ab8a-df431c01e40e.png)
![Screenshot from 2022-11-19 13-19-0

[2022-11-19 12:32] #2916 closed, assigned to lastzero

[2022-11-19 12:32] #2913 closed, assigned to lastzero

[2022-11-19 12:35] lastzero commented on #2919
PLEASE USE OUR OFFICIAL BUG REPORT TEMPLATE AND PROVIDE FURTHER INFORMATION, FOR EXAMPLE IF YOU FIRST INDEXED THE FILES WITH THE SETTINGS TURNED ON AND ONLY DISABLED THEM AFTERWARDS. ALSO MAKE SURE TO READ THE USER GUIDE BEFORE OPENING A BUG REPORT:

- https://docs.photoprism.app/user-guide/organize/stacks/#for-what-reasons-can-files-be-stacked

[2022-11-19 12:35] #2919 closed, assigned to nobody

[2022-11-19 12:54] lastzero commented on #2919
## For what reasons can files be stacked?

1. Files sharing exactly the same file and folder name will always be stacked, for example `/2018/IMG_1234.jpg` and `/2018/IMG_1234.avi`
2. Files with related, sequential names like `/2018/IMG_1234 (2).jpg` and `/2018/IMG_1234 (3).jpg` may be stacked as well (optional)
3. Pictures were taken at the same GPS position and second (optional)
4. Image metadata

[2022-11-19 12:57] zakafx commented on #552
when disabling and reenabling WebDAV/nextcloud sync within PP, here is the log output.

2022-11-19 07:51:25 ERRO webdav: 'ReadStream /Photos/2022/11/20221118_122859.jpg: Authorize https://awebsite.com/remote.php/dav/files/user/: 401'

2022-11-19 07:51:25 INFO sync: downloading from Cloud

2022-11-19 07:51:20 INFO account saved

If I delete the WebDAV/nextcloud service and reconfigure, PP will conn

[2022-11-19 13:17] nimjor commented on #552
@zakafx I haven’t tried setting up the sync in a while, but the way I worked around this was by mounting my SMB share that Nextcloud is using for storage onto the docker host that’s running photoprism, and then in my docker-compose file I specified that location for index. Not sure if that would work for your situation but it’s worked flawlessly for me.

[2022-11-19 13:23] zakafx commented on #552
@nimjor thanks for the reply, i will try that out later today and see what happens

[2022-11-19 14:33] lastzero commented on #2918
@titilambert  After reviewing the current documentation, we have expanded it with more detailed information and notes:

- https://docs.photoprism.app/getting-started/troubleshooting/#videos-dont-play
- https://docs.photoprism.app/user-guide/organize/video/#transcoding
- https://docs.photoprism.app/user-guide/settings/advanced/#disable-ffmpeg

Hope this helps!

[2022-11-19 14:44] lastzero commented on #552
Strange that it works the first time. Do you have the background worker disabled or changed the default interval in your config?

Also check out the bug report for owncloud, which apparently requires special authentication handling. If Nextcloud works the first time, it's probably not related though.

[2022-11-19 14:49] littleneko opened #2921 "Places Map can't be load"
Settings -> Places -> Maps : Basic

Version: PhotoPrism® CE Build 221118-e58fee0fb Docker

I try the official demo https://demo.photoprism.app/library/browse, it work well.

And the version [September 1, 2022](https://github.com/photoprism/photoprism/releases/tag/220901-f493607b0) is no problem.

![image](https://user-images.githubusercontent.com/6368915/202856568-7f1700e9-6759-4be4-a234-2ac7b985d

[2022-11-19 14:53] lastzero commented on #2921
These are the basic maps. In our demo, the sponsor features are enabled so you can test the high-resolution world maps we offer:

- https://docs.photoprism.app/getting-started/#maps-places
- https://docs.photoprism.app/getting-started/faq/#are-the-keys-for-using-interactive-world-maps-provided-free-of-charge
- https://photoprism.app/membership

Thank you for supporting our work!

[2022-11-19 14:53] #2921 closed, assigned to nobody

[2022-11-19 19:28] titilambert commented on #2918
@lastzero Thanks that's more clear. Also, would you accept a patch that add a new check box allow to use ffmpeg just for indexing and create thumbnail ? (to really just disable transcoding only)

[2022-11-19 19:34] bigntallmike opened #2922 "Docs: Contribute a docker-compose example that uses an .env file"
You are welcome to contribute examples that use an env file to set configuration values:

- https://github.com/photoprism/photoprism-contrib

---

*Original Suggestion:*

The sample docker-compose yml files are full of settings that should be variables in a `.env` file instead.
Using an environment file would allow the passwords to be matched up properly between the database and client software fo

[2022-11-19 19:35] lastzero commented on #2918
So you want videos not to play if they are in the wrong format?

[2022-11-19 19:42] titilambert commented on #2918
yes because the video I take are already in the good format

[2022-11-19 20:12] lastzero commented on #2918
Then they should not get transcoded. Maybe you just want to increase the bitrate limit?

[2022-11-19 20:47] lastzero commented on #2918
Check the docs for details. They explain which formats can be streamed directly without transcoding:

- MPEG-4 AVC doesn't require transcoding as it can be played natively by most modern browsers, see https://caniuse.com/mpeg4
- OGV, VP8, VP9, AV1, WebM, and HEVC videos can be streamed directly if they are supported by your browser and do not exceed the configured bitrate limit
- other formats mus

[2022-11-19 20:48] lastzero commented on #2922
But you would have to download two files. For now, that's how we do it.

[2022-11-19 22:26] zakafx commented on #552
No, I have left the config default other than minor things like mapped volumes and the author name. I did see that owncloud reference as well but yeah, works once then quits after.

[2022-11-20 00:19] zakafx commented on #552
@nimjor This worked! Doesn't resolve the actual issue, but it's a good workaround. As well, with this workaround, i don't have to have photoprism copying over the same files over to it's originals folder from nextcloud, so I save space with this. Thank you for your suggestion.

[2022-11-20 00:55] nimjor commented on #552
Exactly why I ended up going that route and haven’t looked back :)

[2022-11-20 05:57] CDeLeon94 commented on #2700
Yes, using your implementation via the `intel` target for `PHOTOPRISM_INIT` works as expected.

Thanks so much :-)

[2022-11-20 06:14] iamydp opened #2923 "8K video couldn't be displayed in the gallery"
I just uploaded the origin video file into the folder and rescaned, then nothing happened. After viewing the log I found that Photoprism couldn't discover this video file at all. I tried other 4k videos and it worked fine. I also used ffmpeg to transcode it from h265 to h264 but the question remained. Here is the video info.
![image](https://user-images.githubusercontent.com/26623485/202888542-f0c

[2022-11-20 06:30] lastzero commented on #2923
It's probably too large. Did you try to increase the file size limit yet?

[2022-11-20 09:48] #2923 closed, assigned to nobody

[2022-11-20 09:53] lastzero commented on #2922
You are welcome to contribute examples that use an env file to set configuration values:

- https://github.com/photoprism/photoprism-contrib

We won't use .env by default for now for a number of reasons, including maximum compatibility, simplicity (just one file), and the fact that we don't have time to update all of our documentation. There are pros and cons, many of which have already been discu

[2022-11-20 11:20] jojo-gfx commented on #98
Uaah, have seen it now that photoprism have no usermanagement after I setup it with 60k photos and now... uaaah!
This feature had to implement from beginning/planning the software ... urgs! Now it will be a heavy problem, it to implement after it is growing so big.
Hopefully you will have success with it because it is THE feature what is making the software incredible or relative senseless!
Hope!!

[2022-11-20 12:41] lastzero commented on #98
We would like to remind you that this is not a forum and that you can use GitHub Discussions for general questions and comments:

- https://github.com/photoprism/photoprism/discussions/1678

Thank you! 💖

[2022-11-20 15:44] gyto6 opened #2927 "Can't edit PHOTOPRISM_DISABLE_CHOWN on Unraid"
Hi,

I was having some trouble when sharing albums as the thumbnails stayed blank like this :

![image](https://user-images.githubusercontent.com/105558798/202911207-6fea6805-f50a-46c2-9817-367b47c5158f.png)

So I edited the variable in Unraid to set PHOTOPRISM_DISABLE_CHOWN as "false" in Unraid.

![image](https://user-images.githubusercontent.com/105558798/202911280-cc057485-4841-4826-adfc-cf3db2

[2022-11-20 16:06] lastzero commented on #2927
Did you set the PHOTOPRISM_UID variable?

[2022-11-20 16:07] lastzero commented on #2927
Otherwise, you have to manually fix permissions using the chmod and chown commands (or a graphical user interface).

[2022-11-20 16:08] gyto6 commented on #2927
My mistake, you answered before I finished to edit. I edited the GUID to 0 and that solve this error.

![image](https://user-images.githubusercontent.com/105558798/202912893-41710640-f1e7-4d1a-8241-137b7b8d1944.png)

![image](https://user-images.githubusercontent.com/105558798/202912758-82e8f440-ad44-4e34-8de1-07c3b8161f54.png)

I'm checking the thumbnails.

Thanks again

[2022-11-20 16:09] #2927 closed, assigned to nobody

[2022-11-20 16:11] gyto6 commented on #2927
I'll create a short tutorial in the contrib as this command is quite important to deal with permissions issues.

[2022-11-20 23:58] marcelbrueckner commented on #2922
This and because I store all my infrastructure code in Git is why I use an `.env` file.
Infrastructure code includes `docker-compose.yml`s and I don't want passwords to appear in my repository.

<details><summary>.env</summary>

[code]
</details>

<details><summary>docker-compose.yml</summary><br>

Changes:

* replaced service photoprism's `environment` attribute with `env_file: .env`
* added `MAR

[2022-11-21 08:34] jerome-cui opened #2928 "Index: Improve the query performance when flagging hidden files"
I noticed that there is a SQL query causes the CPU to 100% usage all the time, below is the information I found in db slow log:

[code]

This maybe the issue of Mariadb because it works with this query "_select count(*) from photos  WHERE (id NOT IN (SELECT photo_id FROM files WHERE file_primary = 1 AND file_missing = 0 AND file_error = '' AND deleted_at IS NULL))_", but how could I avoid this iss

[2022-11-21 08:40] lastzero commented on #2928
You can suggest a different query that does the same.

[2022-11-21 10:57] jerome-cui commented on #2928
It happens after I migrated the database from DB in docker to DB in host. It has no problem for db in docker so I tried to re-import the database again and seems it works now.
Sorry for this report and I will close it.

[2022-11-21 11:30] lastzero commented on #2928
I have already changed the queries. It would be great if you could test it when a new development preview is available later today!

[2022-11-21 13:24] Mandarancio opened #2929 "Add new album fails with error 409 "already exists""
Hi,

I am running the last release of Photoprism using the docker image on my Unraid server using `Mariadb` as database.
However I am running into a problem, every time I try to create a new album (both from the albums section or directly from a selections of pictures) I get the error that the album does exists already (of course is not the case).
On the log I got the following message:

[code]

C

[2022-11-21 14:37] lastzero commented on #2929
This problem existed in case the album was deleted (which means it is currently hidden). However, we should have fixed this issue. Can you please check the exact build number at the bottom of the Settings page?

[2022-11-21 20:42] baurmatt opened #2930 "Photos missing from Photoprism"
#### 1. What is not working as documented?

We found, that certain pictures are missing from Photoprism. Two examples:

[code]

Those files have been synced to Photoprism from WebDAV. I've ran the following commands to ensure all files have been properly indexed:

* `photoprism convert -f`
* `photoprism thumbs -f`
* `photoprism index -f`

#### 2. How can we reproduce it?

?

#### 3. What behavior

[2022-11-21 20:59] #2930 closed, assigned to nobody

[2022-11-21 21:52] baurmatt commented on #667
I have the same problem. Importing ~25k pictures into Photoprism took days not to mention the time it took us personally to create albums/tag faces/...

Some questions about this:

1. From what tables do they have to be removed? Only `photos`? Or `files` (and others) as well?
1. How can I detect stacked pictures? The row `photo_stack` in the table `photos` is always `0`.
1. Do I need to run `photo

[2022-11-22 03:18] inthreedee commented on #152
I found it interesting the way Apple handles scrolling through a timeline of photos on their iCloud website vs Google and thought I'd note it here for comparison.

Google has an actual timeline bar on the right that you can hover over to select the date range you're looking for.

iCloud, on the other hand, does not have this. Instead, it looks like iCloud loads a full history of all of your photos

[2022-11-22 07:42] Mandarancio commented on #2929
Hi @lastzero ,  I checked and the album was not deleted, the build number is the follow: 220527-005770ca
Could it be some mysql schema problem?

[2022-11-22 07:55] lastzero commented on #2929
No, you simply need to update.

[2022-11-22 07:57] lastzero commented on #2929
Was fixed here: https://docs.photoprism.app/release-notes/#june-17-2022

👉 https://docs.photoprism.app/getting-started/updates/

[2022-11-22 08:00] #2929 closed, assigned to nobody

[2022-11-22 08:03] GlassedSilver commented on #152
I do agree that Apple's approach is better. Something I'd appreciate beyond that is a quick date search in the form of a date picker maybe. (I know we have month and year selection, but I'm thinking about a dedicated single button to quickly select a date by picking one from a calendar view and additionally by punching in the numbers on the keyboard.

Also, it'd be amazing if this SCROLLED you to

[2022-11-22 09:08] lastzero commented on #152
Has anyone tested how well Apple's approach works for libraries with 1 to 4 TB of pictures? From what I've heard so far, it scales poorly and/or consumes huge amounts of RAM. Also, do you mean the mobile or desktop *Photos* app? What works well on mobile may not be best for desktop browsers and vice versa.

[2022-11-22 10:16] lastzero commented on #2922
Advanced users can set config values with `.env` or Kubernetes. After thinking about it again, we will not promote these to less experienced users for the following reasons:

- https://github.com/docker/compose/issues/8388
- https://github.com/photoprism/photoprism/discussions/2933

[2022-11-22 10:16] #2922 closed, assigned to nobody

[2022-11-22 11:03] lastzero commented on #2918
Did increasing the bitrate limit work for you?

[2022-11-22 11:45] titilambert commented on #2918
Where is this setting ? I don't find it

[2022-11-22 12:03] graciousgrey commented on #2918
It's this one: PHOTOPRISM_FFMPEG_BITRATE

--> https://docs.photoprism.app/getting-started/config-options/#file-converters :)

[2022-11-22 12:17] titilambert commented on #2918
Yeah ! Thanks ! Videos are now playing immediatly and with the original quality ! Thanks !!!!

[2022-11-22 15:14] inthreedee commented on #152
No, this was the iCloud website.

I have a little over 100GB of photos in there, so I don't know about terabytes. Their highest storage plan is 2TB so it's not possible to go beyond that.

I don't know if this is relevant, but they just released a new version of the iCloud website. I've never made heavy use of their photos app online before but, when I saw the banner about a new, faster site, I th

[2022-11-22 15:59] lastzero commented on #152
I was asking because I saw Apple users complaining on Twitter that adding lots of new files used more than 200 GB of RAM, so they had to close it and restart. That of course was for the Photos desktop app. Also, I'm not sure of scrolling is the best way to navigate through very large libraries or if it's rather a use case specific to private users with small to medium sized libraries where they to

[2022-11-22 18:54] Mandarancio commented on #2929
HI I updated the docker image to the build `221118-e58fee0fb`, however I am still not able to create new album, now I get the error:
[code]
So I think is a problem with the mysql schema...

[2022-11-22 18:59] Mandarancio commented on #2929
I fixed it by changing the database schema adding the `auto_increment` flag to the album id

[2022-11-22 19:01] lastzero commented on #2929
No one else has reported this... Maybe you migrated from SQLite or an unsupported MariaDB/MySQL version? I can really only guess at this point, which is probably not very helpful.

[2022-11-22 21:37] inthreedee commented on #152
Sounds bogus to me. I just checked the apple store and iMacs can only be configured with a max of 16GB RAM. Over 200 is... a lot  of RAM. Either way, I don't see any RAM issues using the website but I don't have a Mac so I can't check the desktop app. And I don't think the behavior of their desktop app is really relevant to us anyway, right?

What other ideas are on the table?

Sometimes I just wa

[2022-11-22 21:44] inthreedee commented on #152
Just to elaborate further on this. Let's say I'm browsing my photos from a trip a few years ago and I want to look for a particular moment. I remember that it was fall, so I scroll to roughly that date range. Then I remember that the leaves had more color on them than what I see here, so I scroll later into fall until the colors on the trees match what I remember.

Based on my example of leaf colo

[2022-11-22 21:56] lastzero commented on #152
Thank you so much for your feedback! We'll look into it once we're done with the features that are currently in development.

It always depends on where the software is running. Keep in mind that Apple's backend servers are extremely powerful compared to a Raspberry Pi or typical desktop PCs. It also depends on whether it's a desktop or web application. That's why I was asking.

[2022-11-22 22:06] inthreedee commented on #152
Ah, makes perfect sense.

Don't mind me if I keep the discussion going in here whenever I have further ideas or things to compare against. I feel like it's probably a good idea to have a range of options from various other photo tools for when the time comes to actually look into implementing this.

[2022-11-23 06:51] bigntallmike commented on #2888
`exiv2 -pp IMAGENAME` will show a list of available previews with sizes.
It would appear to be using the [PreviewManager](https://exiv2.org/doc/classExiv2_1_1PreviewManager.html) class to do so.

[2022-11-23 09:21] reitzig commented on #656
Use Case: Photo collection in a company.
- Employees must be able to opt-in/-out of certain usages of photos they are in.
- Employees should be able to call attention to certain photos if they think they are problematic and should be deleted.

[2022-11-23 12:51] GlassedSilver commented on #152
I can relate to this A LOT.

Scrolling is not ALWAYS the best discovery method, but no method will ever the best in every situation, that's why as many should be supported as possible.

[2022-11-24 13:24] comminutus opened #2936 "People: Photos With All Faces Assigned Appear Under “New Faces”"
#### 1. What is not working as documented?

I've recently imported my media using PhotoSync on iOS. After the initial index completed, I assigned names to all of the face clusters in People -> New.

There was one face cluster that had assigned some wrong faces to several photos, so I clicked on the reject button for the few faces that didn't match the person.

I then went to People -> New -> Show

[2022-11-24 13:52] lastzero commented on #2936
Could these be stacks so the unassigning face is on a non-primary image of the stack?

[2022-11-24 14:02] comminutus commented on #2936
@lastzero The photos in "new faces" that aren't being moved out of new faces don't appear in my "Stacks" area.

[2022-11-24 14:13] graciousgrey commented on #2936
Just to be sure I understand you correctly:  With "Reject one of the face clusters" you mean hiding faces --> https://docs.photoprism.app/user-guide/organize/people/#hiding-faces ?
On the edit dialog, did you also assign a name to the faces that belong to the face cluster you have hidden ?

[2022-11-24 14:24] comminutus commented on #2936
@graciousgrey No, sorry for the confusion.  It seems "hiding" a face disassociates a person's face from a photo and this is done by clicking the "X" button.

By rejecting the photo cluster I mean clicking the "eject" button described here: https://docs.photoprism.app/user-guide/organize/people/#change-people-assignments . I wasn't sure what the correct terminology is here, but it does say "When yo

[2022-11-24 14:34] graciousgrey commented on #2936
This is not hiding a face but removing a face  ;) https://docs.photoprism.app/user-guide/organize/people/#remove-faces

So you did reject a  name from a face on the edit dialog, then you added a new name to this face and exactly this photo still shows up under faces:new afterwards?

[2022-11-24 14:38] comminutus commented on #2936
@graciousgrey No I went to "Faces", then "New", then on one of the face clusters I clicked on the eject button.  I wasn't on the edit dialog, just on the main view of all of the faces.  This disassociated all of the photos in that face cluster with this person.  Then I went to "show all new faces," and started manually assigning the person associated with the photos that were just disassociated.

[2022-11-24 16:54] comminutus commented on #2936
Is there a workaround I can do in the meantime?  Can I remove this particular face from the database without having to start from scratch?  It seems disassociating the face from the photo doesn't remove the face from the database.

[2022-11-24 17:15] graciousgrey commented on #2936
Ok, so you have  hidden an unnamed face cluster on the people>new page by clicking the "x" ?

Then on the edit dialog of a photo that has a face from this cluster you added a name to the face that belongs to the hidden cluster and you also added names to all other faces that have been detected on this photo.

Then after a refresh this photo still shows up when you click show all new faces?

[2022-11-24 18:32] comminutus commented on #2936
@graciousgrey

No, I never said that I clicked on an "x" to hide a face.  I've only clicked on the "eject" button (⏏️) on the page where it shows all the different face clusters (People -> New), as described in the "Change People Assignment" section of the documentation on People (linked earlier).

After clicking the ⏏️ button, then I went to "show all new faces," then edited a photo that contains

[2022-11-24 19:35] graciousgrey commented on #2936
Could you provide us with some screenshots? The eject button is only visible on the people tab of the edit dialog, not on the people>new page.

[2022-11-24 19:41] graciousgrey commented on #2936
If you rejected a name from a face using the edit dialog as described here: https://docs.photoprism.app/user-guide/organize/people/#change-people-assignments it is expected that face clusters are updated.
This means other faces of the original cluster might have been removed from the cluster as well and will appear under "show all new faces" again.
If you afterwards add names to those faces so tha

[2022-11-24 20:20] comminutus commented on #2936
@graciousgrey Sorry, my mistake.  I thought there was an eject button on the entire face cluster.  I must've manually hit the eject button on the photos that didn't match the person.  Nonetheless, when I assign names to all the faces found in hundreds of photos in the 'new faces' area, they aren't disappearing from the 'new faces' area and remain.

[2022-11-24 20:34] graciousgrey commented on #2936
With "New Faces area" you mean "Show all new faces"? Does a reload help?

Do you see any errors on /library/errors?

I will try to reproduce it tomorrow.

[2022-11-24 21:19] comminutus commented on #2936
Yes, "Show all new faces" still shows several photos that have all faces assigned.  Some of the interesting messages from /library/errors:
[code]

[2022-11-24 21:21] comminutus commented on #2936
Also refreshing, restarting, and even re-indexing doesn't help unfortunately.

[2022-11-24 21:22] lastzero commented on #2936
This message indicates inconsistent naming or very similar faces that cannot be distinguished, like siblings or small children.

[2022-11-24 21:36] comminutus commented on #2936
@lastzero that makes sense, but probably an independent problem not related to this since all the faces are assigned but still appear in "Show all new faces"

[2022-11-25 02:11] comminutus commented on #2936
This sounds strikingly similar to what I'm experiencing:  https://github.com/photoprism/photoprism/discussions/2030

[2022-11-25 08:17] graciousgrey commented on #2936
Unfortunately I can't reproduce your issue on our instances.

How many files are associated to your photo? You can find this information on the files tab of the edit dialog (https://docs.photoprism.app/user-guide/organize/edit/#edit-files).
In the discussion you mentioned,  the problem was that two files with faces on them have been stacked.

[2022-11-25 09:34] lastzero commented on #2936
Screenshots or a video might be helpful as well.

[2022-11-25 12:13] comminutus commented on #2936
On one, a "live photo," there is 15 files associated with the photo. This photo appears under "Show all new faces" but if you go to Edit -> Faces there are no faces displayed.

On another "live photo," there are 8 files associated with the photo with two faces, both assigned.  This photo exists in a stack.

These are just a couple of examples but the problem appears over hundreds of photos.

There

[2022-11-25 12:14] comminutus commented on #2936
Sure, here's the photo that appears under "Show all new faces" but has no faces to assign (redacted personal information):
![Screenshot from 2022-11-25 1](https://user-images.githubusercontent.com/113857766/203983924-b2b913cc-c997-4dfb-9383-990f1240f83a.png)
![Screenshot from 2022-11-25 2](https://user-images.githubusercontent.com/113857766/203983930-332bce1f-1fc8-4c79-99fa-aecbd8158871.png)
![Scr

[2022-11-25 12:16] comminutus commented on #2936
Here's another which has two faces, both assigned, but still appear in "Show all new faces" (redacted personal information):
![Screenshot from 2022-11-25 4](https://user-images.githubusercontent.com/113857766/203984143-a3fdeb11-e012-4f1b-936d-158326c794bc.png)
![Screenshot from 2022-11-25 5](https://user-images.githubusercontent.com/113857766/203984144-30a9ac28-9a91-4570-a8d4-a8766aae1f54.png)
![S

[2022-11-25 12:18] comminutus commented on #2936
Is there some way to debug why these photos still appear under "new faces?"

[2022-11-25 12:45] graciousgrey commented on #2936
Those are stacks. So probably on the non-primary JPGs there are faces as well that have no names assigned yet.

You can read more about stacks here: https://docs.photoprism.app/user-guide/organize/stacks/#unstack-files

[2022-11-25 12:48] lastzero commented on #2936
**So it seems that the problem is indeed related to stacked files, as I first suspected?**

- Judging from your screenshots, the images might have been stacked because they were taken at the same place and time (at least the time seems to match based on the file name).
- To prevent the files from getting stacked, please disable the feature(s) in *Settings > Library*.
- The Faces tab in the Edit di

[2022-11-25 12:55] lastzero commented on #2936
Although the UI could always use improvements and more features, I'm closing this issue for now since it seems to be working as intended. If these pictures weren't displayed, you wouldn't have noticed the actual problem with the stacks, which is also why we won't be changing it. However, the documentation should be improved to cover this particular case and reduce the number of related support req

[2022-11-25 12:55] #2936 closed, assigned to lastzero

[2022-11-25 12:57] lastzero commented on #2936
You are welcome to help improve our docs by sending a pull request:

👉 https://github.com/photoprism/photoprism-docs

[2022-11-25 13:16] comminutus commented on #2936
Shouldn't all images in a stack disappear from "Show all new faces" if all faces in the primary photo have been assigned?  This problem doesn't seem that rare given it's over hundreds of my images.

[2022-11-25 13:17] comminutus commented on #2936
It seems the live photo has been stacked with other photos.

[2022-11-25 13:22] lastzero commented on #2936
If these pictures were not displayed, you would not have noticed the actual problem with the stacks, which is why we are not going to change it. Note that it doesn't make sense to show all faces of all stacked images in the tab, because then there would be lots of duplicates and you wouldn't know which face belongs to which file.

Exactly. It doesn't look right to me, but figuring out why (mislead

[2022-11-25 13:31] comminutus commented on #2936
But ideally in cases where the images were stacked correctly, I don't want to unstack the stack.  To fix the problem, I have to unstack the images, which defeats the purpose of the stack in the first place, and then assign all of the faces correctly.  At this point the faces are correct and don't appear in "Show all new faces" but I've lost the usefulness of the stack.

[2022-11-25 13:37] lastzero commented on #2936
Do we know yet if the stack is useful and why the files were stacked? IMHO that should be figured out first before taking any further steps...

[2022-11-25 14:09] lastzero commented on #2928
Any update on this?

[2022-11-25 14:11] jerome-cui commented on #2928
Sorry for the late reply. I did some test on the latest preview and there is no more slow sql query like this.
Thanks for your work.

[2022-11-25 14:16] lastzero commented on #2928
Excellent, thank you!

[2022-11-25 15:13] comminutus commented on #2936
@lastzero I do have, for example, a stack that has 2 raw images and 2 jpeg files (I'm guessing PhotoPrism generates these jpegs as sidecar files to the raw files).  The two images are very related, and I definitely want them to be stacked.  I found this stack from the "Show all new faces" option, but all faces are already assigned.  In order to correct the problem, I will have to unstack the two i

[2022-11-25 15:29] lastzero commented on #2936
Generally, secondary images will not be searched for faces for that reason. However, there is this special case where they do get stacked after detection. We'll be able to handle this in futures releases as our UI is getting more features. Bug means we let everything drop right now, stop working on multi user which everyone is waiting for, then focus on developing new features to solve this very s

[2022-11-25 15:32] graciousgrey commented on #2936
For now you can simply change the primary file to assign names to the faces that have no names yet, there is no need to unstack the files if you want them to stay stacked.

https://docs.photoprism.app/user-guide/organize/stacks/#change-primary-files

[2022-11-25 15:43] comminutus commented on #2936
I can certainly understand that there can be higher priorities than to fix this, but saying it's not a bug doesn't quite seem right since it clearly is one.

Isn't it possible to have features that are higher priorities than bugs?

[2022-11-25 15:44] comminutus commented on #2936
I tried doing that but original face still shows up in the faces dialog and I can't edit the other image in the stack's face.

[2022-11-25 15:54] lastzero commented on #2936
We'll document it so it is a known issue. Was hoping for some support from your side.

[2022-11-25 15:56] comminutus commented on #2936
@lastzero ok, thanks. I'll be becoming a sponsor in December ;)

[2022-11-25 17:23] davidetoile opened #2938 "Publish his own icon of the app"
Hi!

It would be great to publish his own personal icon for the app.
Today AFAIK, you can only choose variants of the official design using the configuration file:
PHOTOPRISM_APP_ICON | --app-icon |   | progressive web app ICON (logo, app, crisp, mint, bold) sponsors only

[2022-11-25 17:35] lastzero commented on #2938
Our Pro Edition includes additional customization options and can be licensed as a whitelabel solution if needed.

[2022-11-25 17:43] davidetoile commented on #2938
@lastzero Thanks. Did you mean Plus edition?

Community | Essentials | Plus | Cloud

[2022-11-25 17:44] graciousgrey commented on #2938
No, the professional editions :

https://photoprism.app/teams#compare

[2022-11-25 17:49] davidetoile commented on #2938
@graciousgrey Thanks, OK I get it. 6000€ per year is clearly ahead of my budget for just this ;-)
A sponsored community edition could have more features, regarding the other open source solutions available (piwigo, zenphoto etc). But thanks anyway for the info!

[2022-11-25 17:53] lastzero commented on #2938
€99 per month if you are a small business.

[2022-11-25 22:44] antoniomacri commented on #1548
I'm also very interested in this issue, or the simpler version which just adds people without markers.

Have you evaluated or found problems on [kvalev proposal](https://github.com/kvalev/photoprism/pull/51)?

How could anyone help?

[2022-11-26 01:05] kirkanos commented on #1536
This would be a very nice Feature. It's nearly the only point I miss in PhotoPrism. Nice work, I love it.

[2022-11-26 07:41] graciousgrey commented on #1548
As mentioned in the ticket description, a prerequisite for this is a new photoviewer #1307 .

For adding people without a marker there is a separate issue: https://github.com/photoprism/photoprism/issues/1863

Users can help by becoming a [member](https://photoprism.app/membership) or by helping with issues marked "Help wanted" :)

[2022-11-26 09:19] benplumley commented on #852
I came across this issue while trying to figure out why I couldn't install the PWA. For me, putting the server behind Caddy and setting up HTTPS was enough to make the "Install" button to appear in Firefox and Chrome's menus.

The information at https://docs.photoprism.app/user-guide/pwa#__tabbed_1_2 is slightly wrong - it says "Click Add to Home screen" to install the PWA. This actually just adds

[2022-11-26 09:27] lastzero commented on #852
Yes, HTTPS is usually required unless you run it on the same host (if you install the PWA on a desktop computer). On Android, the results of "Install" and "Add to homescreen" are essentially the same.... I can't see any difference in functionality, only the icons are different and I think with "install" you can't edit the app name.

[2022-11-26 09:32] lastzero commented on #852
@graciousgrey will update our docs accordingly 👍

[2022-11-26 09:43] benplumley commented on #852
In Firefox for Android, the results are quite different - Install installs a thing that has no browser chrome, whereas "Add to homescreen" adds a bookmark that opens in a regular browser tab with full browser chrome. I'd describe the former as a PWA and the latter as a bookmark. Chrome ~~might~~ does work differently though, they seem to be equivalent there.

[2022-11-26 10:02] lastzero commented on #852
I would assume that PWAs are always opened with Chrome while bookmarks will be opened in the browser that added them. Thus the difference if you don't use Chrome as your main browser. On iOS, even Chrome uses the Safari engine. Apple enforces this, they have no choice.

[2022-11-26 10:10] benplumley commented on #852
This doesn't seem to be the case on my phone (Mi 9T with MIUI12) - opening the PWA originally installed from Firefox, then opening its "App info" page from the switcher, opens the app info page for Firefox.

[2022-11-26 13:41] ricketyboo commented on #147
@jojo-gfx I just recently did a photoprism lxc ct build based on these instructions and it's been working great. I am using Ubuntu instead of debian but not much difference there really. Maybe it'll help with your issues
https://github.com/IndrekHaav/photoprism-debian

[2022-11-26 14:22] lastzero commented on #2936
:point_right: https://docs.photoprism.app/known-issues/#photos-with-all-faces-assigned-appear-under-new-faces

[2022-11-27 08:53] harshavmb commented on #147
While this is great! I have a question about migrations/upgrades. You would need to make some schema changes right.
Currently, the docker-compose handles this. Is this something you have considered?
I'm also very biased about running this directly on a VM rather than on a container. Going to give it a try soon..

[2022-11-27 09:51] jojo-gfx commented on #147
Hi, after many hours I have now a good way also to install it in a VM. :)
I also using Ubuntu (in version 22.04) and if I do install docker directly in the setup I have no problems anymore.
Also the port settings in yml-file were a mistake but after I understand the line my problems were solved. :)
But, if you have a good designed container, please make a upload for other users, because this is a

[2022-11-27 19:28] dror3go commented on #2891
While I understand the technical rationale - as an end user I still find it to be a bug.
Though not a German speaker myself, I think it's a little bit like if German letters such as Ä and Ö would've been replaced with A and O.
As I mentioned in the original post - I think it's not a high priority issue, but still an issue nonetheless. I feel that labeling it as documentation issue is saying it's W

[2022-11-27 19:40] lastzero commented on #2891
Would have been replaced? Where? How?

![Screenshot_20221127_203940](https://user-images.githubusercontent.com/301686/204156083-edc04969-9cc6-4ca9-99ae-5996facdb849.jpg)

[2022-11-27 21:42] dror3go commented on #2891
They're **not**, that's my point.
As an end user - would you think it was a bug if PhotoPrism replaced the first two letters to "OA"?

[2022-11-28 06:46] lastzero commented on #2891
בּד״א
works as well
״ is not the same as "

[2022-11-28 06:52] lastzero commented on #2891
All of the examples I found on https://www.myjewishlearning.com/article/a-guide-to-jewish-acronyms-and-abbreviations/ can be used as album names, just not the ASCII " which would require escaping and a lot of security checks and which technically is not the right character for RTL languages either as it is LTR.

[2022-11-28 07:01] lastzero commented on #2891
Would you be happy if we convert " to a proper Unicode character?

[2022-11-28 08:48] lastzero commented on #2891
I have started a development preview build for testing. It should be ready within an hour. You can then also use our demo to test it.

[2022-11-28 09:09] chrkau opened #2946 "Config: Do not search empty template paths for files"
#### 1. What is not working as documented?

If `CustomTemplatesPath` is not set it defaults to `""`. This is expanded by `TemplateFiles` to `/[A-Za-z0-9]*.*"` which means pretty much all files at `/` are considered templates. This in turn means that if there are any files at the root of the file system (of the container) the app won't start.

#### 2. How can we reproduce it?

Steps to reproduce th

[2022-11-28 09:11] lastzero commented on #2946
Thanks for reporting this!

[2022-11-28 09:23] ecker00 commented on #1439
My family use this extension on all our machines (Vivaldi and Firefox), so we're unable to close videos. The browser console when you click outside the video to close it, logs error `e.pause is not a function`.

Looking a bit closer at the source code of PhotoPrism, seems that the video element returned from `methods.videoEl() { this.$el.childNodes[0] }` function does not get the video element wit

[2022-11-28 09:31] lastzero commented on #1439
Feel free to suggest tested code changes via pull request. We are currently too busy to do this and perform all the testing necessary.

[2022-11-28 09:33] lastzero commented on #2946
Let us know if this works for you! I have also started a new preview build for testing. It will be ready within an hour.

[2022-11-28 09:36] ecker00 commented on #1439
@lastzero Found the offending line in the Vue source and created a pull request. 👍 Only changed the line so it specifically grabs the video element instead of the first child:
`return this.$el.getElementsByTagName('video')[0];`

[2022-11-28 10:41] lastzero commented on #2891
See also:

- https://en.wikipedia.org/wiki/Gershayim
- https://www.fileformat.info/info/unicode/char/05f4/index.htm

[2022-11-28 10:55] graciousgrey commented on #852
Docs have been updated: https://docs.photoprism.app/user-guide/pwa/#__tabbed_1_2 :)

[2022-11-28 14:59] lastzero commented on #1439
I've started a development preview build for testing! It should be ready within an hour. You can then also use our demo to test it.

[2022-11-28 15:11] danielunderwood commented on #2291
It may be worth noting that upgrading the version fixed the issue with new uploads, but I had to do something like the following to fix previously uploaded photos:
[code]

I'm not sure if it was one particular step here that fixed the issue, but I ended up trying all of them before the issue was resolved.

[2022-11-28 15:31] dror3go commented on #2891
Yes, I'm well aware :)

Thing is that de-facto nobody other than Apple devices is using this character, since it's not exposed to users on physical and non-physical keyboards.
Even worse - Apple automatically converts " to ״ even when it's clearly wrong, like in code-related things. Imagine you send your teammate a snippet of a log which includes strings with quotes - your teammate will receive a

[2022-11-28 15:49] lastzero commented on #2891
Thank you for your feedback! Much appreciated. If you look at our search filter overview, you'll notice that we use `"` to quote strings with spaces:

- https://photoprism.app/kb/search-filters

So to search for `"` you would have to escape it in some way, which many users probably wouldn't do (instrictively). If you use the character for file and folder names, you would also have to replace or es

[2022-11-28 15:55] graciousgrey commented on #2291
_"Indexing is also necessary to find and view HEIC, DNG, and AVIF images that were previously unsupported or had errors. In some cases with incorrectly converted images, it may be necessary to recreate the JPEG sidecar files by running the photoprism convert -f command [in a terminal](https://docs.photoprism.app/getting-started/docker-compose/#command-line-interface) before starting the rescan. To

[2022-11-28 16:01] lastzero commented on #2891
A good starting point to learn more about Unicode equivalence in search is the Wikipedia article:

- https://en.wikipedia.org/wiki/Unicode_equivalence

[2022-11-28 21:00] ecker00 commented on #1439
Tested in both Chrome and Firefox, fix work as expected in the live demo. 👍🎉 Thank you for merging and deploying so quickly, awesome! Guess it will be included in the next official release?

[2022-11-28 21:07] lastzero commented on #1439
Not 100% sure... We need to complete some backend tasks first so that users can upgrade directly in the app. Probably in the next week or two. You can temporarily use the `:preview` image. At the moment there are no major changes, mainly fixes and updated translations:

- https://docs.photoprism.app/release-notes/#development-preview

[2022-11-28 21:54] ecker00 commented on #2936
Just adding the fact that I'm also experiencing this. The cause seems to be stacked photos.

Could a solution be to show the faces from each image separated by files on the "People" tab? Similar UI to how each file is shown in the "Files" tab?

[2022-11-28 22:09] lastzero commented on #2936
It would be very confusing to just display all the faces, especially if the images really belong together, because that would just look like a lot of duplicates. While it would be possible to develop a different UI/UX concept, that would also be quite expensive (and most users still would not need it). Ultimately, the best way to improve this is to improve our funding (which we are working on righ

[2022-11-29 10:22] timdonovanuk commented on #147
FYI there is a Photoprism LXC helper script available here: https://tteck.github.io/Proxmox/

It has a wizard that talks you through setting up the LXC and even has an automatic update script available.

I would highly recommend it + the other LXC templates on that page.

tl;dr: run `bash -c "$(wget -qLO - https://github.com/tteck/Proxmox/raw/main/ct/photoprism-v4.sh)"` on your Proxmox host and yo

[2022-11-29 11:14] jojo-gfx commented on #147
Yes, but the script is running into Errors after a while of installation on proxmox (most usecase)... (seems it is too old?).
Or is it a new script now?

[2022-11-29 11:16] timdonovanuk commented on #147
There was an update on 2022-08-19, I thought that fixed the issues. Not tested though! There are currently no open issues regarding it so I think it's now fine.

[2022-11-29 11:27] jojo-gfx commented on #147
My test was later so the script still has problems, could be with Proxmox 7 only?

[2022-11-29 12:41] jojo-gfx commented on #147
Oh, I've test it now again and nor it works! :D
Last period I've test it the script was hanging up on dependencies and was frozen, as far I know.
Could be there were any ressources not available? Would be nice the sript would not fail there if any goes wrong there or stop installation after short time and give a error like "try it later"?
So it seems if all ressources are available it works also o

[2022-11-30 13:15] lastzero commented on #2913
**We have updated our documentation for you to clarify which versions are supported and what the best upgrade strategy is:**

Our [configuration examples](https://dl.photoprism.app/docker/) are usually based on the [current stable version](https://mariadb.com/kb/en/mariadb-server-release-dates/) to take advantage of performance improvements. This does not mean that older versions are no longer sup

[2022-11-30 15:31] legomannetje commented on #2464
Sorry for responding to this old issue, but would it be possible to use the webdav in public mode. We used this feature to upload pictures to photoprism, while others could only look at them. Or is the current advice to move the pictures to an other backend?

[2022-11-30 15:33] lastzero commented on #2464
If it is public, they cannot only look at them but would have full server access. That's why authentication with a password is required.

[2022-11-30 15:34] benplumley opened #2957 "UX: Add "Share" button to PWA"
**Describe what problem this solves and why this would be valuable to many users**

A common pattern in image-viewing mobile apps is the Share button, to quickly send an image from the current app into a different app (eg directly to a contact in a messaging app). This button triggers a system dialog to appear with the user's other apps listed. Photoprism currently doesn't have a button for this.

[2022-11-30 15:35] benplumley commented on #2957
Sorry, this is a complete duplicate of https://github.com/photoprism/photoprism/issues/658 and https://github.com/photoprism/photoprism/issues/1492 - I searched open issues but forgot to search closed ones!

[2022-11-30 15:36] legomannetje commented on #2464
In public mode with read-only we were able to upload pictures to the webdav. But since updating this isn't working anymore

[2022-11-30 15:39] lastzero commented on #2464
Right, that was the security issue we fixed. That should not be allowed.

[2022-11-30 15:42] legomannetje commented on #2464
Okay, then it's back into the documentation to see how to upload pictures to it while its in public mode! Thanks for your help, and all your work on this amazing app!

[2022-11-30 15:45] graciousgrey commented on #2957
I will close this as duplicate, feel free to add additional information/ideas as a comment to #658

[2022-11-30 15:45] #2957 closed, assigned to nobody

[2022-11-30 15:45] lastzero commented on #2464
You could use SSH / SCP or a network file system for that.

[2022-11-30 15:49] legomannetje commented on #2464
The problem is, we don't have those access to it currently, we were very happy that we could do it this way with a reverse nginx proxy. But thats something we will need to solve

[2022-11-30 18:36] bschnei commented on #2464
@legomannetje FWIW, if you're willing to build from source yourself, you can just change [this line](https://github.com/photoprism/photoprism/blob/develop/internal/config/config_features.go#L7) to restore previous behavior.